/**
 *Widths
 */
%one-nine {
 	width: 11.1111%;
 	display: inline-block;
}
%two-nine {
 	width: 22.2222%;
 	display: inline-block;
}
%three-nine {
	width: 33.3333%;
 	display: inline-block;
}
%four-nine {
 	width: 44.4444%;
 	display: inline-block;
}
%five-nine {
	width: 55.5555%;
	display: inline-block;
}
%six-nine {
	width: 66.6666%;
	display: inline-block;
}
%seven-nine {
	width: 77.7777%;
	display: inline-block;
}
%eight-nine {
	width: 88.8888%;
	display: inline-block;
}
%nine-nine {
	width: 100%;
	display: block;
}

%page-wrap-width {
 	display: block;
 	width: 100%;
 	max-width: 960px;
}


/***************
* Global Header
************/

header.header {
	max-width: 960px;
	padding-top: 0px;
	
	.siteinfo {
		position: static;
		max-width: none !important;
		padding-top: 8px;
		.main-logo img {
			max-height: none;
		}
	}
	.header-region {
		padding-left: 30px;
		padding-top: 6px;
	}
	nav.the-main-menu {
		margin-left: 15px;

		.level-1-li:not(:first-child) {
			background-image: url('/sites/all/themes/the_franchise/img/top-nav-arrow.png');
			background-repeat: no-repeat;
			background-position: left center;
		}
	}
}

#tippyTopMenu {
	background-image: url('../img/favorite-salads.png');
	background-repeat: no-repeat;
	background-position: 15px 25px;

	.above-main-menu {
		padding-right: 0px !important;
	}
}

/**
 * Containers
 */

body > header, .page, footer {
}

/******
 *Page
 ***/

.section-menu {
 	a {
 		font-size: 14px !important;
 	}
 	.indent1 {
 		font-size: 14px !important;
 	}
}

 .in-the-news {
 	padding-right: 80px;
 }
/***
 * Basic Page Styles
 **
 */
 
 .front .in-the-news {
	display: inline-block;
	margin-right: 0px;
	margin-left: 0px;
}

/**
 * Team
 */

.team {
	& > div {
		padding: 20px 0px;
	}
	img {
		width: 150px;
		max-width: none;
		float: left;
	}
	.text-wrap {
		padding-left: 40px;
		width: auto;
		overflow: hidden;
		text-align: left;
	}
	h2 {
	}
	h4 {
	}
	p {
	}
}

/**
 * Secondary Landing Page Styles
 */
.secondary-bucket-wrap {
	max-width: none;
	display: block;
	margin-right: 0px;
	margin-left: 0px;
}
/**
 * Picture Box
 */

/**
 * Buckets
 */

%bucket-wrap {
	.one-bucket {
		width: 100%;
	}
	.two-bucket {
		width: 50%;
	}
	.three-bucket {
		width: 33.333%;
		padding: 0px 2%;

		&:first-child {
			padding-left: 0px;
			padding-right: 4%;
		}

		&:last-child {
			padding-right: 0px;
			padding-left: 4%;
		}
	}
	.four-bucket {
		width: 25%;
		padding: 0px 2%;

		&:first-child {
			padding-left: 0px;
			padding-right: 4%;
		}

		&:last-child {
			padding-right: 0px;
			padding-left: 4%;
		}
	}
}

/**
* Global Footer
*/

footer {

}

.footer-about, .footer-menu, .footer-social {
}

.footer-about {
	padding-right: 30px;
}

.footer-menu {
	border-left: 1px solid white;
	border-right: 1px solid white;
	padding: 0px 29px;
}

.footer-social {
	padding-top: 90px;
}