/**
 *Page Set-Up
 */

%page-wrap-width {
 	display: block;
 	width: 100%;
 	max-width: 1080px;
 }

.page, footer {
}

.header-wrap header {
	max-width: 1080px;
}

.siteinfo {
	padding-top: 18px !important;
}

header.header {
	padding-top: 0px;
}

.the-main-menu {
	opacity: 0;
	-webkit-transition: opacity .15s ease-in-out;
	-moz-transition: opacity .15s ease-in-out;
	-ms-transition: opacity .15s ease-in-out;
	-o-transition: opacity .15s ease-in-out;
	 transition: opacity .15s ease-in-out;

	&.ready {
		opacity: 1;
	}

	* {
		overflow: hidden;
	}
	
	.level-1-ul {
		display: block;
		height: 66px;
		overflow: visible;
		background-image: url(../img/menubar-grad.png);
		background-repeat: repeat-x;
		background-position: left top;
		background-size: auto 66px;
		font-size: 0;

		.level-1-li {
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			display: inline-block;
			vertical-align: top;
			height: auto;
			width: 20%;
			height: 100%;
			overflow: visible;

			&:first-child {
				width: 24%;

				.level-1-a {
					width: 165px;
				}
			}
			&:last-child {
				width: 14%;

				.level-1-a {
					width: 70px;
				}
			}
			&:nth-child(2) {
				width: 21%;

				.level-1-a {
					width: 135px;
				}
			}
			&:nth-child(3) {
				width: 19%;

				.level-1-a {
					width: 120px;
				}
				
			}
			&:nth-child(4) {
				width: 22%;

				.level-1-a {
					width: 145px;
				}
				
			}

			.level-1-div {
				display: block;
				height: auto;

				.level-1-p {
					display: inline-block;
					height: 60px;
					vertical-align: middle;
					color: $menu-num-orange;
					font-size: 45px;
					font-family: $museo;
					width: 50px;
					text-align: center;
				}

				.level-1-a {
					display: inline-block;
					vertical-align: middle;
					color: $white;
					font-size: 15px;
					font-family: $museo;
					text-align: center;
					text-decoration: none;
				}
			}
		}
	}	
	.level-2-ul {
		position: relative;
		z-index: 1000;
		display: block;
		max-height: 0px;
		height: auto;
		background-image: url('../img/dropmenu-bot.png'), url('../img/dropmenu-top.png');
		background-repeat: no-repeat, repeat-y;
		background-position: left bottom, left top;

		-webkit-transition: .3s ease-in-out;
		-moz-transition: .3s ease-in-out;
		-ms-transition: .3s ease-in-out;
		-o-transition: .3s ease-in-out;
		 transition: .3s ease-in-out;

		.level-2-li {
			padding-bottom: 10px;
			display: block;

			&:first-child {
				padding-top: 10px;
			}

			div {
				display: block;
				text-align: center;

				.level-2-a {
					font-size: 14px;
					font-weight: 500;
					color: $orange;
				}
			}
		}
	}
	.level-1-li:hover {
		background-image: url('../img/sel-menubar-left.png'), url('../img/sel-menubar-.png'), url('../img/sel-menubar-mid.png');
		background-repeat: no-repeat, no-repeat, repeat-x;
		background-position: left top, right top, left top;
		
		.level-1-div {

			.level-1-p {
				color: $white;
			}

			.level-1-a {

			}

			.level-2-ul {
				max-height: 300px;

				.level-2-li {

					.level-2-div {

						.level-2-a {
							
						}
					}
				}
			}
		}
	}
}
.section-menu {
 	a {
 		font-size: 15px !important;
 	}
}

.inquire-now {
	font-size: 2.1 * $em;
	width: 188px;
	height: 50px;
}