.desktop-only {
	display: none !important;
}
.easy-breadcrumb {
	display: none !important;
}
.header-wrap {
	padding-top: 30px;
	padding-bottom: 0px;

	header.header {
		background-color: $white;

		.header-region {
			padding-top: 40px;
		}

		.siteinfo {
			img {
				max-height: 100px;
			}
		}

		#tippyTopMenu {
			position: absolute;
			display: inline-block;
			width: auto;
			top: -20px;
			right: 0px;
			font-size: 11px;
			color: white;
			padding-right: 10px;
			
			.above-main-menu {
				display: inline-block;

				ul {
					display: inline-block;

					li {
						padding: 0px 3px;
					}
				}
			}

			a {
				font-family: $museo;
				color: $white;
				font-size: 1 * $em;
			}
		}

		.order-now-wrap {
			display: none;
		}
	}

}
/**
 *The Main Menu
 */
.the-main-menu {
	height: auto;

	* {
	}
	.level-1-ul {
		height: auto;
		max-height: 0px;
		background-color: white;
			-webkit-transition: .5s ease-in-out;
			-moz-transition: .5s ease-in-out;
			-ms-transition: .5s ease-in-out;
			-o-transition: .5s ease-in-out;
			 transition: .5s ease-in-out;

		.level-1-li {
			display: block;
			padding: 10px 0px;
			text-indent: -10000px;

			-webkit-transition: .5s ease-in-out;
			-moz-transition: .5s ease-in-out;
			-ms-transition: .5s ease-in-out;
			-o-transition: .5s ease-in-out;
			 transition: .5s ease-in-out;

			.level-1-div {
				.level-1-p {
					display: none;
				}
				.level-1-a {
					color: $orange;
				}
			}
		}
	}	
	.level-2-ul {

		.level-2-li {
			padding: 5px 0px;
			text-indent: -10000px;
			display: block;

			-webkit-transition: .5s ease-in-out;
			-moz-transition: .5s ease-in-out;
			-ms-transition: .5s ease-in-out;
			-o-transition: .5s ease-in-out;
			 transition: .5s ease-in-out;

			div {
				.level-2-a {
					color: $orange;
					font-weight: 500 !important;
				}
			}
		}
	}
}

nav ul.level-1-ul li.level-1-li div.level-1-div .level-2-ul {
	display: block !important;
}

.the-main-menu {
	&.active-menu {
		padding-bottom: 30px;
		* {
		}
		.level-1-ul {
			max-height: 700px;
			.level-1-li {
				text-indent: 5%;
				.level-1-div {
					.level-1-p {
					}
					.level-1-a {
					}
				}
			}
		}	
		.level-2-ul {
			.level-2-li {
				text-indent: 10%;
				div {
					.level-2-a {
					}
				}
			}
		}
	}
}

.front .in-the-news h2 {
	margin-bottom: 0px;
}

.front, .is-photo-tour {
	#main-content {
		width: 100%;
		padding-top: 30px;

		.skin-default {
			background: #fff;
			background-repeat: repeat;
			background-position: left top;
			background-clip: content-box;

			.views-slideshow-bxslider {
				box-sizing: border-box;
				-moz-box-sizing: border-box;
				padding: 10px;
			}
		}
		.under-shadow {
			display: none;
		}
 		.under-slider-menu {
 			display: none;
 		}
	}
}

.is-photo-tour {
	footer {
		padding-top: 20px;
	}

	#main-content {
		padding-bottom: 0px;
	}

	.thumbnail-nav {
		display: none;
	}
	.big-img {
		display: none;
	}
}

.footer-social {
	padding-top: 10px;
}
.footer-menu ul li a {
	text-decoration: underline;
}

.about-saladworks {
	.sidebar-first {
		display: inline-block;
		float: none;

		.section-menu {
			text-align: left;
			padding-top: 30px;
			font-size: 18px;
		}
	}
}
.node-type-page #main-content, .node-type-article #main-content {
	padding-bottom: 0px;
}