/***************
* Mobile Only
************/

.mobile-only {
	display: none;
}
 .mobile-hide {
 	display: auto !important;
 }


/***************
* Global Header
************/

header.header {
	padding-top: 40px;
	position: relative;

	.siteinfo {
		display: block;
		width: 10%;
		position: absolute;
		top: 15px;
		max-width: 90px;

		.main-logo {
			margin-top: 2px;
			width: 100%;
			max-height: none;
		}
	}
	.header-region {
		width: 100%;
		padding-top: 20px;

		.fancy-menu {
			& > ul { /*All links*/
				font-size: 0;

				& > li { /*One first level link li*/
					font-size: $em;
					width: 20%;
					height: 50px;
					vertical-align: top;
					text-align: center;

					&:first-child {
						& > a {

						}
					}
					&:nth-child(2) {
						& > a {

						}
					}
					&:nth-child(3) {
						& > a {

						}
					}					
					&:nth-child(4) {
						& > a {

						}
					}
					&:last-child {
						& > a {

						}
					}

					& > a { /*First level link anchor*/
						font-size: 1.3em;
						display: inline-block;

						&:before {
						}
					}

					& > ul { /*Second level child links*/
						display: none;

						& > li { /*One second level link li*/
							& > a { /*Second level link anchor*/

							}
						}
					}
				}
			}
		}
	}
}
/**
 *The Main Menu
 */
.the-main-menu {
	height: auto;
	opacity: 0;

	&.ready {
		opacity: 1;
	}
	
	.level-1-ul {
		display: block;
		height: 44px;
		overflow: visible;
		background-image: url(../img/menubar-grad.png);
		background-size: auto 44px;
		background-repeat: repeat-x;
		background-position: left top;
		font-size: 0;

		.level-1-li {
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			padding-top: 0px;
			display: inline-block;
			vertical-align: top;
			height: auto;
			width: 20%;
			height: 100%;
			overflow: visible;

			&:first-child {
				width: 24%;

				.level-1-a {
					width: 131px;
				}
			}
			&:last-child {
				width: 14%;

				.level-1-a {
					width: 60px;
				}
			}
			&:nth-child(2) {
				width: 21%;

				.level-1-a {
					width: 110px;
				}
			}
			&:nth-child(3) {
				width: 19%;

				.level-1-a {
					width: 95px;
				}
				
			}
			&:nth-child(4) {
				width: 22%;

				.level-1-a {
					width: 120px;
				}
				
			}

			.level-1-div {
				padding-top: 6px;
				display: block;
				height: auto;

				.level-1-p {
					display: inline-block;
					height: 38px;
					vertical-align: middle;
					color: $menu-num-orange;
					font-size: 32px;
					font-family: $museo;
					width: 40px;
					text-align: center;
					cursor: default;
				}

				.level-1-a {
					display: inline-block;
					vertical-align: middle;
					color: $white;
					font-size: 12px;
					font-family: $museo;
					text-align: center;
					text-decoration: none;
				}
			}
		}
	}	
	.level-2-ul {
		position: relative;
		z-index: 1000;
		display: block;
		max-height: 0px;
		height: auto;
		background-image: url('../img/dropmenu-bot.png'), url('../img/dropmenu-top.png');
		background-size: 100% auto, 100% auto;
		background-repeat: no-repeat, repeat-y;
		background-position: left bottom, left top;

		-webkit-transition: .3s ease-in-out;
		-moz-transition: .3s ease-in-out;
		-ms-transition: .3s ease-in-out;
		-o-transition: .3s ease-in-out;
		 transition: .3s ease-in-out;

		.level-2-li {
			padding: 5px 0px;
			display: block;

			div {
				display: block;
				text-align: center;

				.level-2-a {
					font-size: 14px;
					font-weight: 500;
					color: $orange;
					font-family: $museo;
				}
			}
		}
	}
	.level-1-li.active-trail {
		background-image: url('../img/sel-menubar-left.png'), url('../img/sel-menubar-.png'), url('../img/sel-menubar-mid.png') !important;
		background-repeat: no-repeat, no-repeat, repeat-x !important;
		background-position: left top, right top, left top !important;

		.level-1-div {
			-webkit-box-shadow: -8px 10px 29px rgba(0, 0, 0, 0.2);
			-moz-box-shadow:    -8px 10px 29px rgba(0, 0, 0, 0.2);
			box-shadow:         -8px 10px 29px rgba(0, 0, 0, 0.2);
			overflow: visible;

			.level-1-p {
				color: $white !important;
			}
		}
	}
	.level-1-li:hover, .level-1-li:active {
		background-image: url('../img/sel-menubar-left.png'), url('../img/sel-menubar-.png'), url('../img/sel-menubar-mid.png') !important;
		background-repeat: no-repeat, no-repeat, repeat-x !important;
		background-position: left top, right top, left top !important;
		
		.level-1-div {
			-webkit-box-shadow: -8px 10px 29px rgba(0, 0, 0, 0.2);
			-moz-box-shadow:    -8px 10px 29px rgba(0, 0, 0, 0.2);
			box-shadow:         -8px 10px 29px rgba(0, 0, 0, 0.2);
			overflow: visible;

			.level-1-p {
				color: $white;
			}

			.level-1-a {

			}

			.level-2-ul {
				max-height: 300px;

				.level-2-li {
					&:hover, &:active {
						background-color: $rust-orange;

						.level-2-a {
							color: white;
						}
					}

					.level-2-div {

						.level-2-a {
							
						}
					}
				}
			}
		}
	}
}

.header-wrap {
	padding-bottom: 20px;
}

/**
 *Above the Main Menu
 */

 .tippy-top-menu {
	text-align: right;
	height: 53px;

	.order-now-wrap {
		display: inline-block;

	 	.order-now-header {
	 		box-sizing: border-box;
	 		-moz-border-box: border-box;
	 		display: inline-block;
	 	 	height: 40px;
			padding-top: 10px;
			padding-left: 70px;

	 	 	font-family: $museo;
		 	font-weight: 900;
		 	text-decoration: none;
	 		color: $white;
	 		font-style: italic;

		 	background-image: url('../img/tiny-salad.png');
		 	background-position: left top;
		 	background-repeat: no-repeat;
		 	background-size: auto 40px;
	 	}
	 }

 	.above-main-menu {
 		display: inline-block;
 		margin-left: 40px;
 		padding-right: 35px;

 		li {
 			padding: 0px 5px;
 		}

 		a {
 			font-family: $museo;
 			font-size: 12px;
 			color: $white;
 			font-weight: 500;
 			text-decoration: none;
 		}
 	}
 }
.node-type-page, .node-type-secondary-landing-page {
	.page-wrap {
		padding-top: 30px;
	}
}
.node-type-secondary-landing-page .page {
	padding-top: 0px;
}

.node-type-page #main-content, .node-type-article #main-content {
	padding-bottom: 0px;
}

 .front {
 	.under-slider-menu {
 		margin-top: -19px;
		z-index: -100;
		padding: 0px 15px;
 		ul {
 			font-size: 0;
 			li {
 				overflow: visible;
 				display: inline-block;
 				width: 25%; height: auto;
 				vertical-align: top;

				a {
					box-sizing: border-box;
					-moz-box-sizing: border-box;
					padding: 30px;
					text-align: center;
					display: block;
					width: 100%;
					height: 100%;
					font-size: $em * 2.0;
					font-style: italic;
					color: white;
					font-family: $museo;
					font-weight: 900;
					background-repeat: no-repeat, no-repeat, repeat-y;
					background-size: 100% auto, 100% auto, 100% auto;
					background-position: left top, left bottom, left top;
					text-decoration: none;
				}
 			}
 			li:hover {
				-webkit-box-shadow: -8px 10px 29px rgba(0, 0, 0, 0.2);
				-moz-box-shadow:    -8px 10px 29px rgba(0, 0, 0, 0.2);
				box-shadow:         -8px 10px 29px rgba(0, 0, 0, 0.2);

				a {
					background-image: url('../img/und-slider-menu-top.png'), url('../img/und-slider-menu-bot.png'), url('../img/und-slider-menu-mid.png');
					color: $orange;
				}
 			}
 		}
 	}
 }

 .front .in-the-news {
	width: 50%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.team-page .text-wrap p {
	min-height: 140px !important;
}

/**
 * Team
 */

.team {
	& > div {
		padding: 20px 0px;
	}
	img {
		width: 150px;
		max-width: none;
		float: left;
	}
	.text-wrap {
		padding-left: 40px;
		width: auto;
		overflow: hidden;
		text-align: left;
	}
	h2 {
	}
	h4 {
	}
	p {
	}
}