/*************
* Containers
**********/
html {
	min-height: 100%;
	height: auto;
}
body {
	opacity: 0;
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-ms-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	 transition: opacity .3s ease-in-out;

	 &.ready {
	 	opacity: 1;
	 }

	 &.no-js {
	 	opacity: 1 !important;
	 }
}

.page, footer {
	@extend %page-wrap-width;
}
.header-wrap > header {
	@extend %header-width;
}

* {
	-webkit-font-smoothing: antialiased;
}

#main-content {
	padding: 0px;
	max-width: 100%;
}

/*********
* Header
*******/

.mobile-header {
	ul {
		padding-top: 25px !important;
		li {
			display: inline-block;
			margin: 0px 5px;
			height: auto;
			vertical-align: top;

			a {
				font-size: 0 !important;
			}
		}
		.fb-orange {
			@extend %fb-o;
		}
		.twit-orange {
			@extend %twit-o;
		}
		.pin-orange {
			@extend %pin-o;
		}
		.hamburger-wrap {
			margin-top: 10px;
			width: 35px;
			height: 30px;
			position: absolute;
			right: 5%;
			cursor: pointer;
			transform: translate3d(0,0,0);

		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-ms-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		 transition: .5s ease-in-out;

	 &.active {
	 	-webkit-transform-origin: 50%  48%;
		 transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
	    -moz-transform: rotate(90deg);
	    -o-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	}
			.hamburger-line {
				background-color: $light-orange;
				height: 20%;
				width: 100%;
				display: block;
				margin-top: 10%;

				&:first-child {
					margin-top: 0px;
				}
			}
		}
	}
}

header.header {
	padding-top: 40px;
	position: relative;

	.siteinfo {
		width: 25%;
		position: absolute;
		left: 5%;
		top: -15px;

		.main-logo {
			@extend %link-around-image;
			margin-top: 2px;
			img {
				width: auto;
/*		border: 3px solid white; */
				max-height: 80px;
			}
		}
	}
	.header-region {
		@extend %eight-nine;
		width: 100%;
		padding-top: 20px;

		.fancy-menu {
			& > ul { /*All links*/
				font-size: 0;

				& > li { /*One first level link li*/
					@extend %border-box;
					font-size: $em;
					width: 20%;
					height: 50px;
					vertical-align: top;
					text-align: center;

					& > a { /*First level link anchor*/
						@extend %color-orange;
						@extend %fam-header;
						@extend %fw-900;
						font-size: 1.3em;
						display: inline-block;

						&:before {
						}
					}

					& > ul { /*Second level child links*/
						display: none;

						& > li { /*One second level link li*/
							& > a { /*Second level link anchor*/

							}
						}
					}
				}
			}
		}
	}
}
/**
 *The Main Menu
 */
.the-main-menu {
	height: 0px;
	opacity: 1;
	-webkit-transition: opacity .15s ease-in-out;
	-moz-transition: opacity .15s ease-in-out;
	-ms-transition: opacity .15s ease-in-out;
	-o-transition: opacity .15s ease-in-out;
	 transition: opacity .15s ease-in-out;

	&.ready {
		opacity: 1;
	}

	* {
		overflow: hidden;
	}

	.level-1-ul {
		.level-1-li {
			.level-1-div {
				.level-1-p {
					color: $menu-num-orange;
					font-family: $museo;
				}

				.level-1-a {
					color: $white;
					font-family: $museo;
				}
			}
		}
	}
	.level-2-ul {
		-webkit-transition: .3s ease-in-out;
		-moz-transition: .3s ease-in-out;
		-ms-transition: .3s ease-in-out;
		-o-transition: .3s ease-in-out;
		 transition: .3s ease-in-out;

		.level-2-li {
			div {
				.level-2-a {
					color: $orange;
				}
			}
		}
	}

}

.header-wrap {
	padding-bottom: 20px;
}
/*********
* Content
*******/

/**
 *The Front Page
 */

.front {
	#main-content {
		padding: 0px;
		width: 100%;
		font-size: 0;

		.the-slider {
			position: relative;
			z-index: 100;
		}

		.skin-default {
			padding: 0px 5px;
			background: url('/sites/all/themes/the_franchise/img/homeslider-leftshad.png'), url('/sites/all/themes/the_franchise/img/homeslider-rightshad.png'), #fff;
			background-repeat: repeat-y, repeat-y, repeat;
			background-position: left top, right top, left top;
			background-clip: padding-box, padding-box, content-box;

			img {
				width: 100%;
				margin: 0px;
			}
		}

		.views-slideshow-bxslider {
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			padding: 10px;
		}

		.under-shadow {
			vertical-align: top;
		}
	}

	.in-the-news {
		@extend %six-nine;
		font-size: $em;
		vertical-align: top;
		padding-top: 15px;
		font-family: $museo;
		position: relative;
		z-index: 1000;


			.is-pdf {
				padding: 10px 0px;
				.a-link {
					display: none;
				}
			}

			.is-link {
				padding: 10px 0px;
				.a-pdf {
					display: none;
				}
			}

		&>div {
			padding: 5px 0px;

			&:first-child {
				padding-top: 0px;
			}
		}

		a {
			font-size: 1.8 * $em;
			font-style: italic;
			font-weight: 900;
			color: $white;
			text-decoration: none;
		}

		h2 {
			font-size: 3.2 * $em;
			color: $white;
			font-weight: 900;
			font-style: italic;
			margin-bottom: 0px;
		}

		.story-teaser {
			line-height: 20px;
			margin-bottom: $em * 2;

			a:first-child {
				font-size: 1.8 * $em;
				font-style: italic;
				font-weight: 900;
				color: $white;
				text-decoration: none;
			}

			.text-wrap {
				font-size: 1.4 * $em;
				font-weight: 300;

				p {
					display: inline;
					color: $white;
				}
				a {
					text-decoration: none;
					color: $white;
					font-weight: 900;
				}
			}
		}
		.read-more-stories {
			text-align: right;
			color: $white;
			font-size: 1.4 * $em;
			font-weight: bold;
			font-family: $museo;
		}
		.view-footer {
			p {
				text-align: left;
				padding-right: 20px;

				a {
					padding-right: 20px;
					background-image: url('../img/pointer-right.png');
					background-position: right center;
					background-repeat: no-repeat;
				}
			}
		}
	}

	.glowing-salad-wrap {
		@extend %three-nine;
		font-size: $em;
		margin-top: -35px;

		.glowing-salad-img {
			margin-bottom: -65px;
			z-index: 100;
			position: relative;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		h2, h4 {
			color: $white;
			font-weight: 900;
			z-index: 1;
			font-style: italic;
			text-align: center;
			font-family: $museo;
		}

		h2 {
			font-size: 3.6 * $em;
		}
		h4 {
			font-size: 1.8 * $em;
		}
	}
}

/**
 * Team
 */

.team {
	img {
		width: 50%;
		max-width: 150px;
		display: block;
		margin: 0px auto;
	}
	.text-wrap {
		text-align: center;
	}
	h2 {
		font-size: 3.0 * $em !important;
		margin-bottom: 0px !important;
	}
	h4 {
		font-size: 1.8 * $em !important;
		margin-bottom: 20px !important;
	}
	p {
		text-align: left;
	}
}

/**
 * News and Accolades
 */

.news-accolades {
	font-size: $em;
	vertical-align: top;
	font-family: $museo;

	.source {
		font-size: 15px;
	}

	.is-pdf {
		padding: 10px 0px;
		.a-link {
			display: none;
		}
	}

	.is-link {
		padding: 10px 0px;
		.a-pdf {
			display: none;
		}
	}

	a {
		font-size: 3.2 * $em !important;
		color: $orange;
		font-weight: 700;
		font-style: italic;
		margin-bottom: 20px;
	}

	.story-teaser {
		line-height: 20px;
		margin-bottom: $em * 2;

		a:first-child {
			font-size: 2.0 * $em !important;
			font-style: italic;
			font-weight: 700;
			color: $orange;
			text-decoration: none;
		}

		.text-wrap {
			font-weight: 300;

			p {
				font-size: 1.8 * $em !important;
				display: inline;
				color: black;
			}
			a {
				font-size: 1.8 * $em !important;
				text-decoration: none;
				color: $orange;
				font-weight: 700;
				padding-left: 10px;
			}
		}
	}
	.pager {
		padding-left: 0px !important;
		text-align: center;
		font-size: 1.4 * $em;
	}

	.current {
		font-size: 1.4 * $em !important;
		padding: 0px 10px;
	}

	a {
		font-size: 1.6 * $em !important;
		color: $orange;
	}
}

/**
 * Breadcrumbs
 */

.easy-breadcrumb {
	position: absolute;
	top: -2.5 * $em;
	left: 5px;

	a {
		@extend %fam-body;
		color: $white !important;
		@extend %fw-500;
		font-size: $em;
		margin-right: 3px;
		text-decoration: underline !important;

		&:hover {
			text-decoration: underline;
		}
	}

	.easy-breadcrumb_segment-separator {
		margin-right: 3px;
	}

	span {
		@extend %fam-body;
		color: $white;
		@extend %fw-900;
		font-size: $em;
	}
}

/**
 * Node Page Content Area
 */

 hr {
	background-color: gray;
	height: 1px;
	border: 0px;
 }

.node-type-page, .node-type-article {
	.page-wrap {
 		padding-top: 60px;
	}
 	#main-content {
 		font-size: $em;
		padding-bottom: 60px;

		.main-inner {
			padding: 0px 5px;
			background-image: url('../img/homeslider-leftshad.png'), url('../img/homeslider-rightshad.png');
			background-repeat: no-repeat, no-repeat;
			background-position: left top, right top;

			.main-innerer {
				padding: 20px 40px;
				background-color: white;
			}
		}

		sup {
			font-size: 70%;
			line-height: 70%;
			padding-left: 2px;
		}

		h1 {
			margin-bottom: $em * 1.6;
			color: $orange;
			@extend %fw-900;
			font-size: 3.8em;
			@extend %fam-header;

		}
		h2, h3, h4, h5, h6 {
			margin-bottom: $em * 1.6;
			color: $orange;
			@extend %fw-700;
			font-size: 2.0em;
			@extend %fam-header;
		}
		p {
			margin-bottom: $em * 1.6;
			@extend %fw-300;
			@extend %fam-body;
			font-size: 1.6em;
		}
		a {
			color: $orange;
		}
		ul {
			padding-left: 5 * $em;
			margin-bottom: 1.6 * $em;

			li {
				list-style-type: disc;
				font-size: 1.6 * $em;
			}
		}
		ol {
			padding-left: 2 * $em;
			margin-bottom: 1.6 * $em;

			li {
				list-style-type: decimal;
				font-size: 1.6 * $em;
			}
		}
		li {
			@extend %fw-300;
			@extend %fam-body;
			font-size: 1.8em;
		}
	}
}

.is-photo-tour {
	.main-inner {
		padding: 0px 0px !important;
		background-image: none !important;
		.main-innerer {
			background-color: transparent !important;
		}
	}
	.shadow-bottom {
		display: none !important;
	}
	.bx-wrapper {
		margin: 0px auto;
	}
}

/**
 * Photo Tour Styles
 */

.is-photo-tour {

	.thumbnail-nav {
		.bx-slider {
			max-width: none !important;
		}
		ul {
			li {
			}
		}
	}

	.tour-img-wrap img {
		-webkit-transition: .2s ease-in-out;
		-moz-transition: .2s ease-in-out;
		-ms-transition: .2s ease-in-out;
		-o-transition: .2s ease-in-out;
		 transition: .2s ease-in-out;
	}

	.fade {
		opacity: 0 !important;
	}

	.page-wrap {
		background-color: transparent;
	}

	h1 {
		display: none;
	}

	.easy-breadcrumb a, .easy-breadcrumb span, .section-menu a  {
		color: $white !important;
	}

	.thumbnail-nav {
		position: relative;
		padding: 20px 3% 0px 4%;
		font-size: 0;

		.pict-shadow {
			@extend %border-box;
			padding: 0px 2px;
		}

		& > div:not(.item-list-pager) {
			width: 100%;
			display: inline-block;
			cursor: pointer;
		}

		.bx-prev, .bx-next {
			background-image: none;
			background-repeat: no-repeat;
			background-position: center center;
		}
		.bx-prev {
			background-image: url('../img/arrow-left-small.png');
			left: -30px;
		}
		.bx-next {
			background-image: url('../img/arrow-right-small.png');
			right: -30px;
		}

		.item-list-pager {
			font-size: $em;
			display: block;

			.current {
				display: none;
			}

			.next {
				height: 30px;
				width: 30px;
				position: absolute;
				right: 0px;
				top: 50%;
				margin-top: -15px;

				a {
					background-color: blue;
					display: block;
					font-size: 0;
					height: 100%;
					width: 100%;
				}
			}
			.previous {
				height: 30px;
				width: 30px;
				position: absolute;
				left: 0px;
				top: 50%;
				margin-top: -15px;

				a {
					background-color: blue;
					display: block;
					font-size: 0;
					height: 100%;
					width: 100%;
				}
			}
		}
	}
}

/**
 * Secondary Landing Page Styles
 */

.node-type-secondary-landing-page {
	.page {
		padding-top: 60px;
	}
}

/**
 * Picture Box
 */

.picture-wrap {
	@extend %pict-box;
	@extend %pict-skin;
}

/**
 * Buckets
 */

.secondary-bucket-wrap {
 	@extend %bucket-wrap;
 	@extend %thirty-thirteen-font-sizes;
}

.secondary-bucket-wrap {
	max-width: 300px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

/**
 *Section Menu
 */

 .team-page {
 	.section-menu {
 		.indent1 {
 			display: inline-block !important;
 		}
 	}
 }

 .section-menu {
 	a {
 		@extend %link-treatment;
 		font-size: 12px !important;
 	}
 	.indent1 {
		text-indent: 15px;
		display: none;
		font-size: 12px !important;
	}
 }
 .node-type-page {
 	.section-menu {
	 	a{
	 		color: $white
 		}
 	}
 }
/***************
* Sidebar First
*************/

.sidebar-first {
	padding-left: 0px !important;
}

 .inquire-now {
	margin-top: 24px;
	display: block;
	padding: 12px 24px;
	font-size: 1.4 * $em;
	width: 140px;
	height: 37px;
	color: $white;
	background-image: url('../img/inquire-bg.png');
	font-family: $museo;
	font-weight: 900;
	font-style: italic;
	text-decoration: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

/***************
* Global Footer
************/

footer {
	font-size: 0;
	padding-top: 40px;
}

.footer-about {
	vertical-align: middle;
	@extend %four-nine;
 	@extend %inline-block-text-title;
 	@extend %color-white;
  	@extend %thirty-thirteen-font-sizes;
  	vertical-align: top;

  	h2 {
  		@extend %fam-header;
  		@extend %fw-900;
  		@extend %italic;
  	}

  	p {
  		@extend %fam-body;
  		@extend %fw-500;
  		line-height: 18px;
  	}
}

.footer-menu {
	vertical-align: middle;
	@extend %three-nine;
	@extend %fam-body;
	vertical-align: top;
	ul {
		font-size: $em;
		padding: 25px 0px 10px 0px;
		li {
			margin: 15px 0px;
			font-size: 1.4em;
			text-align: left;
			a {
				@extend %color-white;
				@extend %fw-700;
			}
		}
	}
}

.footer-social {
	vertical-align: middle;
	@extend %color-white;
	@extend %fam-body;
	@extend %two-nine;
	font-size: $em;
	padding-top: 10px;

	ul {
		font-size: 0;
		display: inline-block;
		vertical-align: top;
	}
	p{
		display: inline-block;
		font-size: 1.4em;
		text-align: left;
		vertical-align: top;
		padding: 5px;
		@extend %fw-700;
	}
	li {
		display: inline-block;
		margin: 0px 5px;
	}
	.fb-white {
		@extend %fb-w;
	}
	.twit-white {
		@extend %twit-w;
	}
	.pin-white {
		@extend %pin-w;
	}
}

.copyright {
	@extend %nine-nine;
	@extend %color-white;
	@extend %fam-body;
	font-size: 8px;
	padding: 30px 0px;
	text-align: left;
}

/***************
* Backend
*************/

/***Login***/

.page-user, .admin-menu {
	.page-wrap {
		padding-top: 40px;
	}
	h1 {
		font-family: $museo;
		color: white;
		font-style: italic;
		font-weight: 900;
		padding-bottom: 20px;
	}
	ul.tabs {
		margin-bottom: 20px;
		li {
			display: inline-block;
			padding: 10px !important;
			background-color: white;
			border-radius: 3px 15px;
			border: 1px solid $rust-orange;
			margin: 0px 5px;

			a {
				background-color: transparent;
				color: $orange;
				font-family: $museo;
			}

		&.active {
			background-color: $rust-orange;
			border: 1px solid $white;

			a {
				color: $white !important;
			}
		}
		}
	}
	form {
		label {
			display: inline-block;
			color: $white;
			font-family: $museo;
			font-weight: 900;
			font-style: italic;
			width: 120px;
			font-size: 2 * $em;
		}
		input {
			font-family: $museo;
			padding: 5px;
			border-radius: 3px;
			border: 1px solid $rust-orange;
			width: 300px;
		}
		input[type="submit"]:not(#fsSubmitButton1497694) {
			background-color: $rust-orange;
			color: white;
			font-weight: 900;
			border-radius: 3px;
			width: 80px;
		}
		div {
			padding-bottom: 20px;
		}
		small {
			color: white;
			font-family: $museo;
			font-size: $em;
			padding-top: 5px;
			padding-left: 130px;
		}
	}
}

.admin-menu {
	nav.tabs {
		position: relative;
		bottom: 15px;
	}
}
.node-type-secondary-landing-page.admin-menu, .is-photo-tour.admin-menu {
	nav.tabs {
		bottom: 35px;
	}
}
.is-photo-tour{
	.main-innerer {
		padding: 0px !important;
	}
}
  /*Punch List Stuff*/

  .node-type-page .section-menu a, .node-type-secondary-landing-page .section-menu a, .tippy-top-menu .above-main-menu a, .node-type-page #main-content a, .node-type-article #main-content a, .front .in-the-news a {
  	&:hover {
  		text-decoration: underline;
  	}
  }

.shadow-bottom {
	vertical-align: top;
}

#field20238612, #field20238590, #field20265591 {
	border: 1px solid black;
}