/**
 *Node Type: Secondary Landing Page
 */
/*Hide title on landing page*/
 .secondary-landing-page {
 	#main-content > h1 {
 		display: none;		
 	}
 }


/**
 *Content Section: Choosing Saladworks
 */
/*Hide arrow styling on landing page menu*/
 .sidebar-first {	
	.section-menu {
		nav > h2.title {
			display: none;
		}

		ul {
			li {
				display: block;
				
				ul {
				}
				a {
					line-height: 12px;
					min-height: 32px;
					display: inline-block;
				}
			}
		}
	}
 }

 /**
 *Home Page
 */

 .front {
 	.easy-breadcrumb {
 		display: none;
 	}
 }

 /*Hide Dev pseudo element*/

 body::before {
 	content: "" !important;
 	display: none !important;
 	opacity: 0 !important;
 	visibility: hidden !important;
 }

 .mobile-hide {
 	display: none !important;
 }