/**
 *Widths
 */

%border-box {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

/**
 *Widths
 */

%one-nine {
	width: 33.3333%;
	display: inline-block;
}
%two-nine {
	width: 66.6666%;
	display: inline-block;
}
%three-nine, %four-nine, %five-nine, %six-nine, %seven-nine, %eight-nine, %nine-nine {
	width: 100%;
	display: block;
}

%page-wrap-width {
 	display: block;
 	width: 100%;
 	max-width: 96%;
}

%header-width {
 	display: block;
 	width: 100%;
 	max-width: 100%;
}

/**
 *Font Weights
 */
.fw-100 {
	font-weight: 100;
}

.fw-300 {
	font-weight: 300;	
}

.fw-500 {
	font-weight: 500;
}

.fw-700 {
	font-weight: 700;
}

.fw-900 {
	font-weight: 900;
}

%fw-100 {
	font-weight: 100;
}

%fw-300 {
	font-weight: 300;	
}

%fw-500 {
	font-weight: 500;
}

%fw-700 {
	font-weight: 700;
}

%fw-900 {
	font-weight: 900;
}


/**
 *Font Colors
 */
.color-orange {
	color: $orange;
}

.color-white {
	color: $white;
}

%color-orange {
	color: $orange;
}

%color-white {
	color: $white;
}

/**
 *Font Family Settings
 */
.fam-header {
	font-family: $museo;
}

.fam-body {
	font-family: $museo;
}

%fam-header {
	font-family: $museo;
}

%fam-body {
	font-family: $museo;
}

/**
 *Font Styles, Decorations, Transformations, Alignments
 */
.italic {
	font-style: italic;
}

.all-caps {
	text-transform: uppercase;
}

.all-lower {
	text-transform: lowercase;
}

.underline {
	text-decoration: underline;
}

.no-underline {
	text-decoration: none;
}

%italic {
	font-style: italic;
}

%all-caps {
	text-transform: uppercase;
}

%all-lower {
	text-transform: lowercase;
}

%underline {
	text-decoration: underline;
}

%no-underline {
	text-decoration: none;
}

.align-right {
	text-align: right;

	* {
		text-align: right;
	}
}

.align-center {
	text-align: center;

	* {
		text-align: center;
	}
}

.align-left {
	text-align: left;

	* {
		text-align: left;
	}
}

%link-treatment {
	&:link, &:visited, &:active {
	 	@extend %no-underline;
		@extend %color-white;
		@extend %fw-300;
		@extend %fam-body;
		font-size: 17px;
		line-height: 38px;
	}
	&.active {
		&:link, &:visited, &:active {
		 	@extend %no-underline;
			@extend %color-white;
			@extend %fw-900;
			@extend %fam-body;
		}
	}
}

/**
 *Backgrounds
 */

.sw-bg {
	background-image: url('../img/sw-grad-bg.png'), url('../img/sw-px-bg.png');
	background-repeat: repeat-x, repeat;
	background-position: left bottom, left top;
}

/**
 *Margins
 */

 %margin-auto {
 	margin-left: auto;
 	margin-right: auto;
 }

 /**
 *Picture Box Structure & Skin
 */

%pict-box {
	& > div {
		@extend %border-box;
		padding: 0px 5px;
		width: 100%;
		font-size: 0;
		width: 100%;

		& > div {
			padding: 10px;
		}
	}
	img {
		width: 100%;
		height: auto;
		vertical-align: top;
	}
}

%pict-skin {
	& > div {
		background-image: url('../img/homeslider-leftshad.png'), url('../img/homeslider-rightshad.png');
	 	background-repeat: repeat-y, repeat-y;
	 	background-position: left top, right top;
	 	background-clip: padding-box, padding-box;
	 	& > div {
	 		background-color: $white;
			img {
			}
		}
	}
}

 /**
 *Buckets
 */

%bucket-wrap {
	font-size: 0;

	li {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		vertical-align: top;
		display: inline-block;
		font-size: $em;
		width: 100%;

		.bucket-img {
			display: block;
			width: 100%;
			background-position: center bottom;
			background-repeat: no-repeat;
			height: 120px;
		}

		h3 {
			display: block;
			width: 90%;
			margin-bottom: 10px;
			@extend %margin-auto;
		}

		p {
			display: block;
		}
	}
}

%thirty-thirteen-font-sizes {
 	h2 {
 		font-size: 3em;
		line-height: 1em;
 	}
 	h3 {
 		font-size: 3em;
		line-height: 1em;
 	}
 	p {
 		font-size: 1.3em;
 	}
}
/**
 *Text area with title
 */

%text-title {
	font-size: $em;

	h2 {
		text-align: left;
		margin-bottom: 10px;
	}

	p {
		text-align: left;
	}
}

%inline-block-text-title {
	display: inline-block;
	@extend %text-title;
}


%block-text-title {
	display: block;
	@extend %text-title;
}

/*********************
 *Global Footer
 *********************/

/**
 *Social Icons
 */

%social-bg {
	height: 25px;
	display: inline-block;
	background-image: url('../img/social.png');
 	background-repeat: no-repeat;
 	background-size: 133px 25px;
}
%fb-o {
	@extend %social-bg;
 	background-position: 0px 0px;
 	width: 11px;
}
%twit-o {
	@extend %social-bg;	
 	background-position: -12px 0px;
 	width: 28px;
}
%pin-o {
	@extend %social-bg;	
 	background-position: -40px 0px;
 	width: 27px;
}
%fb-w {
	@extend %social-bg;	
 	background-position: -67px 0px;
 	width: 10px;
}
%twit-w {
	@extend %social-bg;	
 	background-position: -78px 0px;
 	width: 29px;
}
%pin-w {
	@extend %social-bg;	
 	background-position: -107px 0px;
 	width: 27px;
}

/**
 *Link Around Image
 */

 %link-around-image {
 	display: inline-block;

 	img {
 		width: 100%;
 	}
 }

/**
 *transitions
 */
 
%trans-opacity {
	-webkit-transition: opacity .15s ease-in-out;
	-moz-transition: opacity .15s ease-in-out;
	-ms-transition: opacity .15s ease-in-out;
	-o-transition: opacity .15s ease-in-out;
	 transition: opacity .15s ease-in-out;
}

%trans-height {
	-webkit-transition: height .3s ease-in-out;
	-moz-transition: height .3s ease-in-out;
	-ms-transition: height .3s ease-in-out;
	-o-transition: height .3s ease-in-out;
	 transition: height .3s ease-in-out;
}