/*
 *  Forte Leadership by Thomas Peduto
 *  Web Developer, Star Group
 *  tpeduto@stargroup1.com
 */


//Reset and variables
@import "_reset.scss";
@import "_vars.scss";
@import "_delete.scss";
@import "_objects.scss";

//Base styles for all devices
@import "_base.scss";

//Styles for landscape phone
@media only screen and (min-width : 480px){
	@import "_480up.scss";
}

//Styles for tablet portrait
@media only screen and (min-width : 768px){
	@import "_768up.scss";
}
@media only screen and (max-width : 767px){
	@import "_767down.scss";
}

//Styles for tablet landscape
@media only screen and (min-width : 1024px){
	@import "_1024up.scss";
}
@media only screen and (max-width : 1024px){
	@import "_1024down.scss";
}

//Styles for computer screens
@media only screen and (min-width : 1280px){
	@import "_1280up.scss";
}

//Styles for very large computer screens
@media only screen and (min-width : 1600px){
	@import "_1600up.scss";
}

//Styles for Portrait phone
@media only print {
	@import "_print.scss";
}

.ie8 {
	@import "_ie8.scss";
}