/*
 *  Forte Leadership by Thomas Peduto
 *  Web Developer, Star Group
 *  tpeduto@stargroup1.com
 */
/**
 * CSS Reset for Drupal 7
 */
/* line 118, ../sass/_reset.scss */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
input,
select,
textarea,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
td.menu-disabled,
ul.links,
ul.links.inline,
ul.links li,
.block ul,
div.admin,
tr.even,
tr.odd,
tr.drag,
tbody,
tbody th,
thead th,
.breadcrumb,
.item-list .icon,
.item-list .title,
.item-list ul,
.item-list ul li,
ol.task-list li.active,
.form-item,
tr.odd .form-item,
tr.even .form-item,
.form-item .description,
.form-item label,
.form-item label.option,
.form-checkboxes,
.form-radios,
.form-checkboxes .form-item,
.form-radios .form-item,
.marker,
.form-required,
.more-link,
.more-help-link,
.item-list .pager,
.item-list .pager li,
.pager-current,
.tips,
ul.primary,
ul.primary li,
ul.primary li a,
ul.primary li.active a,
ul.primary li a:hover,
ul.secondary,
ul.secondary li,
ul.secondary a,
ul.secondary a.active,
.resizable-textarea {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* Drupal: system-menus.css */
/* line 132, ../sass/_reset.scss */
ul.links,
ul.links.inline,
ul.links li,
.block ul,
ol,
ul,
.item-list ul,
.item-list ul li {
  list-style: none;
}

/* line 136, ../sass/_reset.scss */
blockquote,
q {
  quotes: none;
}

/* line 142, ../sass/_reset.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* Remember to highlight inserts somehow! */
/* line 148, ../sass/_reset.scss */
ins {
  text-decoration: none;
}

/* line 151, ../sass/_reset.scss */
del {
  text-decoration: line-through;
}

/* Tables still need 'cellspacing="0"' in the markup. */
/* line 156, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Font reset.
 *
 * Specifically targets form elements which browsers often times give
 * special treatment.
 */
/* line 169, ../sass/_reset.scss */
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 172, ../sass/_reset.scss */
textarea {
  font-size: 1em;
  line-height: 1.538em;
}

/**
 * Markup free clearing.
 *
 * Consider adding your own selectors to this instead of finding ways
 * to sneak the clearfix class into Drupal's markup.
 * From http://perishablepress.com/press/2009/12/06/new-clearfix-hack
 */
/* line 185, ../sass/_reset.scss */
ul.links:after,
div.admin-panel .body:after,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Exclude inline links from clearfix behavior */
/* line 194, ../sass/_reset.scss */
ul.inline:after {
  content: "";
  display: none;
  clear: none;
}

/* IE6 */
/* line 203, ../sass/_reset.scss */
* html .form-item,
* html ul.links,
* html div.admin-panel .body,
* html .clearfix {
  height: 1%;
}

/* IE7 */
/* line 210, ../sass/_reset.scss */
*:first-child + html .form-item,
*:first-child + html ul.links,
*:first-child + html div.admin-panel .body,
*:first-child + html .clearfix {
  min-height: 1%;
}

/**
 *Node Type: Secondary Landing Page
 */
/*Hide title on landing page*/
/* line 6, ../sass/_delete.scss */
.secondary-landing-page #main-content > h1 {
  display: none;
}

/**
 *Content Section: Choosing Saladworks
 */
/*Hide arrow styling on landing page menu*/
/* line 18, ../sass/_delete.scss */
.sidebar-first .section-menu nav > h2.title {
  display: none;
}
/* line 23, ../sass/_delete.scss */
.sidebar-first .section-menu ul li {
  display: block;
}
/* line 28, ../sass/_delete.scss */
.sidebar-first .section-menu ul li a {
  line-height: 12px;
  min-height: 32px;
  display: inline-block;
}

/**
*Home Page
*/
/* line 43, ../sass/_delete.scss */
.front .easy-breadcrumb {
  display: none;
}

/*Hide Dev pseudo element*/
/* line 50, ../sass/_delete.scss */
body::before {
  content: "" !important;
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
}

/* line 57, ../sass/_delete.scss */
.mobile-hide {
  display: none !important;
}

/**
 *Widths
 */
/* line 5, ../sass/_objects.scss */
.picture-wrap > div, header.header .header-region .fancy-menu > ul > li, .is-photo-tour .thumbnail-nav .pict-shadow {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/**
 *Widths
 */
/* line 18, ../sass/_objects.scss */
.footer-social {
  width: 66.6666%;
  display: inline-block;
}

/* line 22, ../sass/_objects.scss */
.front .glowing-salad-wrap, .footer-menu, .footer-about, .front .in-the-news, header.header .header-region, .copyright {
  width: 100%;
  display: block;
}

/* line 27, ../sass/_objects.scss */
.page, footer {
  display: block;
  width: 100%;
  max-width: 96%;
}

/* line 33, ../sass/_objects.scss */
.header-wrap > header {
  display: block;
  width: 100%;
  max-width: 100%;
}

/**
 *Font Weights
 */
/* line 42, ../sass/_objects.scss */
.fw-100 {
  font-weight: 100;
}

/* line 46, ../sass/_objects.scss */
.fw-300 {
  font-weight: 300;
}

/* line 50, ../sass/_objects.scss */
.fw-500 {
  font-weight: 500;
}

/* line 54, ../sass/_objects.scss */
.fw-700 {
  font-weight: 700;
}

/* line 58, ../sass/_objects.scss */
.fw-900 {
  font-weight: 900;
}

/* line 66, ../sass/_objects.scss */
.section-menu a:link, .section-menu a:visited, .section-menu a:active, .node-type-page #main-content p, .node-type-article #main-content p, .node-type-page #main-content li, .node-type-article #main-content li {
  font-weight: 300;
}

/* line 70, ../sass/_objects.scss */
.easy-breadcrumb a, .footer-about p {
  font-weight: 500;
}

/* line 74, ../sass/_objects.scss */
.node-type-page #main-content h2, .node-type-page #main-content h3, .node-type-page #main-content h4, .node-type-page #main-content h5, .node-type-page #main-content h6, .node-type-article #main-content h2, .node-type-article #main-content h3, .node-type-article #main-content h4, .node-type-article #main-content h5, .node-type-article #main-content h6, .footer-menu ul li a, .footer-social p {
  font-weight: 700;
}

/* line 78, ../sass/_objects.scss */
.section-menu a.active:link, .section-menu a.active:visited, .section-menu a.active:active, header.header .header-region .fancy-menu > ul > li > a, .easy-breadcrumb span, .node-type-page #main-content h1, .node-type-article #main-content h1, .footer-about h2 {
  font-weight: 900;
}

/**
 *Font Colors
 */
/* line 86, ../sass/_objects.scss */
.color-orange {
  color: #e45700;
}

/* line 90, ../sass/_objects.scss */
.color-white {
  color: white;
}

/* line 94, ../sass/_objects.scss */
header.header .header-region .fancy-menu > ul > li > a {
  color: #e45700;
}

/* line 98, ../sass/_objects.scss */
.section-menu a:link, .section-menu a:visited, .section-menu a:active, .footer-about, .footer-menu ul li a, .footer-social, .copyright {
  color: white;
}

/**
 *Font Family Settings
 */
/* line 105, ../sass/_objects.scss */
.fam-header {
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
}

/* line 109, ../sass/_objects.scss */
.fam-body {
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
}

/* line 113, ../sass/_objects.scss */
header.header .header-region .fancy-menu > ul > li > a, .node-type-page #main-content h1, .node-type-article #main-content h1, .node-type-page #main-content h2, .node-type-page #main-content h3, .node-type-page #main-content h4, .node-type-page #main-content h5, .node-type-page #main-content h6, .node-type-article #main-content h2, .node-type-article #main-content h3, .node-type-article #main-content h4, .node-type-article #main-content h5, .node-type-article #main-content h6, .footer-about h2 {
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
}

/* line 117, ../sass/_objects.scss */
.section-menu a:link, .section-menu a:visited, .section-menu a:active, .easy-breadcrumb a, .easy-breadcrumb span, .node-type-page #main-content p, .node-type-article #main-content p, .node-type-page #main-content li, .node-type-article #main-content li, .footer-about p, .footer-menu, .footer-social, .copyright {
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
}

/**
 *Font Styles, Decorations, Transformations, Alignments
 */
/* line 124, ../sass/_objects.scss */
.italic {
  font-style: italic;
}

/* line 128, ../sass/_objects.scss */
.all-caps {
  text-transform: uppercase;
}

/* line 132, ../sass/_objects.scss */
.all-lower {
  text-transform: lowercase;
}

/* line 136, ../sass/_objects.scss */
.underline {
  text-decoration: underline;
}

/* line 140, ../sass/_objects.scss */
.no-underline {
  text-decoration: none;
}

/* line 144, ../sass/_objects.scss */
.footer-about h2 {
  font-style: italic;
}

/* line 160, ../sass/_objects.scss */
.section-menu a:link, .section-menu a:visited, .section-menu a:active {
  text-decoration: none;
}

/* line 164, ../sass/_objects.scss */
.align-right {
  text-align: right;
}
/* line 167, ../sass/_objects.scss */
.align-right * {
  text-align: right;
}

/* line 172, ../sass/_objects.scss */
.align-center {
  text-align: center;
}
/* line 175, ../sass/_objects.scss */
.align-center * {
  text-align: center;
}

/* line 180, ../sass/_objects.scss */
.align-left {
  text-align: left;
}
/* line 183, ../sass/_objects.scss */
.align-left * {
  text-align: left;
}

/* line 189, ../sass/_objects.scss */
.section-menu a:link, .section-menu a:visited, .section-menu a:active {
  font-size: 17px;
  line-height: 38px;
}

/**
 *Backgrounds
 */
/* line 211, ../sass/_objects.scss */
.sw-bg {
  background-image: url("../img/sw-grad-bg.png"), url("../img/sw-px-bg.png");
  background-repeat: repeat-x, repeat;
  background-position: left bottom, left top;
}

/**
 *Margins
 */
/* line 221, ../sass/_objects.scss */
.secondary-bucket-wrap li h3 {
  margin-left: auto;
  margin-right: auto;
}

/**
*Picture Box Structure & Skin
*/
/* line 231, ../sass/_objects.scss */
.picture-wrap > div {
  padding: 0px 5px;
  width: 100%;
  font-size: 0;
  width: 100%;
}
/* line 238, ../sass/_objects.scss */
.picture-wrap > div > div {
  padding: 10px;
}
/* line 242, ../sass/_objects.scss */
.picture-wrap img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

/* line 250, ../sass/_objects.scss */
.picture-wrap > div {
  background-image: url("../img/homeslider-leftshad.png"), url("../img/homeslider-rightshad.png");
  background-repeat: repeat-y, repeat-y;
  background-position: left top, right top;
  background-clip: padding-box, padding-box;
}
/* line 255, ../sass/_objects.scss */
.picture-wrap > div > div {
  background-color: white;
}

/**
*Buckets
*/
/* line 267, ../sass/_objects.scss */
.secondary-bucket-wrap {
  font-size: 0;
}
/* line 270, ../sass/_objects.scss */
.secondary-bucket-wrap li {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  vertical-align: top;
  display: inline-block;
  font-size: 10px;
  width: 100%;
}
/* line 278, ../sass/_objects.scss */
.secondary-bucket-wrap li .bucket-img {
  display: block;
  width: 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 120px;
}
/* line 286, ../sass/_objects.scss */
.secondary-bucket-wrap li h3 {
  display: block;
  width: 90%;
  margin-bottom: 10px;
}
/* line 293, ../sass/_objects.scss */
.secondary-bucket-wrap li p {
  display: block;
}

/* line 300, ../sass/_objects.scss */
.secondary-bucket-wrap h2, .footer-about h2 {
  font-size: 3em;
  line-height: 1em;
}
/* line 304, ../sass/_objects.scss */
.secondary-bucket-wrap h3, .footer-about h3 {
  font-size: 3em;
  line-height: 1em;
}
/* line 308, ../sass/_objects.scss */
.secondary-bucket-wrap p, .footer-about p {
  font-size: 1.3em;
}

/**
 *Text area with title
 */
/* line 316, ../sass/_objects.scss */
.footer-about {
  font-size: 10px;
}
/* line 319, ../sass/_objects.scss */
.footer-about h2 {
  text-align: left;
  margin-bottom: 10px;
}
/* line 324, ../sass/_objects.scss */
.footer-about p {
  text-align: left;
}

/* line 329, ../sass/_objects.scss */
.footer-about {
  display: inline-block;
}

/*********************
 *Global Footer
 *********************/
/**
 *Social Icons
 */
/* line 348, ../sass/_objects.scss */
.mobile-header ul .fb-orange, .mobile-header ul .twit-orange, .mobile-header ul .pin-orange, .footer-social .fb-white, .footer-social .twit-white, .footer-social .pin-white {
  height: 25px;
  display: inline-block;
  background-image: url("../img/social.png");
  background-repeat: no-repeat;
  background-size: 133px 25px;
}

/* line 355, ../sass/_objects.scss */
.mobile-header ul .fb-orange {
  background-position: 0px 0px;
  width: 11px;
}

/* line 360, ../sass/_objects.scss */
.mobile-header ul .twit-orange {
  background-position: -12px 0px;
  width: 28px;
}

/* line 365, ../sass/_objects.scss */
.mobile-header ul .pin-orange {
  background-position: -40px 0px;
  width: 27px;
}

/* line 370, ../sass/_objects.scss */
.footer-social .fb-white {
  background-position: -67px 0px;
  width: 10px;
}

/* line 375, ../sass/_objects.scss */
.footer-social .twit-white {
  background-position: -78px 0px;
  width: 29px;
}

/* line 380, ../sass/_objects.scss */
.footer-social .pin-white {
  background-position: -107px 0px;
  width: 27px;
}

/**
 *Link Around Image
 */
/* line 390, ../sass/_objects.scss */
header.header .siteinfo .main-logo {
  display: inline-block;
}
/* line 393, ../sass/_objects.scss */
header.header .siteinfo .main-logo img {
  width: 100%;
}

/**
 *transitions
 */
/*************
* Containers
**********/
/* line 4, ../sass/_base.scss */
html {
  min-height: 100%;
  height: auto;
}

/* line 8, ../sass/_base.scss */
body {
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}
/* line 16, ../sass/_base.scss */
body.ready {
  opacity: 1;
}
/* line 20, ../sass/_base.scss */
body.no-js {
  opacity: 1 !important;
}

/* line 32, ../sass/_base.scss */
* {
  -webkit-font-smoothing: antialiased;
}

/* line 36, ../sass/_base.scss */
#main-content {
  padding: 0px;
  max-width: 100%;
}

/*********
* Header
*******/
/* line 46, ../sass/_base.scss */
.mobile-header ul {
  padding-top: 25px !important;
}
/* line 48, ../sass/_base.scss */
.mobile-header ul li {
  display: inline-block;
  margin: 0px 5px;
  height: auto;
  vertical-align: top;
}
/* line 54, ../sass/_base.scss */
.mobile-header ul li a {
  font-size: 0 !important;
}
/* line 67, ../sass/_base.scss */
.mobile-header ul .hamburger-wrap {
  margin-top: 10px;
  width: 35px;
  height: 30px;
  position: absolute;
  right: 5%;
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -ms-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}
/* line 82, ../sass/_base.scss */
.mobile-header ul .hamburger-wrap.active {
  -webkit-transform-origin: 50%  48%;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}
/* line 90, ../sass/_base.scss */
.mobile-header ul .hamburger-wrap .hamburger-line {
  background-color: #ee7421;
  height: 20%;
  width: 100%;
  display: block;
  margin-top: 10%;
}
/* line 97, ../sass/_base.scss */
.mobile-header ul .hamburger-wrap .hamburger-line:first-child {
  margin-top: 0px;
}

/* line 105, ../sass/_base.scss */
header.header {
  padding-top: 40px;
  position: relative;
}
/* line 109, ../sass/_base.scss */
header.header .siteinfo {
  width: 25%;
  position: absolute;
  left: 5%;
  top: -15px;
}
/* line 115, ../sass/_base.scss */
header.header .siteinfo .main-logo {
  margin-top: 2px;
}
/* line 118, ../sass/_base.scss */
header.header .siteinfo .main-logo img {
  width: auto;
  /*		border: 3px solid white; */
  max-height: 80px;
}
/* line 125, ../sass/_base.scss */
header.header .header-region {
  width: 100%;
  padding-top: 20px;
}
/* line 131, ../sass/_base.scss */
header.header .header-region .fancy-menu > ul {
  /*All links*/
  font-size: 0;
}
/* line 134, ../sass/_base.scss */
header.header .header-region .fancy-menu > ul > li {
  /*One first level link li*/
  font-size: 10px;
  width: 20%;
  height: 50px;
  vertical-align: top;
  text-align: center;
}
/* line 142, ../sass/_base.scss */
header.header .header-region .fancy-menu > ul > li > a {
  /*First level link anchor*/
  font-size: 1.3em;
  display: inline-block;
}
/* line 153, ../sass/_base.scss */
header.header .header-region .fancy-menu > ul > li > ul {
  /*Second level child links*/
  display: none;
}
/* line 156, ../sass/_base.scss */
header.header .header-region .fancy-menu > ul > li > ul > li {
  /*One second level link li*/
}
/* line 157, ../sass/_base.scss */
header.header .header-region .fancy-menu > ul > li > ul > li > a {
  /*Second level link anchor*/
}

/**
 *The Main Menu
 */
/* line 170, ../sass/_base.scss */
.the-main-menu {
  height: 0px;
  opacity: 1;
  -webkit-transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -ms-transition: opacity .15s ease-in-out;
  -o-transition: opacity .15s ease-in-out;
  transition: opacity .15s ease-in-out;
}
/* line 179, ../sass/_base.scss */
.the-main-menu.ready {
  opacity: 1;
}
/* line 183, ../sass/_base.scss */
.the-main-menu * {
  overflow: hidden;
}
/* line 190, ../sass/_base.scss */
.the-main-menu .level-1-ul .level-1-li .level-1-div .level-1-p {
  color: #d44d00;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
}
/* line 195, ../sass/_base.scss */
.the-main-menu .level-1-ul .level-1-li .level-1-div .level-1-a {
  color: white;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
}
/* line 202, ../sass/_base.scss */
.the-main-menu .level-2-ul {
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
/* line 211, ../sass/_base.scss */
.the-main-menu .level-2-ul .level-2-li div .level-2-a {
  color: #e45700;
}

/* line 220, ../sass/_base.scss */
.header-wrap {
  padding-bottom: 20px;
}

/*********
* Content
*******/
/**
 *The Front Page
 */
/* line 232, ../sass/_base.scss */
.front #main-content {
  padding: 0px;
  width: 100%;
  font-size: 0;
}
/* line 237, ../sass/_base.scss */
.front #main-content .the-slider {
  position: relative;
  z-index: 100;
}
/* line 242, ../sass/_base.scss */
.front #main-content .skin-default {
  padding: 0px 5px;
  background: url("/sites/all/themes/the_franchise/img/homeslider-leftshad.png"), url("/sites/all/themes/the_franchise/img/homeslider-rightshad.png"), white;
  background-repeat: repeat-y, repeat-y, repeat;
  background-position: left top, right top, left top;
  background-clip: padding-box, padding-box, content-box;
}
/* line 249, ../sass/_base.scss */
.front #main-content .skin-default img {
  width: 100%;
  margin: 0px;
}
/* line 255, ../sass/_base.scss */
.front #main-content .views-slideshow-bxslider {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 10px;
}
/* line 261, ../sass/_base.scss */
.front #main-content .under-shadow {
  vertical-align: top;
}
/* line 266, ../sass/_base.scss */
.front .in-the-news {
  font-size: 10px;
  vertical-align: top;
  padding-top: 15px;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  position: relative;
  z-index: 1000;
}
/* line 276, ../sass/_base.scss */
.front .in-the-news .is-pdf {
  padding: 10px 0px;
}
/* line 278, ../sass/_base.scss */
.front .in-the-news .is-pdf .a-link {
  display: none;
}
/* line 283, ../sass/_base.scss */
.front .in-the-news .is-link {
  padding: 10px 0px;
}
/* line 285, ../sass/_base.scss */
.front .in-the-news .is-link .a-pdf {
  display: none;
}
/* line 290, ../sass/_base.scss */
.front .in-the-news > div {
  padding: 5px 0px;
}
/* line 293, ../sass/_base.scss */
.front .in-the-news > div:first-child {
  padding-top: 0px;
}
/* line 298, ../sass/_base.scss */
.front .in-the-news a {
  font-size: 18px;
  font-style: italic;
  font-weight: 900;
  color: white;
  text-decoration: none;
}
/* line 306, ../sass/_base.scss */
.front .in-the-news h2 {
  font-size: 32px;
  color: white;
  font-weight: 900;
  font-style: italic;
  margin-bottom: 0px;
}
/* line 314, ../sass/_base.scss */
.front .in-the-news .story-teaser {
  line-height: 20px;
  margin-bottom: 20px;
}
/* line 318, ../sass/_base.scss */
.front .in-the-news .story-teaser a:first-child {
  font-size: 18px;
  font-style: italic;
  font-weight: 900;
  color: white;
  text-decoration: none;
}
/* line 326, ../sass/_base.scss */
.front .in-the-news .story-teaser .text-wrap {
  font-size: 14px;
  font-weight: 300;
}
/* line 330, ../sass/_base.scss */
.front .in-the-news .story-teaser .text-wrap p {
  display: inline;
  color: white;
}
/* line 334, ../sass/_base.scss */
.front .in-the-news .story-teaser .text-wrap a {
  text-decoration: none;
  color: white;
  font-weight: 900;
}
/* line 341, ../sass/_base.scss */
.front .in-the-news .read-more-stories {
  text-align: right;
  color: white;
  font-size: 14px;
  font-weight: bold;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
}
/* line 349, ../sass/_base.scss */
.front .in-the-news .view-footer p {
  text-align: left;
  padding-right: 20px;
}
/* line 353, ../sass/_base.scss */
.front .in-the-news .view-footer p a {
  padding-right: 20px;
  background-image: url("../img/pointer-right.png");
  background-position: right center;
  background-repeat: no-repeat;
}
/* line 363, ../sass/_base.scss */
.front .glowing-salad-wrap {
  font-size: 10px;
  margin-top: -35px;
}
/* line 368, ../sass/_base.scss */
.front .glowing-salad-wrap .glowing-salad-img {
  margin-bottom: -65px;
  z-index: 100;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 376, ../sass/_base.scss */
.front .glowing-salad-wrap h2, .front .glowing-salad-wrap h4 {
  color: white;
  font-weight: 900;
  z-index: 1;
  font-style: italic;
  text-align: center;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
}
/* line 385, ../sass/_base.scss */
.front .glowing-salad-wrap h2 {
  font-size: 36px;
}
/* line 388, ../sass/_base.scss */
.front .glowing-salad-wrap h4 {
  font-size: 18px;
}

/**
 * Team
 */
/* line 399, ../sass/_base.scss */
.team img {
  width: 50%;
  max-width: 150px;
  display: block;
  margin: 0px auto;
}
/* line 405, ../sass/_base.scss */
.team .text-wrap {
  text-align: center;
}
/* line 408, ../sass/_base.scss */
.team h2 {
  font-size: 30px !important;
  margin-bottom: 0px !important;
}
/* line 412, ../sass/_base.scss */
.team h4 {
  font-size: 18px !important;
  margin-bottom: 20px !important;
}
/* line 416, ../sass/_base.scss */
.team p {
  text-align: left;
}

/**
 * News and Accolades
 */
/* line 425, ../sass/_base.scss */
.news-accolades {
  font-size: 10px;
  vertical-align: top;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
}
/* line 430, ../sass/_base.scss */
.news-accolades .source {
  font-size: 15px;
}
/* line 434, ../sass/_base.scss */
.news-accolades .is-pdf {
  padding: 10px 0px;
}
/* line 436, ../sass/_base.scss */
.news-accolades .is-pdf .a-link {
  display: none;
}
/* line 441, ../sass/_base.scss */
.news-accolades .is-link {
  padding: 10px 0px;
}
/* line 443, ../sass/_base.scss */
.news-accolades .is-link .a-pdf {
  display: none;
}
/* line 448, ../sass/_base.scss */
.news-accolades a {
  font-size: 32px !important;
  color: #e45700;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 20px;
}
/* line 456, ../sass/_base.scss */
.news-accolades .story-teaser {
  line-height: 20px;
  margin-bottom: 20px;
}
/* line 460, ../sass/_base.scss */
.news-accolades .story-teaser a:first-child {
  font-size: 20px !important;
  font-style: italic;
  font-weight: 700;
  color: #e45700;
  text-decoration: none;
}
/* line 468, ../sass/_base.scss */
.news-accolades .story-teaser .text-wrap {
  font-weight: 300;
}
/* line 471, ../sass/_base.scss */
.news-accolades .story-teaser .text-wrap p {
  font-size: 18px !important;
  display: inline;
  color: black;
}
/* line 476, ../sass/_base.scss */
.news-accolades .story-teaser .text-wrap a {
  font-size: 18px !important;
  text-decoration: none;
  color: #e45700;
  font-weight: 700;
  padding-left: 10px;
}
/* line 485, ../sass/_base.scss */
.news-accolades .pager {
  padding-left: 0px !important;
  text-align: center;
  font-size: 14px;
}
/* line 491, ../sass/_base.scss */
.news-accolades .current {
  font-size: 14px !important;
  padding: 0px 10px;
}
/* line 496, ../sass/_base.scss */
.news-accolades a {
  font-size: 16px !important;
  color: #e45700;
}

/**
 * Breadcrumbs
 */
/* line 506, ../sass/_base.scss */
.easy-breadcrumb {
  position: absolute;
  top: -25px;
  left: 5px;
}
/* line 511, ../sass/_base.scss */
.easy-breadcrumb a {
  color: white !important;
  font-size: 10px;
  margin-right: 3px;
  text-decoration: underline !important;
}
/* line 519, ../sass/_base.scss */
.easy-breadcrumb a:hover {
  text-decoration: underline;
}
/* line 524, ../sass/_base.scss */
.easy-breadcrumb .easy-breadcrumb_segment-separator {
  margin-right: 3px;
}
/* line 528, ../sass/_base.scss */
.easy-breadcrumb span {
  color: white;
  font-size: 10px;
}

/**
 * Node Page Content Area
 */
/* line 540, ../sass/_base.scss */
hr {
  background-color: gray;
  height: 1px;
  border: 0px;
}

/* line 547, ../sass/_base.scss */
.node-type-page .page-wrap, .node-type-article .page-wrap {
  padding-top: 60px;
}
/* line 550, ../sass/_base.scss */
.node-type-page #main-content, .node-type-article #main-content {
  font-size: 10px;
  padding-bottom: 60px;
}
/* line 554, ../sass/_base.scss */
.node-type-page #main-content .main-inner, .node-type-article #main-content .main-inner {
  padding: 0px 5px;
  background-image: url("../img/homeslider-leftshad.png"), url("../img/homeslider-rightshad.png");
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right top;
}
/* line 560, ../sass/_base.scss */
.node-type-page #main-content .main-inner .main-innerer, .node-type-article #main-content .main-inner .main-innerer {
  padding: 20px 40px;
  background-color: white;
}
/* line 566, ../sass/_base.scss */
.node-type-page #main-content sup, .node-type-article #main-content sup {
  font-size: 70%;
  line-height: 70%;
  padding-left: 2px;
}
/* line 572, ../sass/_base.scss */
.node-type-page #main-content h1, .node-type-article #main-content h1 {
  margin-bottom: 16px;
  color: #e45700;
  font-size: 3.8em;
}
/* line 580, ../sass/_base.scss */
.node-type-page #main-content h2, .node-type-page #main-content h3, .node-type-page #main-content h4, .node-type-page #main-content h5, .node-type-page #main-content h6, .node-type-article #main-content h2, .node-type-article #main-content h3, .node-type-article #main-content h4, .node-type-article #main-content h5, .node-type-article #main-content h6 {
  margin-bottom: 16px;
  color: #e45700;
  font-size: 2.0em;
}
/* line 587, ../sass/_base.scss */
.node-type-page #main-content p, .node-type-article #main-content p {
  margin-bottom: 16px;
  font-size: 1.6em;
}
/* line 593, ../sass/_base.scss */
.node-type-page #main-content a, .node-type-article #main-content a {
  color: #e45700;
}
/* line 596, ../sass/_base.scss */
.node-type-page #main-content ul, .node-type-article #main-content ul {
  padding-left: 50px;
  margin-bottom: 16px;
}
/* line 600, ../sass/_base.scss */
.node-type-page #main-content ul li, .node-type-article #main-content ul li {
  list-style-type: disc;
  font-size: 16px;
}
/* line 605, ../sass/_base.scss */
.node-type-page #main-content ol, .node-type-article #main-content ol {
  padding-left: 20px;
  margin-bottom: 16px;
}
/* line 609, ../sass/_base.scss */
.node-type-page #main-content ol li, .node-type-article #main-content ol li {
  list-style-type: decimal;
  font-size: 16px;
}
/* line 614, ../sass/_base.scss */
.node-type-page #main-content li, .node-type-article #main-content li {
  font-size: 1.8em;
}

/* line 623, ../sass/_base.scss */
.is-photo-tour .main-inner {
  padding: 0px 0px !important;
  background-image: none !important;
}
/* line 626, ../sass/_base.scss */
.is-photo-tour .main-inner .main-innerer {
  background-color: transparent !important;
}
/* line 630, ../sass/_base.scss */
.is-photo-tour .shadow-bottom {
  display: none !important;
}
/* line 633, ../sass/_base.scss */
.is-photo-tour .bx-wrapper {
  margin: 0px auto;
}

/**
 * Photo Tour Styles
 */
/* line 645, ../sass/_base.scss */
.is-photo-tour .thumbnail-nav .bx-slider {
  max-width: none !important;
}
/* line 654, ../sass/_base.scss */
.is-photo-tour .tour-img-wrap img {
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -ms-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}
/* line 662, ../sass/_base.scss */
.is-photo-tour .fade {
  opacity: 0 !important;
}
/* line 666, ../sass/_base.scss */
.is-photo-tour .page-wrap {
  background-color: transparent;
}
/* line 670, ../sass/_base.scss */
.is-photo-tour h1 {
  display: none;
}
/* line 674, ../sass/_base.scss */
.is-photo-tour .easy-breadcrumb a, .is-photo-tour .easy-breadcrumb span, .is-photo-tour .section-menu a {
  color: white !important;
}
/* line 678, ../sass/_base.scss */
.is-photo-tour .thumbnail-nav {
  position: relative;
  padding: 20px 3% 0px 4%;
  font-size: 0;
}
/* line 683, ../sass/_base.scss */
.is-photo-tour .thumbnail-nav .pict-shadow {
  padding: 0px 2px;
}
/* line 688, ../sass/_base.scss */
.is-photo-tour .thumbnail-nav > div:not(.item-list-pager) {
  width: 100%;
  display: inline-block;
  cursor: pointer;
}
/* line 694, ../sass/_base.scss */
.is-photo-tour .thumbnail-nav .bx-prev, .is-photo-tour .thumbnail-nav .bx-next {
  background-image: none;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 699, ../sass/_base.scss */
.is-photo-tour .thumbnail-nav .bx-prev {
  background-image: url("../img/arrow-left-small.png");
  left: -30px;
}
/* line 703, ../sass/_base.scss */
.is-photo-tour .thumbnail-nav .bx-next {
  background-image: url("../img/arrow-right-small.png");
  right: -30px;
}
/* line 708, ../sass/_base.scss */
.is-photo-tour .thumbnail-nav .item-list-pager {
  font-size: 10px;
  display: block;
}
/* line 712, ../sass/_base.scss */
.is-photo-tour .thumbnail-nav .item-list-pager .current {
  display: none;
}
/* line 716, ../sass/_base.scss */
.is-photo-tour .thumbnail-nav .item-list-pager .next {
  height: 30px;
  width: 30px;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -15px;
}
/* line 724, ../sass/_base.scss */
.is-photo-tour .thumbnail-nav .item-list-pager .next a {
  background-color: blue;
  display: block;
  font-size: 0;
  height: 100%;
  width: 100%;
}
/* line 732, ../sass/_base.scss */
.is-photo-tour .thumbnail-nav .item-list-pager .previous {
  height: 30px;
  width: 30px;
  position: absolute;
  left: 0px;
  top: 50%;
  margin-top: -15px;
}
/* line 740, ../sass/_base.scss */
.is-photo-tour .thumbnail-nav .item-list-pager .previous a {
  background-color: blue;
  display: block;
  font-size: 0;
  height: 100%;
  width: 100%;
}

/**
 * Secondary Landing Page Styles
 */
/* line 757, ../sass/_base.scss */
.node-type-secondary-landing-page .page {
  padding-top: 60px;
}

/**
 * Picture Box
 */
/**
 * Buckets
 */
/* line 780, ../sass/_base.scss */
.secondary-bucket-wrap {
  max-width: 300px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/**
 *Section Menu
 */
/* line 793, ../sass/_base.scss */
.team-page .section-menu .indent1 {
  display: inline-block !important;
}

/* line 800, ../sass/_base.scss */
.section-menu a {
  font-size: 12px !important;
}
/* line 804, ../sass/_base.scss */
.section-menu .indent1 {
  text-indent: 15px;
  display: none;
  font-size: 12px !important;
}

/* line 812, ../sass/_base.scss */
.node-type-page .section-menu a {
  color: white;
}

/***************
* Sidebar First
*************/
/* line 821, ../sass/_base.scss */
.sidebar-first {
  padding-left: 0px !important;
}

/* line 825, ../sass/_base.scss */
.inquire-now {
  margin-top: 24px;
  display: block;
  padding: 12px 24px;
  font-size: 14px;
  width: 140px;
  height: 37px;
  color: white;
  background-image: url("../img/inquire-bg.png");
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-style: italic;
  text-decoration: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/***************
* Global Footer
************/
/* line 846, ../sass/_base.scss */
footer {
  font-size: 0;
  padding-top: 40px;
}

/* line 851, ../sass/_base.scss */
.footer-about {
  vertical-align: middle;
  vertical-align: top;
}
/* line 865, ../sass/_base.scss */
.footer-about p {
  line-height: 18px;
}

/* line 872, ../sass/_base.scss */
.footer-menu {
  vertical-align: middle;
  vertical-align: top;
}
/* line 877, ../sass/_base.scss */
.footer-menu ul {
  font-size: 10px;
  padding: 25px 0px 10px 0px;
}
/* line 880, ../sass/_base.scss */
.footer-menu ul li {
  margin: 15px 0px;
  font-size: 1.4em;
  text-align: left;
}

/* line 892, ../sass/_base.scss */
.footer-social {
  vertical-align: middle;
  font-size: 10px;
  padding-top: 10px;
}
/* line 900, ../sass/_base.scss */
.footer-social ul {
  font-size: 0;
  display: inline-block;
  vertical-align: top;
}
/* line 905, ../sass/_base.scss */
.footer-social p {
  display: inline-block;
  font-size: 1.4em;
  text-align: left;
  vertical-align: top;
  padding: 5px;
}
/* line 913, ../sass/_base.scss */
.footer-social li {
  display: inline-block;
  margin: 0px 5px;
}

/* line 928, ../sass/_base.scss */
.copyright {
  font-size: 8px;
  padding: 30px 0px;
  text-align: left;
}

/***************
* Backend
*************/
/***Login***/
/* line 944, ../sass/_base.scss */
.page-user .page-wrap, .admin-menu .page-wrap {
  padding-top: 40px;
}
/* line 947, ../sass/_base.scss */
.page-user h1, .admin-menu h1 {
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  color: white;
  font-style: italic;
  font-weight: 900;
  padding-bottom: 20px;
}
/* line 954, ../sass/_base.scss */
.page-user ul.tabs, .admin-menu ul.tabs {
  margin-bottom: 20px;
}
/* line 956, ../sass/_base.scss */
.page-user ul.tabs li, .admin-menu ul.tabs li {
  display: inline-block;
  padding: 10px !important;
  background-color: white;
  border-radius: 3px 15px;
  border: 1px solid #cb4800;
  margin: 0px 5px;
}
/* line 964, ../sass/_base.scss */
.page-user ul.tabs li a, .admin-menu ul.tabs li a {
  background-color: transparent;
  color: #e45700;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
}
/* line 970, ../sass/_base.scss */
.page-user ul.tabs li.active, .admin-menu ul.tabs li.active {
  background-color: #cb4800;
  border: 1px solid white;
}
/* line 974, ../sass/_base.scss */
.page-user ul.tabs li.active a, .admin-menu ul.tabs li.active a {
  color: white !important;
}
/* line 981, ../sass/_base.scss */
.page-user form label, .admin-menu form label {
  display: inline-block;
  color: white;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-style: italic;
  width: 120px;
  font-size: 20px;
}
/* line 990, ../sass/_base.scss */
.page-user form input, .admin-menu form input {
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #cb4800;
  width: 300px;
}
/* line 997, ../sass/_base.scss */
.page-user form input[type="submit"]:not(#fsSubmitButton1497694), .admin-menu form input[type="submit"]:not(#fsSubmitButton1497694) {
  background-color: #cb4800;
  color: white;
  font-weight: 900;
  border-radius: 3px;
  width: 80px;
}
/* line 1004, ../sass/_base.scss */
.page-user form div, .admin-menu form div {
  padding-bottom: 20px;
}
/* line 1007, ../sass/_base.scss */
.page-user form small, .admin-menu form small {
  color: white;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  font-size: 10px;
  padding-top: 5px;
  padding-left: 130px;
}

/* line 1018, ../sass/_base.scss */
.admin-menu nav.tabs {
  position: relative;
  bottom: 15px;
}

/* line 1024, ../sass/_base.scss */
.node-type-secondary-landing-page.admin-menu nav.tabs, .is-photo-tour.admin-menu nav.tabs {
  bottom: 35px;
}

/* line 1029, ../sass/_base.scss */
.is-photo-tour .main-innerer {
  padding: 0px !important;
}

/*Punch List Stuff*/
/* line 1036, ../sass/_base.scss */
.node-type-page .section-menu a:hover, .node-type-secondary-landing-page .section-menu a:hover, .tippy-top-menu .above-main-menu a:hover, .node-type-page #main-content a:hover, .node-type-article #main-content a:hover, .front .in-the-news a:hover {
  text-decoration: underline;
}

/* line 1041, ../sass/_base.scss */
.shadow-bottom {
  vertical-align: top;
}

/* line 1045, ../sass/_base.scss */
#field20238612, #field20238590, #field20265591 {
  border: 1px solid black;
}

@media only screen and (min-width: 768px) {
  /***************
  * Mobile Only
  ************/
  /* line 5, ../sass/_768up.scss */
  .mobile-only {
    display: none;
  }

  /* line 8, ../sass/_768up.scss */
  .mobile-hide {
    display: auto !important;
  }

  /***************
  * Global Header
  ************/
  /* line 17, ../sass/_768up.scss */
  header.header {
    padding-top: 40px;
    position: relative;
  }
  /* line 21, ../sass/_768up.scss */
  header.header .siteinfo {
    display: block;
    width: 10%;
    position: absolute;
    top: 15px;
    max-width: 90px;
  }
  /* line 28, ../sass/_768up.scss */
  header.header .siteinfo .main-logo {
    margin-top: 2px;
    width: 100%;
    max-height: none;
  }
  /* line 34, ../sass/_768up.scss */
  header.header .header-region {
    width: 100%;
    padding-top: 20px;
  }
  /* line 39, ../sass/_768up.scss */
  header.header .header-region .fancy-menu > ul {
    /*All links*/
    font-size: 0;
  }
  /* line 42, ../sass/_768up.scss */
  header.header .header-region .fancy-menu > ul > li {
    /*One first level link li*/
    font-size: 10px;
    width: 20%;
    height: 50px;
    vertical-align: top;
    text-align: center;
  }
  /* line 75, ../sass/_768up.scss */
  header.header .header-region .fancy-menu > ul > li > a {
    /*First level link anchor*/
    font-size: 1.3em;
    display: inline-block;
  }
  /* line 83, ../sass/_768up.scss */
  header.header .header-region .fancy-menu > ul > li > ul {
    /*Second level child links*/
    display: none;
  }
  /* line 86, ../sass/_768up.scss */
  header.header .header-region .fancy-menu > ul > li > ul > li {
    /*One second level link li*/
  }
  /* line 87, ../sass/_768up.scss */
  header.header .header-region .fancy-menu > ul > li > ul > li > a {
    /*Second level link anchor*/
  }

  /**
   *The Main Menu
   */
  /* line 100, ../sass/_768up.scss */
  .the-main-menu {
    height: auto;
    opacity: 0;
  }
  /* line 104, ../sass/_768up.scss */
  .the-main-menu.ready {
    opacity: 1;
  }
  /* line 108, ../sass/_768up.scss */
  .the-main-menu .level-1-ul {
    display: block;
    height: 44px;
    overflow: visible;
    background-image: url(../img/menubar-grad.png);
    background-size: auto 44px;
    background-repeat: repeat-x;
    background-position: left top;
    font-size: 0;
  }
  /* line 118, ../sass/_768up.scss */
  .the-main-menu .level-1-ul .level-1-li {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-top: 0px;
    display: inline-block;
    vertical-align: top;
    height: auto;
    width: 20%;
    height: 100%;
    overflow: visible;
  }
  /* line 129, ../sass/_768up.scss */
  .the-main-menu .level-1-ul .level-1-li:first-child {
    width: 24%;
  }
  /* line 132, ../sass/_768up.scss */
  .the-main-menu .level-1-ul .level-1-li:first-child .level-1-a {
    width: 131px;
  }
  /* line 136, ../sass/_768up.scss */
  .the-main-menu .level-1-ul .level-1-li:last-child {
    width: 14%;
  }
  /* line 139, ../sass/_768up.scss */
  .the-main-menu .level-1-ul .level-1-li:last-child .level-1-a {
    width: 60px;
  }
  /* line 143, ../sass/_768up.scss */
  .the-main-menu .level-1-ul .level-1-li:nth-child(2) {
    width: 21%;
  }
  /* line 146, ../sass/_768up.scss */
  .the-main-menu .level-1-ul .level-1-li:nth-child(2) .level-1-a {
    width: 110px;
  }
  /* line 150, ../sass/_768up.scss */
  .the-main-menu .level-1-ul .level-1-li:nth-child(3) {
    width: 19%;
  }
  /* line 153, ../sass/_768up.scss */
  .the-main-menu .level-1-ul .level-1-li:nth-child(3) .level-1-a {
    width: 95px;
  }
  /* line 158, ../sass/_768up.scss */
  .the-main-menu .level-1-ul .level-1-li:nth-child(4) {
    width: 22%;
  }
  /* line 161, ../sass/_768up.scss */
  .the-main-menu .level-1-ul .level-1-li:nth-child(4) .level-1-a {
    width: 120px;
  }
  /* line 167, ../sass/_768up.scss */
  .the-main-menu .level-1-ul .level-1-li .level-1-div {
    padding-top: 6px;
    display: block;
    height: auto;
  }
  /* line 172, ../sass/_768up.scss */
  .the-main-menu .level-1-ul .level-1-li .level-1-div .level-1-p {
    display: inline-block;
    height: 38px;
    vertical-align: middle;
    color: #d44d00;
    font-size: 32px;
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    width: 40px;
    text-align: center;
    cursor: default;
  }
  /* line 184, ../sass/_768up.scss */
  .the-main-menu .level-1-ul .level-1-li .level-1-div .level-1-a {
    display: inline-block;
    vertical-align: middle;
    color: white;
    font-size: 12px;
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    text-align: center;
    text-decoration: none;
  }
  /* line 196, ../sass/_768up.scss */
  .the-main-menu .level-2-ul {
    position: relative;
    z-index: 1000;
    display: block;
    max-height: 0px;
    height: auto;
    background-image: url("../img/dropmenu-bot.png"), url("../img/dropmenu-top.png");
    background-size: 100% auto, 100% auto;
    background-repeat: no-repeat, repeat-y;
    background-position: left bottom, left top;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  /* line 213, ../sass/_768up.scss */
  .the-main-menu .level-2-ul .level-2-li {
    padding: 5px 0px;
    display: block;
  }
  /* line 217, ../sass/_768up.scss */
  .the-main-menu .level-2-ul .level-2-li div {
    display: block;
    text-align: center;
  }
  /* line 221, ../sass/_768up.scss */
  .the-main-menu .level-2-ul .level-2-li div .level-2-a {
    font-size: 14px;
    font-weight: 500;
    color: #e45700;
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
  }
  /* line 230, ../sass/_768up.scss */
  .the-main-menu .level-1-li.active-trail {
    background-image: url("../img/sel-menubar-left.png"), url("../img/sel-menubar-.png"), url("../img/sel-menubar-mid.png") !important;
    background-repeat: no-repeat, no-repeat, repeat-x !important;
    background-position: left top, right top, left top !important;
  }
  /* line 235, ../sass/_768up.scss */
  .the-main-menu .level-1-li.active-trail .level-1-div {
    -webkit-box-shadow: -8px 10px 29px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -8px 10px 29px rgba(0, 0, 0, 0.2);
    box-shadow: -8px 10px 29px rgba(0, 0, 0, 0.2);
    overflow: visible;
  }
  /* line 241, ../sass/_768up.scss */
  .the-main-menu .level-1-li.active-trail .level-1-div .level-1-p {
    color: white !important;
  }
  /* line 246, ../sass/_768up.scss */
  .the-main-menu .level-1-li:hover, .the-main-menu .level-1-li:active {
    background-image: url("../img/sel-menubar-left.png"), url("../img/sel-menubar-.png"), url("../img/sel-menubar-mid.png") !important;
    background-repeat: no-repeat, no-repeat, repeat-x !important;
    background-position: left top, right top, left top !important;
  }
  /* line 251, ../sass/_768up.scss */
  .the-main-menu .level-1-li:hover .level-1-div, .the-main-menu .level-1-li:active .level-1-div {
    -webkit-box-shadow: -8px 10px 29px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -8px 10px 29px rgba(0, 0, 0, 0.2);
    box-shadow: -8px 10px 29px rgba(0, 0, 0, 0.2);
    overflow: visible;
  }
  /* line 257, ../sass/_768up.scss */
  .the-main-menu .level-1-li:hover .level-1-div .level-1-p, .the-main-menu .level-1-li:active .level-1-div .level-1-p {
    color: white;
  }
  /* line 265, ../sass/_768up.scss */
  .the-main-menu .level-1-li:hover .level-1-div .level-2-ul, .the-main-menu .level-1-li:active .level-1-div .level-2-ul {
    max-height: 300px;
  }
  /* line 269, ../sass/_768up.scss */
  .the-main-menu .level-1-li:hover .level-1-div .level-2-ul .level-2-li:hover, .the-main-menu .level-1-li:hover .level-1-div .level-2-ul .level-2-li:active, .the-main-menu .level-1-li:active .level-1-div .level-2-ul .level-2-li:hover, .the-main-menu .level-1-li:active .level-1-div .level-2-ul .level-2-li:active {
    background-color: #cb4800;
  }
  /* line 272, ../sass/_768up.scss */
  .the-main-menu .level-1-li:hover .level-1-div .level-2-ul .level-2-li:hover .level-2-a, .the-main-menu .level-1-li:hover .level-1-div .level-2-ul .level-2-li:active .level-2-a, .the-main-menu .level-1-li:active .level-1-div .level-2-ul .level-2-li:hover .level-2-a, .the-main-menu .level-1-li:active .level-1-div .level-2-ul .level-2-li:active .level-2-a {
    color: white;
  }

  /* line 289, ../sass/_768up.scss */
  .header-wrap {
    padding-bottom: 20px;
  }

  /**
   *Above the Main Menu
   */
  /* line 297, ../sass/_768up.scss */
  .tippy-top-menu {
    text-align: right;
    height: 53px;
  }
  /* line 301, ../sass/_768up.scss */
  .tippy-top-menu .order-now-wrap {
    display: inline-block;
  }
  /* line 304, ../sass/_768up.scss */
  .tippy-top-menu .order-now-wrap .order-now-header {
    box-sizing: border-box;
    -moz-border-box: border-box;
    display: inline-block;
    height: 40px;
    padding-top: 10px;
    padding-left: 70px;
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    font-weight: 900;
    text-decoration: none;
    color: white;
    font-style: italic;
    background-image: url("../img/tiny-salad.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: auto 40px;
  }
  /* line 325, ../sass/_768up.scss */
  .tippy-top-menu .above-main-menu {
    display: inline-block;
    margin-left: 40px;
    padding-right: 35px;
  }
  /* line 330, ../sass/_768up.scss */
  .tippy-top-menu .above-main-menu li {
    padding: 0px 5px;
  }
  /* line 334, ../sass/_768up.scss */
  .tippy-top-menu .above-main-menu a {
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: white;
    font-weight: 500;
    text-decoration: none;
  }

  /* line 344, ../sass/_768up.scss */
  .node-type-page .page-wrap, .node-type-secondary-landing-page .page-wrap {
    padding-top: 30px;
  }

  /* line 348, ../sass/_768up.scss */
  .node-type-secondary-landing-page .page {
    padding-top: 0px;
  }

  /* line 352, ../sass/_768up.scss */
  .node-type-page #main-content, .node-type-article #main-content {
    padding-bottom: 0px;
  }

  /* line 357, ../sass/_768up.scss */
  .front .under-slider-menu {
    margin-top: -19px;
    z-index: -100;
    padding: 0px 15px;
  }
  /* line 361, ../sass/_768up.scss */
  .front .under-slider-menu ul {
    font-size: 0;
  }
  /* line 363, ../sass/_768up.scss */
  .front .under-slider-menu ul li {
    overflow: visible;
    display: inline-block;
    width: 25%;
    height: auto;
    vertical-align: top;
  }
  /* line 369, ../sass/_768up.scss */
  .front .under-slider-menu ul li a {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 30px;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-style: italic;
    color: white;
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    font-weight: 900;
    background-repeat: no-repeat, no-repeat, repeat-y;
    background-size: 100% auto, 100% auto, 100% auto;
    background-position: left top, left bottom, left top;
    text-decoration: none;
  }
  /* line 388, ../sass/_768up.scss */
  .front .under-slider-menu ul li:hover {
    -webkit-box-shadow: -8px 10px 29px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -8px 10px 29px rgba(0, 0, 0, 0.2);
    box-shadow: -8px 10px 29px rgba(0, 0, 0, 0.2);
  }
  /* line 393, ../sass/_768up.scss */
  .front .under-slider-menu ul li:hover a {
    background-image: url("../img/und-slider-menu-top.png"), url("../img/und-slider-menu-bot.png"), url("../img/und-slider-menu-mid.png");
    color: #e45700;
  }

  /* line 402, ../sass/_768up.scss */
  .front .in-the-news {
    width: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  /* line 409, ../sass/_768up.scss */
  .team-page .text-wrap p {
    min-height: 140px !important;
  }

  /**
   * Team
   */
  /* line 418, ../sass/_768up.scss */
  .team > div {
    padding: 20px 0px;
  }
  /* line 421, ../sass/_768up.scss */
  .team img {
    width: 150px;
    max-width: none;
    float: left;
  }
  /* line 426, ../sass/_768up.scss */
  .team .text-wrap {
    padding-left: 40px;
    width: auto;
    overflow: hidden;
    text-align: left;
  }
}
@media only screen and (max-width: 767px) {
  /* line 1, ../sass/_767down.scss */
  .desktop-only {
    display: none !important;
  }

  /* line 4, ../sass/_767down.scss */
  .easy-breadcrumb {
    display: none !important;
  }

  /* line 7, ../sass/_767down.scss */
  .header-wrap {
    padding-top: 30px;
    padding-bottom: 0px;
  }
  /* line 11, ../sass/_767down.scss */
  .header-wrap header.header {
    background-color: white;
  }
  /* line 14, ../sass/_767down.scss */
  .header-wrap header.header .header-region {
    padding-top: 40px;
  }
  /* line 19, ../sass/_767down.scss */
  .header-wrap header.header .siteinfo img {
    max-height: 100px;
  }
  /* line 24, ../sass/_767down.scss */
  .header-wrap header.header #tippyTopMenu {
    position: absolute;
    display: inline-block;
    width: auto;
    top: -20px;
    right: 0px;
    font-size: 11px;
    color: white;
    padding-right: 10px;
  }
  /* line 34, ../sass/_767down.scss */
  .header-wrap header.header #tippyTopMenu .above-main-menu {
    display: inline-block;
  }
  /* line 37, ../sass/_767down.scss */
  .header-wrap header.header #tippyTopMenu .above-main-menu ul {
    display: inline-block;
  }
  /* line 40, ../sass/_767down.scss */
  .header-wrap header.header #tippyTopMenu .above-main-menu ul li {
    padding: 0px 3px;
  }
  /* line 46, ../sass/_767down.scss */
  .header-wrap header.header #tippyTopMenu a {
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    color: white;
    font-size: 10px;
  }
  /* line 53, ../sass/_767down.scss */
  .header-wrap header.header .order-now-wrap {
    display: none;
  }

  /**
   *The Main Menu
   */
  /* line 62, ../sass/_767down.scss */
  .the-main-menu {
    height: auto;
  }
  /* line 67, ../sass/_767down.scss */
  .the-main-menu .level-1-ul {
    height: auto;
    max-height: 0px;
    background-color: white;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  /* line 77, ../sass/_767down.scss */
  .the-main-menu .level-1-ul .level-1-li {
    display: block;
    padding: 10px 0px;
    text-indent: -10000px;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  /* line 89, ../sass/_767down.scss */
  .the-main-menu .level-1-ul .level-1-li .level-1-div .level-1-p {
    display: none;
  }
  /* line 92, ../sass/_767down.scss */
  .the-main-menu .level-1-ul .level-1-li .level-1-div .level-1-a {
    color: #e45700;
  }
  /* line 100, ../sass/_767down.scss */
  .the-main-menu .level-2-ul .level-2-li {
    padding: 5px 0px;
    text-indent: -10000px;
    display: block;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  /* line 112, ../sass/_767down.scss */
  .the-main-menu .level-2-ul .level-2-li div .level-2-a {
    color: #e45700;
    font-weight: 500 !important;
  }

  /* line 121, ../sass/_767down.scss */
  nav ul.level-1-ul li.level-1-li div.level-1-div .level-2-ul {
    display: block !important;
  }

  /* line 126, ../sass/_767down.scss */
  .the-main-menu.active-menu {
    padding-bottom: 30px;
  }
  /* line 130, ../sass/_767down.scss */
  .the-main-menu.active-menu .level-1-ul {
    max-height: 700px;
  }
  /* line 132, ../sass/_767down.scss */
  .the-main-menu.active-menu .level-1-ul .level-1-li {
    text-indent: 5%;
  }
  /* line 143, ../sass/_767down.scss */
  .the-main-menu.active-menu .level-2-ul .level-2-li {
    text-indent: 10%;
  }

  /* line 154, ../sass/_767down.scss */
  .front .in-the-news h2 {
    margin-bottom: 0px;
  }

  /* line 159, ../sass/_767down.scss */
  .front #main-content, .is-photo-tour #main-content {
    width: 100%;
    padding-top: 30px;
  }
  /* line 163, ../sass/_767down.scss */
  .front #main-content .skin-default, .is-photo-tour #main-content .skin-default {
    background: #fff;
    background-repeat: repeat;
    background-position: left top;
    background-clip: content-box;
  }
  /* line 169, ../sass/_767down.scss */
  .front #main-content .skin-default .views-slideshow-bxslider, .is-photo-tour #main-content .skin-default .views-slideshow-bxslider {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
  }
  /* line 175, ../sass/_767down.scss */
  .front #main-content .under-shadow, .is-photo-tour #main-content .under-shadow {
    display: none;
  }
  /* line 178, ../sass/_767down.scss */
  .front #main-content .under-slider-menu, .is-photo-tour #main-content .under-slider-menu {
    display: none;
  }

  /* line 185, ../sass/_767down.scss */
  .is-photo-tour footer {
    padding-top: 20px;
  }
  /* line 189, ../sass/_767down.scss */
  .is-photo-tour #main-content {
    padding-bottom: 0px;
  }
  /* line 193, ../sass/_767down.scss */
  .is-photo-tour .thumbnail-nav {
    display: none;
  }
  /* line 196, ../sass/_767down.scss */
  .is-photo-tour .big-img {
    display: none;
  }

  /* line 201, ../sass/_767down.scss */
  .footer-social {
    padding-top: 10px;
  }

  /* line 204, ../sass/_767down.scss */
  .footer-menu ul li a {
    text-decoration: underline;
  }

  /* line 209, ../sass/_767down.scss */
  .about-saladworks .sidebar-first {
    display: inline-block;
    float: none;
  }
  /* line 213, ../sass/_767down.scss */
  .about-saladworks .sidebar-first .section-menu {
    text-align: left;
    padding-top: 30px;
    font-size: 18px;
  }

  /* line 220, ../sass/_767down.scss */
  .node-type-page #main-content, .node-type-article #main-content {
    padding-bottom: 0px;
  }
}
@media only screen and (min-width: 1024px) {
  /**
   *Widths
   */
  /* line 8, ../sass/_1024up.scss */
  .footer-social {
    width: 22.2222%;
    display: inline-block;
  }

  /* line 12, ../sass/_1024up.scss */
  .front .glowing-salad-wrap, .footer-menu {
    width: 33.3333%;
    display: inline-block;
  }

  /* line 16, ../sass/_1024up.scss */
  .footer-about {
    width: 44.4444%;
    display: inline-block;
  }

  /* line 24, ../sass/_1024up.scss */
  .front .in-the-news {
    width: 66.6666%;
    display: inline-block;
  }

  /* line 32, ../sass/_1024up.scss */
  header.header .header-region {
    width: 88.8888%;
    display: inline-block;
  }

  /* line 36, ../sass/_1024up.scss */
  .copyright {
    width: 100%;
    display: block;
  }

  /* line 41, ../sass/_1024up.scss */
  .page, footer {
    display: block;
    width: 100%;
    max-width: 960px;
  }

  /***************
  * Global Header
  ************/
  /* line 52, ../sass/_1024up.scss */
  header.header {
    max-width: 960px;
    padding-top: 0px;
  }
  /* line 56, ../sass/_1024up.scss */
  header.header .siteinfo {
    position: static;
    max-width: none !important;
    padding-top: 8px;
  }
  /* line 60, ../sass/_1024up.scss */
  header.header .siteinfo .main-logo img {
    max-height: none;
  }
  /* line 64, ../sass/_1024up.scss */
  header.header .header-region {
    padding-left: 30px;
    padding-top: 6px;
  }
  /* line 68, ../sass/_1024up.scss */
  header.header nav.the-main-menu {
    margin-left: 15px;
  }
  /* line 71, ../sass/_1024up.scss */
  header.header nav.the-main-menu .level-1-li:not(:first-child) {
    background-image: url("/sites/all/themes/the_franchise/img/top-nav-arrow.png");
    background-repeat: no-repeat;
    background-position: left center;
  }

  /* line 79, ../sass/_1024up.scss */
  #tippyTopMenu {
    background-image: url("../img/favorite-salads.png");
    background-repeat: no-repeat;
    background-position: 15px 25px;
  }
  /* line 84, ../sass/_1024up.scss */
  #tippyTopMenu .above-main-menu {
    padding-right: 0px !important;
  }

  /**
   * Containers
   */
  /******
   *Page
   ***/
  /* line 101, ../sass/_1024up.scss */
  .section-menu a {
    font-size: 14px !important;
  }
  /* line 104, ../sass/_1024up.scss */
  .section-menu .indent1 {
    font-size: 14px !important;
  }

  /* line 109, ../sass/_1024up.scss */
  .in-the-news {
    padding-right: 80px;
  }

  /***
   * Basic Page Styles
   **
   */
  /* line 117, ../sass/_1024up.scss */
  .front .in-the-news {
    display: inline-block;
    margin-right: 0px;
    margin-left: 0px;
  }

  /**
   * Team
   */
  /* line 128, ../sass/_1024up.scss */
  .team > div {
    padding: 20px 0px;
  }
  /* line 131, ../sass/_1024up.scss */
  .team img {
    width: 150px;
    max-width: none;
    float: left;
  }
  /* line 136, ../sass/_1024up.scss */
  .team .text-wrap {
    padding-left: 40px;
    width: auto;
    overflow: hidden;
    text-align: left;
  }

  /**
   * Secondary Landing Page Styles
   */
  /* line 153, ../sass/_1024up.scss */
  .secondary-bucket-wrap {
    max-width: none;
    display: block;
    margin-right: 0px;
    margin-left: 0px;
  }

  /**
   * Picture Box
   */
  /**
   * Buckets
   */
  /* line 168, ../sass/_1024up.scss */
  .secondary-bucket-wrap .one-bucket {
    width: 100%;
  }
  /* line 171, ../sass/_1024up.scss */
  .secondary-bucket-wrap .two-bucket {
    width: 50%;
  }
  /* line 174, ../sass/_1024up.scss */
  .secondary-bucket-wrap .three-bucket {
    width: 33.333%;
    padding: 0px 2%;
  }
  /* line 178, ../sass/_1024up.scss */
  .secondary-bucket-wrap .three-bucket:first-child {
    padding-left: 0px;
    padding-right: 4%;
  }
  /* line 183, ../sass/_1024up.scss */
  .secondary-bucket-wrap .three-bucket:last-child {
    padding-right: 0px;
    padding-left: 4%;
  }
  /* line 188, ../sass/_1024up.scss */
  .secondary-bucket-wrap .four-bucket {
    width: 25%;
    padding: 0px 2%;
  }
  /* line 192, ../sass/_1024up.scss */
  .secondary-bucket-wrap .four-bucket:first-child {
    padding-left: 0px;
    padding-right: 4%;
  }
  /* line 197, ../sass/_1024up.scss */
  .secondary-bucket-wrap .four-bucket:last-child {
    padding-right: 0px;
    padding-left: 4%;
  }

  /**
  * Global Footer
  */
  /* line 215, ../sass/_1024up.scss */
  .footer-about {
    padding-right: 30px;
  }

  /* line 219, ../sass/_1024up.scss */
  .footer-menu {
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 0px 29px;
  }

  /* line 225, ../sass/_1024up.scss */
  .footer-social {
    padding-top: 90px;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 1, ../sass/_1024down.scss */
  nav ul.level-1-ul li.level-1-li div.level-1-div .level-2-ul {
    display: none;
  }

  /* line 5, ../sass/_1024down.scss */
  .available object {
    display: none;
  }
}
@media only screen and (min-width: 1280px) {
  /**
   *Page Set-Up
   */
  /* line 5, ../sass/_1280up.scss */
  .page, footer {
    display: block;
    width: 100%;
    max-width: 1080px;
  }

  /* line 14, ../sass/_1280up.scss */
  .header-wrap header {
    max-width: 1080px;
  }

  /* line 18, ../sass/_1280up.scss */
  .siteinfo {
    padding-top: 18px !important;
  }

  /* line 22, ../sass/_1280up.scss */
  header.header {
    padding-top: 0px;
  }

  /* line 26, ../sass/_1280up.scss */
  .the-main-menu {
    opacity: 0;
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
  }
  /* line 34, ../sass/_1280up.scss */
  .the-main-menu.ready {
    opacity: 1;
  }
  /* line 38, ../sass/_1280up.scss */
  .the-main-menu * {
    overflow: hidden;
  }
  /* line 42, ../sass/_1280up.scss */
  .the-main-menu .level-1-ul {
    display: block;
    height: 66px;
    overflow: visible;
    background-image: url(../img/menubar-grad.png);
    background-repeat: repeat-x;
    background-position: left top;
    background-size: auto 66px;
    font-size: 0;
  }
  /* line 52, ../sass/_1280up.scss */
  .the-main-menu .level-1-ul .level-1-li {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    height: auto;
    width: 20%;
    height: 100%;
    overflow: visible;
  }
  /* line 62, ../sass/_1280up.scss */
  .the-main-menu .level-1-ul .level-1-li:first-child {
    width: 24%;
  }
  /* line 65, ../sass/_1280up.scss */
  .the-main-menu .level-1-ul .level-1-li:first-child .level-1-a {
    width: 165px;
  }
  /* line 69, ../sass/_1280up.scss */
  .the-main-menu .level-1-ul .level-1-li:last-child {
    width: 14%;
  }
  /* line 72, ../sass/_1280up.scss */
  .the-main-menu .level-1-ul .level-1-li:last-child .level-1-a {
    width: 70px;
  }
  /* line 76, ../sass/_1280up.scss */
  .the-main-menu .level-1-ul .level-1-li:nth-child(2) {
    width: 21%;
  }
  /* line 79, ../sass/_1280up.scss */
  .the-main-menu .level-1-ul .level-1-li:nth-child(2) .level-1-a {
    width: 135px;
  }
  /* line 83, ../sass/_1280up.scss */
  .the-main-menu .level-1-ul .level-1-li:nth-child(3) {
    width: 19%;
  }
  /* line 86, ../sass/_1280up.scss */
  .the-main-menu .level-1-ul .level-1-li:nth-child(3) .level-1-a {
    width: 120px;
  }
  /* line 91, ../sass/_1280up.scss */
  .the-main-menu .level-1-ul .level-1-li:nth-child(4) {
    width: 22%;
  }
  /* line 94, ../sass/_1280up.scss */
  .the-main-menu .level-1-ul .level-1-li:nth-child(4) .level-1-a {
    width: 145px;
  }
  /* line 100, ../sass/_1280up.scss */
  .the-main-menu .level-1-ul .level-1-li .level-1-div {
    display: block;
    height: auto;
  }
  /* line 104, ../sass/_1280up.scss */
  .the-main-menu .level-1-ul .level-1-li .level-1-div .level-1-p {
    display: inline-block;
    height: 60px;
    vertical-align: middle;
    color: #d44d00;
    font-size: 45px;
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    width: 50px;
    text-align: center;
  }
  /* line 115, ../sass/_1280up.scss */
  .the-main-menu .level-1-ul .level-1-li .level-1-div .level-1-a {
    display: inline-block;
    vertical-align: middle;
    color: white;
    font-size: 15px;
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    text-align: center;
    text-decoration: none;
  }
  /* line 127, ../sass/_1280up.scss */
  .the-main-menu .level-2-ul {
    position: relative;
    z-index: 1000;
    display: block;
    max-height: 0px;
    height: auto;
    background-image: url("../img/dropmenu-bot.png"), url("../img/dropmenu-top.png");
    background-repeat: no-repeat, repeat-y;
    background-position: left bottom, left top;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  /* line 143, ../sass/_1280up.scss */
  .the-main-menu .level-2-ul .level-2-li {
    padding-bottom: 10px;
    display: block;
  }
  /* line 147, ../sass/_1280up.scss */
  .the-main-menu .level-2-ul .level-2-li:first-child {
    padding-top: 10px;
  }
  /* line 151, ../sass/_1280up.scss */
  .the-main-menu .level-2-ul .level-2-li div {
    display: block;
    text-align: center;
  }
  /* line 155, ../sass/_1280up.scss */
  .the-main-menu .level-2-ul .level-2-li div .level-2-a {
    font-size: 14px;
    font-weight: 500;
    color: #e45700;
  }
  /* line 163, ../sass/_1280up.scss */
  .the-main-menu .level-1-li:hover {
    background-image: url("../img/sel-menubar-left.png"), url("../img/sel-menubar-.png"), url("../img/sel-menubar-mid.png");
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: left top, right top, left top;
  }
  /* line 170, ../sass/_1280up.scss */
  .the-main-menu .level-1-li:hover .level-1-div .level-1-p {
    color: white;
  }
  /* line 178, ../sass/_1280up.scss */
  .the-main-menu .level-1-li:hover .level-1-div .level-2-ul {
    max-height: 300px;
  }

  /* line 195, ../sass/_1280up.scss */
  .section-menu a {
    font-size: 15px !important;
  }

  /* line 200, ../sass/_1280up.scss */
  .inquire-now {
    font-size: 21px;
    width: 188px;
    height: 50px;
  }
}
@media only print {
  /**
   *Print Styles
   */
}
/* line 53, ../sass/style.scss */
.ie8 {
  /**
   * Use this sheet to apply styles when the <body> has class .ie8.
   */
}
