/* sw_products.css */
.cyo-salad-page .cyo-salad { padding-left: 10%; }
.cyo-salad-page .salad-add-ons { display: none; }
.cyo-section { padding-bottom: 22px; }
.cyo-salad article { position: relative; }

@media only screen and (min-width:500px) {
  .cyo-salad-page article.node-sw-item { position: relative; }
  .cyo-salad-page article.node-sw-item .fixed-page-wrap { position: absolute; width: 30%; left: 60%; top: 0;}
  .cyo-salad-page article.node-sw-item .fixed-page-wrap .fixed-page-inner { position: relative; width: 100%; vertical-align: top;}
  .cyo-salad-page article.node-sw-item .nutrition-wrap { float: none; width: 30% !important; position: fixed; text-align: left; top: 260px; padding-top: 20px; z-index:999;}
  .cyo-salad-page article.node-sw-item .disclaimer { background: #fff; }
  .cyo-salad-page article.node-sw-item .nutrition-wrap .nutrition_board { display: block; margin: auto; background: #fff; z-index: 999; border-radius: 15px;  }
  .cyo-salad-page.node-type-sw-item .salad-wrap { width: 60%; margin: 0; }
}
@media only screen and (max-width: 499px) {
  .cyo-salad-page.node-type-sw-item .salad-wrap { width: 100%; margin: 0; }
  body.one-sidebar.node-type-sw-item.cyo-salad-page div#main-content { display: block !important; }
}
@media only screen and (min-width:500px) and (max-width: 767px) {
  body.one-sidebar.node-type-sw-item.cyo-salad-page div#main-content { display: block !important; }
}
.cyo-salad-page .salad-text { padding-bottom: 20px; }

.cyo-salad .activated { color: #e45700; }
.cyo-salad .cyo-section { display: block; vertical-align: top; font-family: museo-sans, arial, helvetica, sans-serif;}
.cyo-section h3 { font-size: 20px; font-weight: 900; padding-bottom: 22px; }
.cyo-section input { height: 20px; width: 20px; vertical-align: text-bottom;}
.cyo-section label { font-size: 14px; line-height: 22px; vertical-align: baseline; display: inline-block; padding-left: 5px;}
.cyo-section select {
  width: 200px;
  height: 22px;
  padding: 3px;
  display: inline-block;
  border: 1px solid #000;
  background: #fff;
  font-size: 14px;
}


@media only screen and (min-width : 480px){
	.cyo-salad-page .cyo-salad { padding-left: 0%; }
	.cyo-salad .cyo-section { display: inline-block; width: 100%; }
	.cyo-section label { font-size: 12px; }
	.cyo-section li { display: inline-block; width: 50%; }


@media only screen and (min-width : 1024px){
	.cyo-salad-page .cyo-salad { padding-top: 42px; }
/*	.cyo-salad-page .fixed-page-wrap { position: fixed; top: 0px; bottom: 0px; left: 0px; right: 0px; z-index: -100; } */
	.cyo-salad-page .fixed-page-inner { display: block; width: 100%; max-width: 960px; margin-right: auto; margin-left: auto; }
	.salad-add-ons, .soup-add-ons, .sand-add-ons { width: 70%; }
}

@media only screen and (min-width : 1280px){
/*	.cyo-salad-page .fixed-page-wrap { position: fixed; top: 0px; bottom: 0px; left: 0px; right: 0px; z-index: -100; } */
	.cyo-salad-page .fixed-page-inner { display: block; width: 100%; max-width: 1080px; margin-right: auto; margin-left: auto; }
}