<!--
templateName: account.html
description: This template serves as the returning user Account management page for the fresh_fan_club2
dependencies: It calls upon the content.html template
-->

{1:TOP_JAVA}
<script type="text/javascript" src="/fresh_fan_club2/includes/js/validate.js"></script>
<script type="text/javascript" src="/fresh_fan_club2/includes/js/jquery.masked.js"></script>
<script type="text/javascript">
primary_form_controls();
</script>
{2:TOP_JAVA}
{1:SSL}{2:SSL}
{1:TITLE}Saladworks Fresh Fan Club Account{2:TITLE}
{1:HEADERTITLE}%%name%% account information{2:HEADERTITLE}
{1:HEADERTEXT}<a class="shiftedAnchor" href="/fresh_fan_club2/Points" title="Back to Points Board">Back to Points Board</a>{2:HEADERTEXT}
{1:CONTENT}
{2:CONTENT}
{1:BOTTOM_JAVA}
{2:BOTTOM_JAVA}