<!--
templateName: card_number.html
description: This template serves as the new card form field
-->

                  <div class="field-wrapper fanclub-input">
                    <div class="assistive-graphic">
                      <img src="/fresh_fan_club2/includes/images/shell/card.jpg" width="231" height="213" alt="Fresh Fan Club Card" />
                      <label for="card_number">Fresh Fan Club Card Number</label>
                      <input type="text" id="card_number" name="card_number" />
                    </div><!--/.assistive-graphic-->
                  </div><!--/.field-wrapper-->
