<!--
templateName: content.html
description: This template serves as the returning user Account management form section for the fresh_fan_club2
dependencies: It calls upon the profile.html template
-->

<div id="homeMain">
    <div id="maind" class="card-management-form-wrapper">
    <div class="block-wrapper">
      <form id="reg" method="post" onsubmit="return add_fan_club_card(this);return false;">
        <div class="loyalty_cards" id="loyalty_cards">
          <h2>Manage Your Cards</h2>
          %%cards%%

          <h2 style="margin-bottom:0;padding-bottom:0;">Register an Additional Card</h2>
          <div class="field-wrapper fanclub-input" style="margin-top: 5px;">
            <div class="assistive-graphic">
              <img src="/fresh_fan_club2/includes/images/shell/card.jpg" width="231" height="213" alt="Fresh Fan Club Card" />
              <label for="card">Fresh Fan Club Card Number</label>
              <input type="text" id="card" name="card" />
            </div><!--/.assistive-graphic-->
          </div><!--/.field-wrapper-->
          <input type="submit" name="add_card" value="Add Fresh Fan Club Card" />

        </div><!--/.loyalty_cards-->
      </form><!--/#reg-->
  </div><!--/.block-wrapper-->
  </div><!--/.card-management-form-wrapper-->

  <div class="registrationFormWrapper">
    <div class="register_form">
      <!--//profile//-->
        %%profile%%
      <!--/profile-->

      <div id="loyalty_register_msg"></div>
    </div><!--/.register_form-->
  </div><!--/.registrationFormWrapper-->

</div><!--/#homeMain-->
