Welcome %%first_name%% %%last_name%% to the Saladworks Fresh Fan Club.<br />
You have successfully registered your Account, Check back soon at http://www.saladworks.com/fresh_fan_club2/<br />
<br />
Thank you,<br />
SaladWorks