<!--
templateName: index.html
description: This template serves as the landing page for the fresh_fan_club2
-->

<p>{1:TOP_JAVA}
  {2:TOP_JAVA}
  {1:SSL}{2:SSL}
  {1:TITLE}Saladworks Fresh Fan Club{2:TITLE}
  {1:HEADERTITLE}free food for loyal fans{2:HEADERTITLE}
  {1:HEADERTEXT}Join the Saladworks Fresh Fan Club today and start earning member benefits. Gain points and redeem them for Saladworks menu items.<br /><br />
  <a href="http://www.saladworks.com/fresh-fan-club-frequently-asked-questions">Click here to read our<br />Frequently Asked Questions</a> {2:HEADERTEXT}
{1:CONTENT} </p>

<div id="homeMain">

  <div id="main_center">
      <div id="login_main">
        <div class="block-wrapper">
          <h2 class="title">Sign In</h2>
          <form id="fflogin" method="post" action="/" onsubmit="return fan_club_login(this);return false">
            <div class="field-wrapper">
              <label for="email">Email Address</label>
              <input type="text" name="email" size="40" />
            </div><!--/.field-wrapper-->
            <div class="field-wrapper">
              <label for="password">Password</label>
              <input type="password" name="password" size="40" />
            </div><!--/.field-wrapper-->
            <div class="field-wrapper">
              <div id="frgt"><a href="javascript:void(0);" onclick="modal_popup('forgot_logon','Forgot Login');" title="Forgot Username or Password?">forgot your username or password?</a></div>
              <input type="submit" onClick="return link_login('fflogin');return false;" value="sign in">
            </div><!--/.field-wrapper-->
          </form><!--/#fflogin-->
        </div><!--/.block-wrapper-->
      </div><!--/#login_main-->

      <div id="register_main">
        <div class="block-wrapper">
          <h2 class="title">New User?</h2>
          <p class="mnsg">did you get a <b>fresh fan club card</b> at your saladworks restaurant?</p>
          <p class="mnsg">please register to activate your card and start receiving fresh rewards!</p>
          <div class="field-wrapper">
            <div id="rgr" class="fake-button"><a href="/fresh_fan_club2/Register" Title="Register">register my card</a></div>
          </div><!--/.field-wrapper-->
        </div><!--/.block-wrapper-->
      </div><!--/#register_main-->

  </div><!--/#main_center-->

  <div class="clear"></div>

  <div id="rewards">
    <div class="higher"><img src="/fresh_fan_club2/includes/images/shell/points_list_home.png" alt=""/></div>
    <div class="lower">
      <div class="redemptionOptions" style="text-align:center;color:#FFFFFF;font-weight:bold;margin-top:-20">
      Point Redemption Options: <select id="redemptionChart">
          <option value="1">combo - 1200</option>
          <option value="2">fusion sandwich - 1000</option>
          <option value="3">salad - 1000</option>
          <option value="4">wrap - 800</option>
          <option value="5">panini - 800</option>
          <option value="6">soup - 500</option>
          <option value="7">beverage - 400</option>
          <option value="8">cookie - 200</option>
          <option value="9">brownie - 200</option>
        </select>
        <h1>start earning rewards today!</h1>
      </div>
    </div><!--/.lower-->
  </div><!--/#rewards-->

  <div class="clear"></div>

</div><!--/#homeMain-->

{2:CONTENT}
{1:BOTTOM_JAVA}
{2:BOTTOM_JAVA}