<p>Dear %%name%%:</p>
<p>This email is to notify you of your login information for the Saladworks Fresh Fan Club at <a href="http://%%HOST%%/fresh_fan_club2/" title="Saladworks Fresh Fan Club">http://%%HOST%%/fresh_fan_club2/</a></p>
<p>You information is as follows:<br />
Email: %%email%%<br />
Password: %%password%%<br />
</p>
<p>Thank you for Being a Fresh Fan Club Member and we look forward to seeing you soon!</p>
<p>SaladWorks Fresh Fan Club Team</p>