<!--
templateName: points.html
description: This template serves as the lower content portion of the returning user Points Board/ Account management splash page for the fresh_fan_club2
-->

{1:TOP_JAVA}
{2:TOP_JAVA}
{1:SSL}{2:SSL}
{1:TITLE}Saladworks Fresh Fan Club Points{2:TITLE}
{1:HEADERTITLE}welcome back %%name%%{2:HEADERTITLE}
{1:HEADERTEXT}{2:HEADERTEXT}
{1:CONTENT}

<div class="block-wrapper" style="vertical-align: top; border: 1px solid #ccc; display: block; position: relative;">

  <div id="points">
    <h2>Registered Fresh Fan Club Card Summary</h2>
    <div class="plisting">%%cards%%
      <p style='line-height: 110%;padding-top:5px;color:#666;'>Card missing? Register your fan club card(s) by editing your account. Don't worry- we've kept track of your points!</p>
    </div>
    <img src="../sites/all/themes/beta_carrotheme/img/side-salad-left.png" alt="" class="splash-image"/>
  </div><!--/#points-->

  <div id="fanclubLinks">
    <div class="blurb">
      <h2>Visit a Saladworks today to redeem your points for a tasty reward!</h2>
        <div class="field-wrapper">
          <label>Point Redemption Options</label>
          <select id="redemptionChart">
              <option value="1">combo - 1200</option>
              <option value="2">fusion sandwich - 1000</option>
              <option value="3">salad - 1000</option>
              <option value="4">wrap - 800</option>
              <option value="5">panini - 800</option>
              <option value="6">soup - 500</option>
              <option value="7">beverage - 400</option>
              <option value="8">cookie - 200</option>
              <option value="9">brownie - 200</option>
            </select>
        </div><!--/.field-wrapper-->
        <ul>
          <li class="orangeLink"><a href="Account" >Edit Your Account Information/Register Additional Card(s)</a></li>
          <li class="orangeLink" ><a href="http://www.saladworks.com/fresh-fan-club-frequently-asked-questions">Frequently Asked Questions</a></li>
          <li class="orangeLink"><a href="javascript:void(0);" onclick="modal_popup('terms_conditions','Terms And Conditions')">Terms &amp; Conditions</a></li>
        </ul>
        <div class="fake-button"><a href="/fresh_fan_club2/logout.php">logout</a></div>
    </div><!--/.blurb-->
  </div><!--/#fanclubLinks-->

</div><!--/.block-wrapper-->
{2:CONTENT}
{1:BOTTOM_JAVA}
{2:BOTTOM_JAVA}