<!--
templateName: profile.html
description: This template serves as the new user registration/signup and existing account management screen for the fresh_fan_club2
dependencies: It calls upon the card_number.html and subscription.html templates.  (subscription template is only loaded for existing accounts, not new registrations)
-->

      <div id="account-form-wrapper" style="margin-bottom:5px;">
        <form id="fanclubregister" method="post" action="/fresh_fan_club2/" onsubmit="return fan_club_register();return false">
        <div class="reg_fan">


          <div id="personal-info">
            <div class="block-wrapper">
              <h2>About You</h2>
              <div class="field-wrapper">
                <label for="first_name">First Name</label>
                <input type="text" id="first_name" name="first_name" value="%%first_name%%" />
              </div><!--/.field-wrapper-->

              <div class="field-wrapper">
                <label for="last_name">Last Name</label>
                <input type="text" id="last_name" name="last_name" value="%%last_name%%" />
              </div><!--/.field-wrapper-->

              <div class="field-wrapper">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" value="%%email%%" />
              </div><!--/.field-wrapper-->

              <div class="field-wrapper">
                <label for="cell_phone">Phone</label>
                <input type="text" id="cell_phone" name="cell_phone" value="%%cell_phone%%" />
                <div class="field-description">if you forget your card at the store, you can use this phone number instead</div>
              </div><!--/.field-wrapper-->

              <div class="field-wrapper">
                <label for="birthday"> Birthday</label>
                <input type="text" id="birthday" name="birthday" value="%%birthday%%" />
                <div class="field-description">mm/dd</div>
              </div><!--/.field-wrapper-->

              <div class="field-wrapper">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" value="%%password%%" />
              </div><!--/.field-wrapper-->

              <div class="field-wrapper">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" id="confirm_password" name="confirm_password" value="%%password%%" />
              </div><!--/.field-wrapper-->
            </div><!--/.block-wrapper-->
          </div><!--/#personal-info-->

          <div id="saladworks-preferences">
            <div class="block-wrapper">
              <h2>Your Saladworks Preferences</h2>
              <!--//card_number// shows for new registrations only-->
                  %%card_number%%
              <!--/card_number-->

                  <div class="field-wrapper preferred-location-input">
                    <label for="store_id">Favorite Saladworks Location</label>
                    <select id="store_id" name="store_id">
                        <option value=""></option>
                            %%store_id%%
                    </select>
                  </div><!--/.field-wrapper-->

              <!--//subscription// shows for registered users editing accounts-->
                      %%subscription%%
              <!--/subscription-->
            </div><!--/.block-wrapper-->
          </div><!--/#saladworks-preferences-->

          <div class="field-wrapper">
            <div id="trms" class="orangeLink" style="margin-left:4%;"><a href="javascript:void(0);" onclick="modal_popup('terms_conditions','Terms And Conditions')">Terms &amp; Conditions</a></div>
            <div id="crte" class="fake-button" style="margin-right:3%;"><a href="javascript:void(0);" onclick="return fan_club_register();return false" title="%%status%% your account">%%status%% your account</a></div>
          </div><!--/.field-wrapper-->

        </div><!--/.reg_fan-->

      </form><!--/#fanclubregister-->

      </div><!--/#account-form-wrapper-->