<!--
templateName: register.html
description: This template serves as the new user registration/signup page for the fresh_fan_club2
dependencies: It calls upon the profile.html template
-->

{1:TOP_JAVA}
<script type="text/javascript" src="/fresh_fan_club2/includes/js/validate.js"></script>
<script type="text/javascript" src="/fresh_fan_club2/includes/js/jquery.masked.js"></script>
<script type="text/javascript">
$(".set_height_even").hover(
	function(){$(this).addClass("hover-class")},
	function(){$(this).removeClass("hover-class")}
);
primary_form_controls();
</script>
{2:TOP_JAVA}
{1:HEADERTITLE}free food for loyal fans{2:HEADERTITLE}
{1:HEADERTEXT}Join the Saladworks Fresh Fan Club today and start earning member benefits. Gain points and redeem them for Saladworks menu items.{2:HEADERTEXT}
{1:SSL}1{2:SSL}
{1:TITLE}Saladworks Fresh Fan Club Get Registered{2:TITLE}
{1:CONTENT}
<div id="homeMain">

  <div class="registrationFormWrapper">

    <div class="register_form">

      <!--//profile// -->
        %%profile%%
      <!--//profile// -->

      <div id="loyalty_register_msg"></div>

    </div><!--/.register_form-->

  </div><!--/.registrationFormWrapper-->

</div><!--/#homeMain-->
{2:CONTENT}
{1:BOTTOM_JAVA}{2:BOTTOM_JAVA}