<!--
templateName: subscription.html
description: This template serves as the existing account subscription preferences form field
-->

                  <div class="field-wrapper subscription-input">
                    <label for="subscription">Receive Saladworks Emails?</label>
                    <select id="subscription" name="subscription">
                      %%subscription%%
                    </select>
                  </div><!--/.field-wrapper-->
