/************
 *Defaults
 ********/


@import "_o_default";

/************
 *Structure
 ********/


/****
 *Wraps
 */


%wrap-page {
 	display: block;
 	width: 100%;
 	max-width: 96%;
}%wrap-header {
 	display: block;
 	width: 100%;
 	max-width: 100%;
}


/****
 *Link Around Image
 */


 %link-around-image {
 	display: inline-block;

 	img {
 		width: 100%;
 	}
 }

/************
 *Structure
 ********/


/****
 *Backgrounds
 */


%sw-bg {
	background-image: url('../img/sw-grad-bg.png'), url('../img/sw-px-bg.png');
	background-repeat: repeat-x, repeat;
	background-position: left bottom, left top;
}

/****
 *Social Icons
 */


%social-bg {
	height: 25px;
	display: inline-block;
	background-image: url('../img/social.png');
 	background-repeat: no-repeat;
 	background-size: 133px 25px;
 	font-size: 0;
 	color: transparent;
 	text-indent: -9999px;
}
%fb-o {
	@extend %social-bg;
 	background-position: 0px 0px;
 	width: 11px;
}
%twit-o {
	@extend %social-bg;	
 	background-position: -12px 0px;
 	width: 28px;
}
%pin-o {
	@extend %social-bg;	
 	background-position: -40px 0px;
 	width: 27px;
}
%fb-w {
	@extend %social-bg;	
 	background-position: -67px 0px;
 	width: 10px;
}
%twit-w {
	@extend %social-bg;	
 	background-position: -78px 0px;
 	width: 29px;
}
%pin-w {
	@extend %social-bg;	
 	background-position: -107px 0px;
 	width: 27px;
}