@charset "UTF-8";html{font-size:100%;font-family:Helvetica;}
body{margin:0;padding:0;}
#body-wrap{width:810px;margin-left:auto;margin-right:auto;margin-top:0;margin-bottom:0;padding:0;position:relative;}
#container{width:810px;margin-left:auto;margin-right:auto;margin-top:0;margin-bottom:0;padding:0;}
#web_page{width:799px;border:1px solid #4c3b6f;margin-left:5px;}
#web_page-lettuce{background:url(../images/square/lettuce_bottom.jpg) bottom center no-repeat;width:799px;border:1px solid #4c3b6f;margin-left:5px;}
#left_head{display:inline;float:left;text-align:left;width:665px;}
#left_head-flash{display:inline;float:left;text-align:left;width:100%;height:114px;margin-top:-15px;padding-left:45px;position:relative;z-index:1;}
#right_head{display:inline;float:right;text-align:right;padding-right:10px;padding-top:16px;font:bold 10px arial;color:#4c3b6f;width:auto;position:relative;z-index:99;}
#right_head a{color:#4c3b6f;}
#right_head a:hover{color:#e45700;}
#main{padding:5px;}
h1,h2,h3,h4,h5,h6,h7{color:#e45700;}
p.purple{color:#4c3b6f;}
#content{width:100%;min-height:350px;margin:0;position:relative;}
#content-lettuce{background:url(../images/square/lettuce_bottom.jpg) bottom center no-repeat;width:100%;min-height:350px;margin:0;z-index:100;position:relative;}
#content-vegtables{background:url(../images/square/vegtables_bottom.jpg) bottom center no-repeat;width:100%;min-height:350px;margin:0;z-index:100;position:relative;}
#content-salad{background:url(../images/salad_backdrop.jpg) bottom right no-repeat;width:100%;min-height:700px;margin:0;z-index:100;position:relative;}
#content-mint{background:url(../images/square/mint_bottom.jpg) bottom center no-repeat;width:100%;min-height:350px;margin:0;z-index:100;position:relative;}
#header{background:url(../images/square/background.jpg) no-repeat;width:810px;height:141px;margin:0;}
#imagehead{margin-left:30px;}
#webinar{text-align:right;float:right;margin-top:40px;margin-left:650px;position:absolute;z-index:9999;width:228px;height:89px;left:-74px;}
#nav{background:#4c3b6f;width:100%;height:36px;margin:0 auto;}
ul#navlist{white-space:nowrap;margin:0 0 auto;padding:0;text-align:center;vertical-align:middle;padding-top:1px;width:98%;}
#navlist li{display:inline;list-style-type:none;height:36px;line-height:32px;margin:auto;}
ul#navlist li a, ul#navlist li{display:block;width:110px;margin:0;float:left;text-align:center;font:normal 1em Helvetica;padding:0;}
#navlist li.div{display:block;width:1px;margin-left:0;height:28px;line-height:28px;padding-top:2px;}
#navlist a:link, #navlist a:visited{color:#fff;background-image:url(../images/square/nav_button_rev_small.jpg);background-repeat:no-repeat;width:110px;line-height:34px;}
#navlist a:hover{color:#fff;background-image:url(../images/square/nav_button_active_rev_new_small.jpg);background-repeat:no-repeat;width:110px;line-height:34px;}
#navlist #active a{color:#fff;background-image:url(../images/square/nav_button_active_rev_new_small.jpg);background-repeat:no-repeat;width:110px;line-height:34px;}
#nav img{vertical-align:bottom;}
#sub_nav{float:left;width:120px;text-align:left;margin-left:-35px;padding:0;}
#sub_nav ul{float:left;width:120px;list-style-type:none;text-align:left;font-size:12px;}
#sub_nav ul li a{background:transparent url(../images/arrow1.png) left center no-repeat;text-align:left;color:#e45700;padding-left:8px;line-height:19px;}
#sub_nav ul li a:hover{background:transparent url(../images/arrow.png) left center no-repeat;color:#4c3b6f;padding-left:8px;line-height:19px;}
#sub_nav #subactive{background:transparent url(../images/arrow.png) left center no-repeat;color:#4c3b6f;padding-left:8px;line-height:19px;}
#sub_nav #suba{background:transparent url(../images/arrow.png) left center no-repeat;color:#4c3b6f;padding-left:8px;line-height:19px;}
#sub_nav .sub{margin-left:10px;}
#sub_nav ul li.greenline a{color:#009a3d;}
.subnav ul{float:left;width:90px;list-style-type:none;text-align:left;padding-left:-35px;}
.subnav ul li a{background:transparent url(../images/arrow1.png) left center no-repeat;text-align:left;color:#e45700;padding-left:8px;line-height:19px;}
.subnav ul li a:hover{background:transparent url(../images/arrow.png) left center no-repeat;color:#4c3b6f;padding-left:8px;line-height:19px;}
.subnav #subactive{background:transparent url(../images/arrow.png) left center no-repeat;color:#4c3b6f;padding-left:8px;line-height:19px;}
#sub_content{padding:0;relative:relative;}
#sub_main{clear:none;display:inline;float:right;width:670px;position:relative;}
#sub_main_left{clear:none;display:inline;float:left;width:670px;position:inherit;}
#sub_full{width:100%;margin:0 auto;padding:auto;}
#sub_left{clear:none;display:inline;float:left;width:120px;}
#sub_right{clear:none;display:inline;float:right;width:120px;}
#sub_main h1,h2,h3,h4,h5{margin:0;padding:0;}
#guest-login{background:url(../images/guest.jpg);width:646px;height:75px;margin:auto;}
#guest-login p{padding:4px 0 0 4px;color:#4c3b6f;}
#guest-login h3{padding:0 0 0 4px;}
#guest-login a{color:#e45700;}
#guest-login a:hover{color:#009a3d;}
#split-login{width:646px;margin:auto;}
.login-main-left{display:inline;float:left;width:311px;height:140px;min-height:140px;border:1px solid #009a3d;}
.login-main-right{display:inline;float:right;width:311px;height:140px;min-height:140px;border:1px solid #009a3d;}
table.t-login-page{width:98%;margin:auto;height:110px;}
table.t-login-page th{text-align:right;}
table.t-login-page td{width:10%;}
table.t-login-page td.form-data{width:50%;}
#home-flash{border:1px solid #009a3d;width:772px;height:320px;margin:15px auto;position:inherit;z-index:750;}
.flash{position:inherit;z-index:750;}
.webinar_data{width:400px;height:260px;display:block;margin:3px;padding:6px 3px 0 3px;text-align:left;float:left;overflow:hidden;background:#fff;}
.webinar_text{width:475px;height:375px;padding:6px;text-align:left;background:url(../images/watermark.png);}
#content_split{color:#4b3d72;font:normal 16px Georgia;width:100%;margin:auto;}
#content_split a, a:hover{color:#4b3d72;}
#content_left{float:left;display:inline;width:380px;height:205px;margin-left:12px;overflow:hidden;text-align:center;cursor:pointer;}
#content_right{float:right;display:inline;width:380px;height:205px;margin-right:12px;margin-bottom:12px;overflow:hidden;text-align:center;}
.head_title{width:350px;font:normal 20pt Arial;text-align:center;color:#4b3d72;margin:10px auto;}
.own_label{height:24px;margin:85px auto;color:#fff;line-height:24px;font:bold 10pt Georgia;text-align:center;}
.own_label img{display:inline;vertical-align:middle;}
.right_franchise{float:right;display:inline;width:109px;margin-right:9px;line-height:24px;}
.left_franchise{float:left;display:inline;width:250px;text-align:right;line-height:24px;}
.fresh_news-label{float:left;width:100px;height:167px;margin:-5px 5px auto auto;text-align:left;font:bold 16pt Helvetica;color:#009a3d;padding-left:15px;padding-right:15px;}
.fresh_news-author{text-align:left;font:italic 14pt Helvetica;color:#009a3d;padding:10px;}
.fresh_news-title{text-align:left;font:bold 14pt Helvetica;color:#009a3d;padding:2px;height:80px;}
.fresh_news-button{float:right;width:205px;height:84px;margin:5px 5px auto auto;text-align:right;font:normal 10pt Georgia;color:#000;}
.fresh_news-label img{height:147px;width:100px;}
table.table_locations{width:60%;border:none;margin-bottom:10px;margin-left:auto;margin-right:auto;}
table.table_locations h3{color:#e45700;}
table.table_cities{display:inline;border:none;margin-bottom:10px;margin-left:auto;margin-right:auto;}
table.table_cities h3{color:#e45700;}
table.table_cities th{font:normal .9em Helvetica;vertical-align:text-top;text-align:left;width:25%;}
table.state_location{width:90%;border:1px solid #4c3b6f;}
table.state_location th{text-align:left;color:#e45700;}
.list_location{display:none;border-top:1px solid #4c3b6f;}
#id_confirm{display:none;height:.01px;}
table.geocode{width:auto;margin-left:auto;margin-right:auto;margin-top:2px;white-space:nowrap;}
table.geocode td{height:12px;font:normal 12px helvetica;text-align:left;}
table.geocode th{height:12px;font:bold 14px helvetica;text-align:left;}
.bios{width:98%;text-align:justify;font:normal 12px Arial, Helvetica, sans-serif;color:#4c3b6f;vertical-align:text-top;margin:2px;}
.bio_image{width:144px;height:202px;}
img.imgbios{float:left;margin:8px;}
.leftbios{float:right;margin:8px;}
img.rightimgbios{float:right;margin:6px;}
.menu-title h3{color:#4c3b6f;font:bold 18px Helvetica;margin-top:10px;}
.menu-title hr{border:1px outset #4c3b6f;}
.menu-title-web h3{color:#4c3b6f;font:bold 14px Helvetica;margin-top:10px;}
.menu-title-web hr{border:1px outset #4c3b6f;}
p.small_notice{font-size:9px;font-family:Arial, Helvetica, sans-serif;color:#4c3b6f;}
.page_heading{font-family:Arial, Helvetica, sans-serif;font-size:24px;color:#4c3b6f;}
hr{height:2px;background-color:#4c3b6f;color:#4c3b6f;}
.sub_heading_orange{font-family:Arial, Helvetica, sans-serif;font-size:16px;color:#e45700;}
.bio_header{font-family:Georgia, "Times New Roman", Times, serif;font-size:18px;color:#1fb25a;text-align:left;}
.bio_subheader{font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#e45700;text-align:left;}
div.hr{height:20px;background:#fff url(../images/carrot_rule.jpg) no-repeat scroll center;}
.bio_div{width:97%;font:normal 12px Arial, Helvetica, sans-serif;vertical-align:text-top;margin:1px;padding:5px;background-color:#d3cedb;font-family:Arial, Helvetica, sans-serif;}
table.bio-page td{vertical-align:top;}
.bio_div img{border:solid;border-width:1px;border-color:#4c3b6f;vertical-align:top;padding:0;margin:0 0px;}
.yourstore_text{font-family:Georgia, "Times New Roman", Times, serif;font-size:18px;margin-right:auto;margin-left:auto;vertical-align:middle;}
table.multicolor{border:1px solid #CCCCCC;border-right:none;}
table.multicolor td{padding:0px 8px;border-top:1px solid #CCCCCC;border-right:1px solid #CCCCCC;}
table.multicolor th{background-color:#DDDDDD;border-right:1px solid #CCCCCC;}
tr.class1 td{background-color:#d2e4fc;}
tr.class2 td{background-color:#CCFFCC;}
tr.class3 td{background-color:#FFEEEE;}
table.multicolor .pagination{border:none;}
.signseries_name{font-family:Arial, Helvetica, sans-serif;font-size:30px;color:#1fb25a;text-align:left;}
.signseries_title{font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#e45700;text-align:left;}
.sw_missionheader{font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#e45700;text-align:left;font-style:italic;}
.sw_mission{font-family:Arial, Helvetica, sans-serif;font-size:18px;color:#1fb25a;text-align:left;font-style:italic;}
.sw_keystrat{font-family:Arial, Helvetica, sans-serif;font-size:18px;color:#e45700;text-align:left;}
.square-home-left{border:solid 1px #009a3d;width:380px;height:435px;color:#4b3d72;overflow:hidden;text-align:center;}
.square-home-right{border:solid 1px #009a3d;width:380px;height:205px;color:#4b3d72;overflow:hidden;text-align:center;padding-bottom:5px;font:normal 10pt Georgia;}
table.investment{width:auto;margin:10px, 20px;padding:0;}
table.investment th{text-align:left;}
table.investment td{text-align:center;font:normal 12px Arial, Helvetica, sans-serif;color:#4c3b6f;margin:0;padding:0;}
table.investment td.tleft,th.tleft{text-align:left;}
table.investment td.tright,th.tright{text-align:right;}
table.investment .sys-bottom td{border-bottom:2px solid #4c3b6f;line-height:3px;padding:0;margin:0;}
table.application{width:99%;border:1px solid #4c3b6f;margin:auto;}
table.application tr{height:12px;}
table.application input{height:12px;border-top:none;border-left:none;border-right:none;}
table.application th{text-align:left;font:bold .9em Arial, Helvetica, sans-serif;vertical-align:top;}
table.application td{text-align:left;font:normal 9px Arial, Helvetica, sans-serif;vertical-align:top;}
table.application img{vertical-align:text-top;margin:0 5px 0 0;float:left;}
table.application tr.resume input{height:18px;}
.app_submit{width:99%;text-align:center;}
table.application-new{width:99%;}
table.application-new tr{height:12px;}
table.application-new th{text-align:left;font:bold .9em Arial, Helvetica, sans-serif;vertical-align:top;}
table.application-new td{text-align:left;font:normal 12px Arial, Helvetica, sans-serif;vertical-align:top;}
table.application-new td.statement{text-align:left;font:normal 14pt Arial, Helvetica, sans-serif;vertical-align:top;color:#e45700;padding:0 5px 0;}
table.application-new td.apgo{text-align:right;}
.app_submit-new{width:99%;text-align:center;}
#top_menu{width:100%;margin:0;clear:both;}
.sw-head{font:bold 16px Arial, Helvetica, sans-serif;color:#009a3d;float:left;display:inline;}
.sw-head-right{float:right;display:inline;margin-right:20px;clear:none;}
.sw-head-right a{font:bold 12px Helvetica,Arial,sans-serif;color:#4c3b6f;}
.sw-head-right a:hover{color:#009a3d;}
p.greenspace{line-height:12px;height:12px;margin:0;padding:0;}
table.order-info{width:658px;margin-right:5px;border:1px solid #009a3d;clear:left;}
table.order-info th.righttr, td.righttr{text-align:right;font:bold 12px Arial, Helvetica, sans-serif;}
table.order-info td.lfttr{text-align:center;font:normal 12px Arial, Helvetica, sans-serif;color:#009a3d;border:none;}
table.order-info td.lfttrc{text-align:right;font:normal 12px Arial, Helvetica, sans-serif;color:#009a3d;padding-right:3px;border:none;}
table.order-info th{text-align:center;font:bold 14px Arial, Helvetica, sans-serif;vertical-align:top;}
table.order-info th.header-list{text-align:center;font:bold 14px Arial, Helvetica, sans-serif;vertical-align:top;}
table.order-info th.thead{text-align:left;height:24px;border:none;}
table.order-info td{text-align:center;font:bold 12px Arial, Helvetica, sans-serif;vertical-align:top;color:#e45700;border-right:1px solid #ccc;padding:0 3px;0 3px}
table.order-info td.items{text-align:left;}
table.order-info .itemlist td{border-bottom:1px solid #4c3b6f;padding-top:4px;}
table.order-info ul{list-style:none;margin:0;}
table.order-info li{font:normal 12px Arial, Helvetica, sans-serif;color:#4c3b6f;}
table.order-info .bgcolorwhite td{background:#F0F5F4;border-bottom:1px solid #4c3b6f;padding-top:4px;}
table.order-info .bgcolorgray td{background:#E9F8F5;border-bottom:1px solid #4c3b6f;padding-top:4px;}
table.store_order{width:99%;margin:0 auto 0 auto;padding:0;}
table.store_order td{color:#e45700;font:normal 9pt Helvetica, arial;}
table.store_order td.address{width:34%;vertical-align:top;font:normal 9pt Helvetica, arial;height:10pt;}
table.store_order td.or_cost{font:bold 12px Helvetica, arial;color:#009a3d;}
table.store_order th{color:#4c3b6f;text-align:left;font:bold 12pt Helvetica, arial;height:12pt;}
table.store_order .va{color:#4c3b6f;text-align:left;font:bold 9pt Helvetica, arial;height:10pt;}
table.store_order input{vertical-align:middle;}
table.store_order td.link-right{text-align:right;vertical-align:top;}
table.store_order td.link-right a{color:#e45700;}
table.store_order td.link-right a:hover{color:#4c3b6f;}
.twelve{width:12%;}
.thirtyone{width:31%;font:9pt Helvetica, arial;}
.twentythree{width:23%;}
table.store_order input{vertical-align:middle;height:14px;}
table.store_order select{vertical-align:top;float:right;}
.div-right{float:right;display:inline;clear:none;}
.set_quote{display:inline;font:bold 14px Helvetica,arial;color:#4c3b6f;line-height:12px;}
#sample-left{display:inline;float:left;width:60%;}
#sample-order-right{display:inline;float:right;clear:none;width:40%;}
#sample-order-right h4{font:normal 16pt Helvetica, arial;color:#4c3b6f;text-align:center;margin-bottom:4px;}
#order-inside{color:#4c3b6f;padding-left:5px;padding-right:5px;height:auto;clear:none;}
#order-split{width:99%;margin:0;padding:0;}
#order-left{display:inline;float:left;width:46%;}
#order-left h4{font:normal 16pt Helvetica, arial;color:#4c3b6f;}
#order-ingredients{width:90%;margin:5px auto;text-align:left;}
#order-ingredients p{font:bold 12px Helvetica, arial;color:#4c3b6f;line-height:12px;margin:0;padding:0;}
#order-ingredients ul{display:block;margin:0 0 15px 0;padding:0;}
#order-ingredients li{list-style:none;font:bold 12px Helvetica, arial;color:#009a3d;line-height:10px;}
#order-ingredients input{vertical-align:text-bottom;line-height:10px;height:11px;}
#order-right{display:inline;float:right;width:54%;text-align:left;}
#order-right h4{font:normal 16pt Helvetica, arial;color:#4c3b6f;text-align:center;}
#order-cost,#bottom-order-cost{font:bold 12px Helvetica, arial;color:#009a3d;text-align:center;float:right;}
#bottom-order-cost{padding-right:10px;text-align:right;}
.order_image{width:350px;height:237px;}
#slide_image{width:350px;margin:auto;height:550px;min-height:550px;overflow:auto;}
.side-imagelist{padding:2px;}
.directions ol li{font:normal 12px Helvetica, arial;color:#4c3b6f;}
#processing_hold{display:none;}
#order-split-bottom{width:94%;margin:auto;padding:0;}
#order-split-bottom p{font:normal 24pt Helvetica, arial;color:#4c3b6f;line-height:24pt;margin:0;padding:0;}
#left-base{float:left;width:48%;}
#left-base h4{font:normal 18pt Helvetica, arial;color:#4c3b6f;}
#right-base ul{display:block;margin:0 0 15px 0;padding:0;}
#left-base ul{display:block;margin:0 0 15px 0;padding:0;}
#left-base li{list-style:none;font:bold 12px Helvetica, arial;color:#009a3d;line-height:10px;}
#left-base input{vertical-align:text-bottom;line-height:10px;height:11px;}
#right-base{display:inline;float:right;width:48%;text-align:left;}
#right-base h4{font:normal 18pt Helvetica, arial;color:#4c3b6f;}
#right-base li{list-style:none;font:bold 12px Helvetica, arial;color:#009a3d;line-height:10px;}
#right-base input{vertical-align:text-bottom;line-height:10px;height:11px;}
.psmall{font:normal 12px Helvetica, arial;color:#4c3b6f;}
.or_cost{display:inline;font:bold 12px Helvetica, arial;color:#009a3d;}
.side-right-base{display:inline;float:right;width:90%;text-align:left;margin-top:10px;}
.side-right-base p{font:bold 12px Helvetica, arial;color:#4c3b6f;line-height:12px;margin:0;padding:0;}
.side-right-base h4{font:normal 18pt Helvetica, arial;color:#4c3b6f;}
.side-right-base ul{margin:3px 0;padding:0;}
.side-right-base li{list-style:none;font:bold 12px Helvetica, arial;color:#009a3d;line-height:10px;}
.side-right-base input{vertical-align:text-bottom;line-height:10px;height:11px;}
.marquee{background:#009a3d;color:#fff;font:bold 14px Helvetica,Arial,sans-serif;position:relative;overflow:hidden;width:100%;height:28px;line-height:28px;}
.marquee img{vertical-align:middle;height:25px;line-height:28px;}
.marquee a{color:#fff;}
.marquee a:hover{color:#4c3b6f;}
.simmllc{font:9px normal Verdana, Geneva, sans-serif;color:#EFEFEF}
.simmllc:hover, a.simmllc:hover{color:#EFEFEF}
.exp-menu a{font:normal 16px Helvetica,Arial,sans-serif;color:#e45700;}
.exp-menu a:hover{color:#009a3d;}
table.user_address{width:600px;border:1px solid #009a3d;}
table.user_address th{text-align:left;vertical-align:top;}
table.user_address td{text-align:left;vertical-align:top;}
table.user_address th.details{color:#4c3b6f;text-align:left;vertical-align:top;}
table.user_address th.header{text-align:left;border-bottom:1px solid #009a3d;padding-top:15px;vertical-align:top;}
table.user_order{width:660px;display:block;margin:3px 6px 3px 0;padding:6px 3px 0 3px;text-align:left;float:left;overflow:hidden;border:1px solid #009a3d;}
table.user_order th{text-align:left;vertical-align:top;}
table.user_order td.sprice{text-align:right;vertical-align:top;font:bold 12px Arial, Helvetica, sans-serif;color:#e45700;}
table.user_order td{text-align:left;vertical-align:top;}
table.user_order th.details{color:#009a3d;text-align:left;vertical-align:top;}
table.user_order th.header{text-align:left;border-bottom:1px solid #009a3d;padding-top:15px;vertical-align:top;}
table.address_details{border:1px solid #009a3d;vertical-align:top;width:100%;margin-bottom:10px;}
table.address_list_details{vertical-align:top;width:100%;margin-bottom:10px;}
table.address_details th{text-align:left;font:bold 10px Arial, Helvetica, sans-serif;vertical-align:top;}
table.address_details td{text-align:left;font:normal 10px Arial, Helvetica, sans-serif;vertical-align:top;}
table.member_details{}
table.member_details th{text-align:left;font:bold 10px Arial, Helvetica, sans-serif;vertical-align:top;}
table.member_details td{text-align:left;font:normal 10px Arial, Helvetica, sans-serif;vertical-align:top;}
table.member_system{width:90%;height:90%;margin:auto;border:1px solid #009a3d;vertical-align:top;}
table.member_system th{text-align:left;font:bold 10px Arial, Helvetica, sans-serif;vertical-align:top;}
table.member_system td{text-align:left;font:normal 10px Arial, Helvetica, sans-serif;vertical-align:top;}
table.ccard{width:300px;display:block;margin:3px 6px 3px 0;padding:6px 3px 0 3px;text-align:left;float:left;overflow:hidden;border:1px solid #009a3d;}
table.ccard td{text-align:left;vertical-align:top;}
.quicklist li{list-style-type:none;font:bold 12px #e45700;margin:0;}
.quickitem li{list-style-type:none;font:normal 10px #009a3d;margin:0;}
.clean li{list-style-type:none;}
table.gift_cards{width:95%;}
table.gift_cards td, th{text-align:left;vertical-align:top;padding:0;margin:0;}
table.gift_cards th.message{color:#009a3d;font-weight:bold;font-size:18px;}
.subit{text-align:right;margin-top:5px;}
#card_single_image{text-align:center;}
table.gift_cards td.gift-card_info{vertical-align:top;padding:0;margin:0;}
table.gift-options input{vertical-align:middle;}
table.gift-options td,th{vertical-align:top;}
table.ship-options{width:98%;margin:auto;}table.ship-options input{vertical-align:middle;}
table.ship-options td,th{vertical-align:top;}
table.ship-options th{text-align:center;}
table.ship-options td.message{color:#009a3d;font-weight:bold;font-size:18px;}
.message{color:#009a3d;font-weight:bold;font-size:18px;}
table.ship-options td.details{}table.contact-options{}
table.contact-options input{vertical-align:middle;height:14px;}
table.contact-options td,th{vertical-align:top;}
table.contact-options th{text-align:left;font-weight:bold;font-size:9px;}
table.contact-options td.message{color:#009a3d;font-weight:bold;font-size:18px;}
#card_image{text-align:left;vertical-align:top;}
#card_image h3{font-size:26px;text-align:left;vertical-align:middle;padding-top:80px;}
#card{font-weight:bold;text-align:left;}
#card_table{display:none;font:normal 9px;}
#card_table th{font-size:14px;text-align:center;}
#card_table th.gift_check{float:right;text-align:right;padding-top:20px;}
#card_table td{font-size:9px;text-align:center;vertical-align:top;}
#card_table td.left{font-size:9px;text-align:left;vertical-align:top;}
.required{color:#FF0000;}
.image-set{text-align:center;margin:auto;}
.image-set img{vertical-align:bottom;}
#system-process{float:right;}
table.registration{width:99%;margin:auto;}
table.registration th{text-align:left;font:bold 12px Arial, Helvetica, sans-serif;}
table.registration td{text-align:left;font:normal 11px Arial, Helvetica, sans-serif;}
table.registration td.height-low{visibility:hidden;height:1px;}
#cater-top{width:99%;background:#EB7126;}
.cater-image{width:100%;margin:4px auto 4px auto;text-align:center;}
.cater-image img{width:581px;}
.cpurple{color:#4c3b6f;}
p.cat-purple{font:bold 14px Helvetica, sans-serif;color:#4c3b6f;margin:10px 0;}
p.cat-details{font:bold 14px Helvetica, sans-serif;color:#fff;margin:0;}
p.cat-purple-normal{font:normal 14px Helvetica, sans-serif;color:#4c3b6f;margin:10px 0;}
h3.cat-purple{font:bold 18px Helvetica, sans-serif;color:#4c3b6f;margin:0;}
p.cat-orange{font:normal 16px Helvetica, sans-serif;color:#fff;margin:auto;}
p.cat-details{font:normal 12px Helvetica, sans-serif;color:#fff;margin:5px 0;}
p.cat-details input{vertical-align:middle;}
.details-product{padding-left:5px;font:normal 12px Helvetica, sans-serif;color:#fff;}
.details-h3{font:bold 16px Helvetica, sans-serif;color:#fff !important;}
.cater-special{width:95%;margin:auto;}
.cater-left{width:49%;float:left;margin-top:15px;}
.cater-right{display:inline;width:49%;float:right;margin-top:15px;}
#cater-title{font:normal 72px Arial, Helvetica, sans-serif;color:#4c3b6f;text-align:center;}
.title-white{color:#fff;}
p.cat-product{font:bold 14px Helvetica, sans-serif;color:#fff;margin:5px 0;}
table.cater-product{width:98%;}
table.cater-product td{vertical-align:top;}
table.cater-product td.detail{font:normal 12px Helvetica, Arial, sans-serif;color:#e45700;}
table.cater-product th{vertical-align:top;font:bold 16px Helvetica, Arial, sans-serif;}
table.cater-product th.green{vertical-align:top;font:bold 16px Helvetica, Arial, sans-serif;color:#009a3d;}
table.cater-product input{vertical-align:middle;}
.floatright{text-align:right;float:right;}
.green-cart{color:#009a3d;font:bold 12px Arial, Helvetica, sans-serif;}
.gcart{color:#009a3d;font:bold 12px Arial, Helvetica, sans-serif;}
table.cat-item{width:300px;}
table.cat-item td,th{text-align:left;vertical-align:middle;}
table.cat-item th{font:bold 14px Helvetica, Arial, sans-serif;color:#4c3b6f;}
table.cat-item td{font:normal 12px Helvetica, Arial, sans-serif;color:#4c3b6f;margin-bottom:1px;}
table.cat-item-green{width:300px;}
table.cat-item-green td,th{text-align:left;vertical-align:middle;}
table.cat-item-green input, table.cat-item input{vertical-align:middle;width:20px;}
table.cat-item-green th{font:bold 14px Helvetica, Arial, sans-serif;color:#009a3d;}
table.cat-item-green td{font:normal 12px Helvetica, Arial, sans-serif;color:#009a3d;margin-bottom:1px;}
table.cat-item-green td.qty, table.cat-item td.qty, table.cat-item-other td.qty{text-align:center;}
table.cat-item-other{width:300px;border:1px solid #009a3d;margin:10px 0;}
table.cat-item-other td{font:bold 12px Helvetica, Arial, sans-serif;color:#e45700;vertical-align:text-top;}
#people{display:inline;float:left;height:18px;font:bold 14px Helvetica, Arial, sans-serif;color:#009a3d;vertical-align:text-top;width:55%;text-align:left;padding-left:5px;vertical-align:middle;}
#people input{display:inline;vertical-align:middle;}
#torder{display:inline;float:right;height:18px;font:bold 14px Helvetica, Arial, sans-serif;color:#009a3d;vertical-align:text-top;width:43%;text-align:center;padding-right:5px;}
.pptotal{color:#4c3b6f;}
#cater_tcost{text-align:right;font:bold 14px Helvetica, Arial, sans-serif;color:#009a3d;height:28px;}
#top_cater_tcost{text-align:right;font:bold 14px Helvetica, Arial, sans-serif;color:#009a3d;height:28px;}
.disc{float:right;font:normal 12px Helvetica, Arial, sans-serif;color:#009a3d;margin-bottom:1px;margin-right:5px;}
.cater-radio{display:none;}
.set-right{margin-right:10px;}
#cater-add_cart{}#top_cater-add_cart{}.upsale ul{display:block;margin:0;padding:0;}
.upsale ul li, .upsale li{list-style-type:none;margin:0;}
.quik-list{width:100%;margin:auto auto 10px auto;}
li.cartlist{margin:0;padding-left:0;list-style-type:none;}
.set_ser{max-width:180px;width:180px;overflow:visible;font:normal 9px Arial, Helvetica, sans-serif;}
input.ref{width:180px;height:10px;font:normal 9px Arial, Helvetica, sans-serif;}
.remove-cater{width:380px;margin:10px auto 5px auto;font:normal 14px Arial, Helvetica, sans-serif;}
.remove-cater a{color:#009a3d}
.remove-cater a:hover{color:#4c3b6f}
.error_cater{width:395px;height:200px;overflow:auto;margin:auto}
#fanatic-purple{background:url(../images/ffpurple.jpg);width:600px;height:600px;}
#fanatic-green{background:url(../images/ffgreen.jpg);width:600px;height:600px;}
#fanatic-orange{background:url(../images/fforange.jpg);width:600px;height:600px;}
.sub-facts{padding-top:230px;margin-left:auto;margin-right:auto;padding-left:20px;padding-right:20px;}
.ffact{margin:15px auto;width:122px;height:120px;}
table.facts{margin-left:auto;margin-right:auto;}
table.facts th{text-align:left;color:#fff;font:bold 12px Helvetica, arial;}
table.facts th.submitfact{text-align:right;}
table.facts td{text-align:left;color:#fff;}
table.fun-questions{margin-left:auto;margin-right:auto;}
table.fun-questions th{text-align:left;color:#fff;font:bold 16px Helvetica, arial;padding:2px;text-align:center;}
table.fun-questions td{text-align:left;color:#fff;}
table.fun-questions td.question{text-align:center;color:#fff;}
table.fun-answer{margin-left:auto;margin-right:auto;}
table.fun-answer h3{text-align:left;color:#fff;font:bold 16px Helvetica, arial;padding:2px;}
table.fun-answer th{text-align:left;color:#fff;font:bold 16px Helvetica, arial;padding:2px;}
table.fun-answer a{color:#fff;font:bold 16px Helvetica, arial;padding:2px;}
table.fun-answer a:hover{color:#fff;}
table.fun-answer td{text-align:left;color:#fff;}
#um-header{background:url(../images/um-header_03.jpg) no-repeat;width:800px;height:204px;text-align:left;margin:auto;}
#um-header ul{padding:100px 0 0 455px;font-size:100%;color:#669900;margin-bottom:0px;margin-top:0;}
#um-header li{padding:0 0 5px 0;margin:0;}
#um-content{background:url(../images/um-content-bg_03.jpg) top repeat-x;border-top:1px solid #669900;height:400px;width:799px;}
#um-content h1{color:#669900;font-size:225%;font-weight:normal;padding:15px 0 0 0;}
#um-content-left{width:415px;float:left;padding-left:15px;}
#um-content-right{width:284px;float:right;margin:20px 15px 0;}
#um-content-right p{padding-left:5px;line-height:12px;margin:1px;}
.um-notopgap{height:1px;margin-top:-3px;padding-top:-1px;}
.um-nobottomgap{height:1px;margin-bottom:-3px;padding-bottom:-1px;}
#leadForm{border-left:1px solid #fe7819;border-right:1px solid #fe7819;}
table.franform{font:normal 12px Helvetica, arial;}
#store-split{width:98%;margin:10px auto;}
#store-left{clear:none;float:left;width:200px;}
#store-right{clear:none;float:right;display:inline;width:420px;padding-left:25px;}
.food_type{width:320px;display:block;margin-bottom:5px;padding:6px 3px 0 3px;text-align:left;float:left;overflow:hidden;}
.food_inside{color:#4c3b6f;height:140px;font:normal 32px Arial, Helvetica, sans-serif;border:1px solid #009a3d;overflow:hidden;}
.types_right{text-align:left;font:normal 16px Arial, Helvetica, sans-serif;}
.f-type-right{float:right;display:inline;width:auto;color:#4c3b6f;font:normal 11px Helvetica;}
.f-type-right-full{float:right;display:inline;width:auto;font:normal 11px Helvetica;}
.f-type-left{float:left;width:105px;font:normal 32px Arial, Helvetica, sans-serif;}
.l-type-right{float:right;display:inline;width:100px;font:normal 32px Arial, Helvetica, sans-serif;}
.l-type-left{float:left;width:205px;font:normal 11px Helvetica;padding:0;margin:0;}
.l-type-right a{color:#4c3b6f;}
.food_inside a{color:#4c3b6f;}
.f-type-left a{color:#4c3b6f;}
.f-type-right-full a{color:#4c3b6f;}
.l-type-right a:hover{color:#e45700;}
.food_inside a:hover{color:#e45700;}
.f-type-left a:hover{color:#e45700;}
.f-type-right-full a:hover{color:#e45700;}
.data{width:320px;height:170px;display:block;margin-bottom:5px;padding:6px 3px 0 3px;text-align:left;float:left;overflow:hidden;}
.data-large{width:auto;display:block;margin-bottom:5px;padding:6px 3px 0 3px;text-align:left;float:left;overflow:hidden;}
.insidedata{border:1px solid #009a3d;color:#4c3b6f;padding-left:10px;padding-right:10px;}
.inside{border:1px solid #009a3d;color:#4c3b6f;padding-left:5px;padding-right:5px;height:128px;}
.tight_inside{background:#fff;color:#4c3b6f;padding-left:5px;padding-right:5px;height:auto;overflow:visible;}
.inside_food{color:#4c3b6f;padding-left:5px;padding-right:5px;height:136px;}
.location_details{background:#fff;color:#4c3b6f;padding-left:5px;padding-right:5px;height:135px;}
.inside_data{background:#fff;color:#4c3b6f;padding-left:5px;padding-right:5px;height:155px;}
h3.h3_inside{text-align:center;font:bold 14px Helvetica;margin:0;padding:0;color:#4c3b6f;}
.saladbox{background:#fff;color:#4c3b6f;padding-left:5px;padding-right:5px;height:auto;text-align:center;}
.saladbox h5 a{text-align:center;font:normal 16pt Helvetica;padding:0;color:#4c3b6f;margin:0 auto;width:100%;}
.saladbox h5{text-align:center;font:normal 14pt Helvetica;padding:3px 0;color:#4c3b6f;margin:0 auto;width:100%;}
.saladbox h6{text-align:center;font:bold small-caps 14pt Helvetica;padding:0;color:#4c3b6f;margin:0 auto;width:100%;}
.saladbox p{text-align:left;padding:0;margin:0;font:normal 9pt Helvetica;color:#4c3b6f;}
p.p-center-large{text-align:center;font:normal 12pt Arial, Helvetica, sans-serif;}
.notopgap{margin-top:0;height:1px;}
.nobottomgap{margin-bottom:-1px;padding-bottom:1px;}
.right-image{float:right;}
.salad_border_full{width:650px;display:block;margin:3px 6px 3px 0;padding:6px 3px 0 3px;text-align:left;float:left;overflow:hidden;border:1px solid #009a3d;}
p.food_details{font:normal 9px Arial, Helvetica, sans-serif;text-align:left;}
.small-box{border:1px solid #009a3d;width:320px;}
.small-box-square{border:1px solid #009a3d;width:320px;height:295px;min-height:295px;}
.fleft{float:left;width:152px;}
.float-box{background:#00A346;width:160px;height:250px;display:block;margin:0 22px 3px 18px;padding:0 3px 0 3px;text-align:center;float:left;overflow:hidden}
.top-green{width:95%;margin:auto;background-color:#00A346;padding:10px 4px;}
.top-green-half{display:inline;clear:none;float:left;width:50%;}
.green-content{clear:none;display:inline;text-align:left;font:normal 9px Arial, Helvetica, sans-serif;color:#fff;height:100px;padding-right:2px;margin-bottom:5px;float:left;width:160px;}
.green-content h4{font:bold 16px Arial, Helvetica, sans-serif;color:#fff;}
.imgleft{display:inline;clear:none;margin:auto;width:143px;}
.imgleft img{width:143px;}
.top-green-full{display:inline;clear:none;color:#fff;}
img.top-green-half{vertical-align:text-top;}
.add-to-cart{float:right;bottom:5px;position:inherit;padding-right:2px;color:#fff;line-height:23px;height:23px;vertical-align:middle;width:100%;text-align:left;}
.nutri-add-to-cart{float:right;bottom:5px;position:inherit;padding-right:2px;line-height:23px;height:23px;vertical-align:middle;width:100%;text-align:right;}
.nutri-add-to-cart img{vertical-align:top;}
.add-to-cart img{vertical-align:top;}
.order-content-button{width:95%;text-align:right;margin:10px auto 10px auto;}
textarea.small-notes{font:normal 9px Arial, Helvetica, sans-serif;width:200px;height:50px;margin-bottom:10px;}
a.nutr_link{color:#4c3b6f;}
a.nutr_link:hover{color:#009a3d;}
.fright{float:right;width:150px;color:#4c3b6f;}
.fright a{color:#009a3d;font:bold 1.3em Helvetica;line-height:2em;}
.fright a:hover{color:#4c3b6f;}
.dlocation{color:#009a3d;font:bold 1.3em Helvetica;}
.fright h3{color:#009a3d;font:bold 14px Helvetica;text-align:center;margin:0;padding:0;text-align:left;}
.fright h4{color:#e45700;font:bold 11px Helvetica;text-align:left;margin:0;padding:0;}
.fright h4 a{color:#e45700;font:bold 11px Helvetica;text-align:left;margin:0;padding:0;}
.fright h4 a:hover{color:#4c3b6f;}
.fright p{color:#4c3b6f;font:normal 10px Helvetica;margin:2px;padding:0;}
.locform{font:normal .9em helvetica;line-height:15px;}
.store_states{width:90%;border:1px solid #4c3b6f;padding:3px;}
.store_states a{font:bold 12px Helvetica;color:#009a3d;}
.productlist{background:#fff;border:1px solid #ccc;width:142px;height:190px;display:block;margin:3px 6px 3px 0;padding:6px 3px 0 3px;text-align:left;float:left;overflow:hidden;}
.productlist h3{color:#e45700;font:bold 14px Helvetica;text-align:center;}
.productlisting{border:1px solid #ccc;width:320px;height:190px;display:block;margin:3px 6px 3px 0;padding:6px 3px 0 3px;text-align:left;float:left;overflow:hidden;}
img.productlisting{float:left;vertical-align:text-top;}
table.site_table{width:100%;margin:10px auto;padding:2px;}
table.site_table th{color:#e45700;font:bold 26px Helvetica;}
table.site_table tr{vertical-align:top;}
table.site_table td{vertical-align:top;padding:5px;}
.menu-title h3{color:#4c3b6f;font:bold 18px Helvetica;margin-top:10px;}
.menu-title hr{border:1px outset #4c3b6f;}
p.standard{color:#4c3b6f;margin:2px;}
p.small-standard{color:#e45700;line-height:15px;font:normal .9em Helvetica;}
p.orange-standard{color:#e45700;font:normal 12pt Helvetica;}
p.small-small{color:#e45700;line-height:10px;font:normal .7em Helvetica;}
p.small-p{color:#4c3b6f;line-height:.7em;font:normal .7em Helvetica;}
.large_orange{clear:none;color:#e45700;font:normal 1.2em Helvetica;display:inline;}
.order-orange{color:#e45700;}
.orange{clear:none;color:#e45700;font:normal 0.9em Helvetica;display:inline;}
.small-orange{clear:none;color:#e45700;font:normal 0.7em Helvetica;display:inline;}
.small-orange2{clear:both;color:#e45700;font:normal 0.7em Helvetica;display:inline;}
.fleft{float:left;width:152px;}
#cchef{padding-top:3px;}
#add-bottom{min-height:12px;padding:12px 0;margin:12px 0;}
.sides-list{color:#4c3b6f;padding-left:5px;padding-right:5px;height:auto;overflow:visible;}
.sides-left{float:left;width:49%;}
.sides-right{float:right;width:49%;margin-bottom:10px;}
#searchr{margin-right:3px;}
.offerings{line-height:15px;font:bold 12px Arial, Helvetica, sans-serif;color:#009a3d;}
.offerings img{vertical-align:text-bottom;}
.bios{width:98%;text-align:justify;font:normal 12px Arial, Helvetica, sans-serif;color:#4c3b6f;vertical-align:text-top;margin:2px;}
.bio_image{width:144px;height:202px;}
#flash-data{position:relative;z-index:100;}
#home-chef{font:bold 14px Arial, Helvetica, sans-serif;color:#e45700;text-align:center;}
#large_image{width:520px;height:400px;background:#fff;border:1px solid #000;z-index:22;position:absolute;text-align:center;}
#loc-large_image{width:510px;height:520px;background:#fff;border:1px solid #000;z-index:22;position:absolute;text-align:center;}
#large_image a{text-align:center;}
#large_image h3{padding:0;margin:0;}
.nutrition{font:bold 9px Arial, Helvetica, sans-serif;text-align:center;}
.paginate{width:100%;max-height:500px;overflow:visible;}
.line-fix{height:1px;}
.a-small a{font:normal .8em helvetica;color:#e45700;}
.a-small a:hover{color:#4c3b6f;}
#sdata{margin:-20px 0;padding:0;min-height:200px;height:100%;}
.nonie{position:inherit;z-index:-1;}
#ajax_listOfOptions{position:absolute;width:inherit;height:inherit;overflow:auto;border:1px solid #4c3b6f;background-color:#FFF;text-align:left;font-size:0.9em;z-index:100;}
#ajax_listOfOptions div{margin:1px;padding:1px;cursor:pointer;font-size:0.9em;}
#ajax_listOfOptions .optionDiv{}
#ajax_listOfOptions .optionDivSelected{background-color:#023;color:#FFF;}
#ajax_listOfOptions_iframe{background-color:#e45700;position:absolute;z-index:5;}
#ajax_tooltipObj-large{z-index:1000000;text-align:left;}
#ajax_tooltipObj-large div{position:inherit;}
#ajax_tooltipObj-large .ajax_tooltip_arrow{width:1px;position:absolute;left:0px;top:0px;z-index:1000005;}
#ajax_tooltipObj-large .ajax_tooltip_content{border:1px solid #ccc;left:2px;top:0px;position:absolute;width:500px;height:500px;background-color:#FFF;padding:5px;font-size:0.8em;overflow:hidden;z-index:1000001;}
#dt{display:none;}
.search{background:url(../images/search.png) center no-repeat;border:none;}
.reset{background:url(../images/change.png) center no-repeat;border:none;}
.style1{text-align:right;}
.style5{font-size:20px;}
.style8{font-size:8pt;}
.style9{font-size:8pt;}
#Msg{font:normal 14px helvitica;color:#fff;height:18px;}
.nutrition_board{border:1px #000 solid;background-color:#ffffff;width:241px;margin:auto;}
.feedtitle{padding-left:10px;padding-right:2px;padding-top:2px;}
.feedtitle a{font:bold 12px arial;color:#009a3d;}
.feeddate{font:normal 12px arial;color:#4c3b6f;padding-left:10px;}
.feeddata{font:normal 12px arial;color:#4c3b6f;padding-left:10px;padding-right:2px;}
.feeddata a, .rightmasttop a, .rightmastcont a{color:#009a3d;}
.feeddata a:hover, .rightmasttop a:hover, .rightmastcont a:hover{color:#4c3b6f;}
.saladworks_question{color:#4c3b6f;font:bold 12px Arial, Helvetica, sans-serif;width:430px;margin-bottom:2px;margin-top:2px;padding-left:2px;height:auto;line-height:20px;overflow:hidden;cursor:pointer;}
.saladworks_answer{width:400px;visibility:hidden;height:0px;overflow:hidden;position:relative;padding-left:15px;}.saladworks_answer_content{padding:1px;font:normal 12px Arial, Helvetica, sans-serif;position:relative;color:#009a3d;}
table.geocode-loc{width:auto;margin-left:auto;margin-right:auto;margin-top:2px;white-space:nowrap;}
table.geocode-loc td{height:12px;font:normal 12px helvetica;text-align:left;}
table.geocode-loc th{height:12px;font:bold 12px helvetica;text-align:left;}
#content_loc{width:99%;padding:10px;}
#content_loc-left{float:left;width:315px;}
#content_loc-left_stores{float:left;width:565px;}
#content_loc-right{clear:none;float:left;display:inline;width:335px;padding-right:10px;}
#content_loc-right img{width:335px;}
.loc-data{width:485px;display:block;margin-bottom:15px;text-align:left;float:left;overflow:hidden;}
.tilda{display:inline;clear:none;float:right;width:15px;height:85px;}
.fright-loc{float:right;width:150px;color:#4c3b6f;font:normal 11px Helvetica;}
.fright-loc a{color:#009a3d;font:bold 1.3em Helvetica;line-height:2em;}
.fright-loc a:hover{color:#4c3b6f;line-height:2em;}
.fleft-loc{float:left;width:250px;font:normal 9pt Helvetica;}
.fleft-loc h3{color:#e45700;font:bold 11pt Helvetica;margin:0;padding:0;text-align:left;}
.fleft-loc h4{color:#e45700;font:bold 12pt Helvetica;text-align:left;margin:0;padding:0;}
.fleft-loc h4 a{color:#e45700;font:bold 12pt Helvetica;text-align:left;margin:0;padding:0;}
.fleft-loc h4 a:hover{color:#4c3b6f}
.fleft-loc p{color:#4c3b6f;font:normal 9pt Helvetica;margin:2px;padding:0;}
.ffull{width:100%;clear:both;font:normal 9pt Helvetica;color:#e45700;}
table.schedule{background:#fff;width:100%;border:1px solid #009a3d;margin:0;padding:0;}
table.schedule th{background:#4c3b6f;border:1px solid #4c3b6f;font:bold 12px Helvetica;color:#fff;text-align:left;}
table.schedule td{text-align:center;font:normal 12px Helvetica;color:#4c3b6f;}
table.store-schedule{width:500px;border:1px solid #009a3d;margin:0;padding:0;}
table.store-schedule th{background:#4c3b6f;border:1px solid #4c3b6f;font:bold 12px Helvetica;color:#fff;}
table.store-schedule td{width:50%;border:1px solid #4c3b6f;}
.dhtmlwindow{position:absolute;border:2px solid #2B4613;visibility:hidden;background-color:#ccc;z-index:-1;}
.drag-handle{padding:1px;text-indent:3px;font:bold 14px Arial;background-color:#e45700;color:white;cursor:move;overflow:hidden;width:auto;}
.drag-handle .drag-controls{position:absolute;right:1px;top:2px;cursor:hand;cursor:pointer;}
.drag-contentarea{background:url(../images/watermark.png) bottom left no-repeat;border-top:1px solid #e45700;background-color:white;color:black;height:150px;padding:2px;overflow:hidden;}
.drag-contentarea a{color:#e45700;}
.drag-contentarea a:hover{color:#4c3b6f;}
.drag-statusarea{border-top:1px solid #e45700;background-color:#e45700;height:13px;}
.drag-resizearea{float:right;width:13px;height:13px;cursor:nw-resize;font-size:0;}
#map{margin:5px auto;}
#displaybox{filter:alpha(opacity=50);filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);-moz-opacity:.50;-khtml-opacity:0.5;opacity:0.5;background-color:#F7F7F7;position:fixed;top:0px;left:0px;width:100%;height:100%;text-align:center;vertical-align:middle;}
.modalDialog_transparentDivs{filter:alpha(opacity=90);opacity:0.9;background-color:#aaa;z-index:2;position:absolute;z-index:10000000000000790;}
.modalDialog_contentDiv{padding:0;z-index:10000000000000990;position:absolute;background:#fff;}
.modalDialog_contentDiv_shadow{z-index:10000000000000090;position:absolute;filter:alpha(opacity=90);opacity:0.9;}
#clean-wrap{width:560px;margin:15px auto;}
.news_box{border:1px solid #ccc;width:125px;height:153px;display:block;margin:3px 6px 3px 0;padding:6px 3px 0 3px;text-align:center;float:left;overflow:hidden;}
.awards{border:1px solid #ccc;width:125px;height:265px;display:block;margin:3px 6px 3px 0;padding:6px 3px 0 3px;text-align:center;float:left;overflow:hidden;}
.awards p{font:bold 12px Helvetica, arial;color:#4c3b6f;}
#ajax_tooltipObj{z-index:1000000;text-align:left;}
#ajax_tooltipObj div{position:inherit;}
#ajax_tooltipObj .ajax_tooltip_arrow{width:1px;position:absolute;left:0px;top:0px;z-index:1000005;}
#ajax_tooltipObj .ajax_tooltip_content{border:1px solid #ccc;left:2px;top:0px;position:absolute;width:255px;height:355px;background-color:#FFF;padding:5px;font-size:0.8em;overflow:hidden;z-index:1000001;}
#footer{width:800px;height:30px;margin:15px auto;font:normal 9px verdana;padding:0;border:1px solid #4c3b6f;background:#009a3d;}
#foot_content{float:right;display:inline;width:auto;height:30px;text-align:left;color:#fff;line-height:15px;padding-left:10px;}
#footer-links{display:inline;float:left;padding-right:10px;width:auto;height:30px;text-align:left;color:#fff;}
#footer-links img{line-height:30px;padding:3.5px 3px;}
#footer a{color:#fff;}
#footer a:hover{color:#4c3b6f;}
#b-footer{clear:both;width:836px;height:62px;margin-left:auto;margin-right:auto;margin-top:0;padding:0;text-align:center;font:normal 9px verdana;color:#4c3b6f;}
#b-footer a{font:normal 9px verdana;color:#ccc;}
#b-footer a:hover{color:#4c3b6f;}
#dhtmlgoodies_leftPanel{background-color:#009a3d;color:#000;font-family:Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;height:100%;left:0px;z-index:10;position:absolute;display:none;}
#dhtmlgoodies_leftPanel #leftPanelContent{padding:0px;}
#dhtmlgoodies_leftPanel .closeLink{padding-left:2px;padding-right:2px;background-color:#FFF;position:absolute;top:2px;right:2px;border:1px solid #000;color:#000;font-size:0.8em;z-index:12;}
#dhtmlgoodies_leftPanel .closeLink:hover{color:#FFF;background-color:#000;z-index:12;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:block;}
* html .clearfix{height:1%;}
.clearfix{display:block;}
.clearall{clear:both;}
#menu-container{width:800px;}
#menu-top{}
#salad-menu{background-color:#5a4099;}
#menu-additions{background-color:#5a4099;padding-bottom:50px;}
#ff-menu{background-color:#f58026;}
#salads-left{float:left;width:300px;padding-left:30px;}
#salads-right{float:right;width:310px;padding-right:70px;}
ul.items{list-style:none;margin:0;padding:0;}
ul.items li{margin-bottom:15px;}
ul.items li ul li{margin:0px;padding:0px;color:#fff;font-size:12px;margin-left:10px;line-height:15px;}
ul.items li ul{list-style:none;margin:0;padding:0;}
#menu-container h2{color:#fff;font-weight:400;font-size:17px;margin:0px;padding:0px;}
#menu-container p{margin:0px;padding:0px;color:#fff;font-size:11px;margin-left:10px;}
#menu-additions-left{float:left;width:450px;padding-left:30px;}
#menu-additions-right{float:right;padding-right:20px;width:250px;}
#ingredients{background-color:#f58026;background-image:url(/images/salad-additions-top.gif);background-repeat:no-repeat;background-position:left top;padding-top:100px;padding-right:15px;padding-bottom:15px;padding-left:15px;margin-top:30px;}
#ingredients .left{float:left;}
#ingredients .right{margin-left:200px;}
#dressings{background-image:url(/images/dressings-top.gif);background-repeat:no-repeat;background-position:-13px top;padding-top:140px;}
#ff-menu-left{float:left;margin-left:30px;}
#ff-menu-right{float:right;width:472px;padding-top:10px;}
#soups-menu{background-image:url(/images/soups-top.gif);background-repeat:no-repeat;width:250px;background-color:#1fb25a;padding-top:120px;padding-bottom:25px;}
#soups-menu ul{margin-left:25px;}
#soups-menu h2{}
}