/*
*  @file:  sw-freshfanclub.css
*   description:  2013 fresh fan club css overrides to drupal style sheet and consolidation of styles from old saladworks site
*
*/

/* saladworks orange: #e7762e */


header.header .inner-header .header-region .easy-breadcrumb {
  bottom: -10px;
}

.node-type-page article ol, .node-type-page article ol li {
  list-style: decimal;
  margin-left: 20px;
}
.node-type-page article ol li ol, .node-type-page article ol li ol li {
  list-style: lower-alpha;
  margin-left: 20px;
}


#main {
  width: 100%;
  max-width: 810px;
  margin: 0 auto;
}

#main_header {
  position: relative;
  margin-top: -10px;
}
#main_header .background {
  background: #ffffff url(../images/shell/SW_Loyalty_header.png) top center no-repeat;
  background-size: 100%;
}
#main_header .headertag {
  font-weight: bold;
  color: #fff;
}
#main_header .headermsg {
  font-weight:normal;
  color: #fff;
  max-width: 350px;
  width: 100%;
}
#main_header .headermsg a, #main_header .headermsg a:visited, #main_header .headermsg a:active {
  text-decoration: underline;
  color: #fff;
  font-weight: bold;
  font-style: italic;
}
#main_header .headermsg a:hover {
  text-decoration: none;
}

.subhead {
  display: inline-block;
  color: #e45700;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-weight: 900;
}

/**** landing page ****/
#main_center {
  width: 100%;
  margin:30px auto;
  display: inline-block;
}

.block-wrapper {
  width:85%;
  margin:0 auto;
  font-size: 1.4em;
  font-weight: 500;
}
.field-wrapper {
  display: inline-block;
  width: 100%;
  clear: both;
  margin: 0 0 10px 0;
  position: relative;
}
label {
  display: inline;
  min-width: 30%;
  line-height: 30px;
  float: left;
  font-weight: normal;
}
label.error {
  width: 58%;
  clear: both;
  display: inline-block;
  color: #f00;
  margin: 0 0 0 41%;
  padding: 3px;
}


input[type="text"], input[type="password"], textarea, select {
  width: 60%;
  height: 22px;
  padding: 3px;
  display: inline;
  float: right;
  border: 1px solid #000;
  background: #fff;
}
.field-wrapper#redemptionChart, .redemptionOptions {
  margin: auto;
  display: block;
  width: auto;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}
select#redemptionChart {
  float: none;
  min-width: 220px;
  margin-bottom: 2px;
}
select#redemptionChart option {
  padding: 3px 0;
}
input:-webkit-autofill {
  background-color: rgb(255, 255, 255) !important;
}
input[type="button"], input[type="submit"], .fake-button a {
  float: right;
  display: inline;
  width: auto;
  padding: 7px 15px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-align: right;
  border: 1px solid;
  background: url("../../../sites/all/themes/beta_carrotheme/img/sw-px-bg.png") repeat;
  color: #fff;
  font-weight:bold;
  font-size: 14px;
}
.fake-button a, .fake-button a:hover, input[type="button"]:hover, input[type="submit"]:hover {
  color: #fff;
}

#frgt, #trms {
  float: left;
  display: inline;
  color: #e45700;
  line-height: 32px;
}
#frgt a, #frgt a:hover, #trms a,#trms a:hover, .orangeLink a, .orangeLink a:hover, #fanclubTermsConditions a, #fanclubTermsConditions a:hover {
  font-weight:normal;
  font-size:12px;
  color: #e45700;
  text-decoration: underline;
}
#frgt a:hover, #trms a:hover, .orangeLink a:hover, #fanclubTermsConditions a:hover {
  color: #e45700;
  text-decoration: none;
}
#register_main .mnsg {
  width: 100%;
  padding-top: 0;
  padding-bottom: 5px;
}
.field-description {
  clear: both;
  width: 62.5%;
  color: #999;
  font-size: 80%;
  float: right;
  padding-top: 3px;
}

/* modals */
.set_height_notice {
  width: 100%;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  font-weight: 500;
  margin-top:20px;
  padding:10px 0;
}



#rewards {
  width: 100%;
  margin: 20px auto 0;
  position: relative;
}
#rewards .higher {
	display: block;
	width: 100%;
	height: auto;
  clear:both;
}
#rewards .higher img {
  width: 100%;
  height: auto;
}
#rewards h1 {
  padding: 0;
  line-height: auto;
  width: 100%;
  color: #fff;
  text-align: center;
  border-bottom: none;
  font-weight: bold;
}
#rewards .lower {
  position: absolute;
  width: 100%;
  text-align: center;
}

/* splash page for returning users */
#points {
  width: 49%;
  display: inline-block;
  padding: 20px 0 0 30px;
}
#points h2 {
  display: inline-block;
  clear: both;
  margin: 0 10px 10px 0;
  padding: 0;
  font-size: 28px;
}
.plisting {
  display: inline-block;
  clear: both;
  font-weight:bold;
  font-size: 16px;
  color: #e45700;
  text-align: left;
  width: 100%;
  font-size: 28px;
}
#points .splash-image {
  clear: both;
  display: inline-block;
  width: 100%;
  margin: 0 0 0 -30px;
  padding: 20px 0 0 0;
}
#fanclubLinks {
  width: 44%;
  display: inline-block;
  position: absolute;
  bottom: 30px;
  right: 30px;
}
#fanclubLinks label {
  color: #e45700;
  font-weight: bold;
  width: 100%;
  clear: both;
}
#fanclubLinks select {
  width: 90%;
  margin-left: 15px;
  float: none;
}
/* small mobile portrait */
@media only screen and (max-width:320px) {
  .node-type-page article {
    padding-bottom: 15px;
  }
  #main_header .background {
    height: 157px;
  }
  #main_header .background .headertag {
    font-size: 2em;
    padding: 20px 20px 10px 20px;
  }
  #main_header .headermsg {
    font-size: 0.95em;
    padding: 0 15px;
    color: #000;
  }
  #main_header .headermsg a.shiftedAnchor {
  }
  #main_header .headermsg a, #main_header .headermsg a:visited, #main_header .headermsg a:active {
    color: #000;
  }
  .subhead {
    font-size: 2.4em;
    padding-bottom: 20px;
  }
  #rewards h1 {
    font-size: 16px;
  }
  #rewards .lower {
    bottom: 4px;
  }
  label {
    font-size: 80%;
  }
}


/* mobile landscape */
@media only screen and (min-width:321px) and (max-width:479px) {
  .node-type-page article {
    padding-bottom: 30px;
  }
  #main_header .background {
    height: 235px;
  }
  #main_header .background .headertag {
    font-size: 2em;
    padding: 20px 20px 10px 20px;
    width: 60%;
  }
  #main_header .headermsg {
    font-size: 0.95em;
    padding: 0 20px;
    color: #000;
  }
  #main_header .headermsg a, #main_header .headermsg a:visited, #main_header .headermsg a:active {
    color: #000;
  }
  .subhead {
    font-size: 2.4em;
    padding-bottom: 20px;
  }
  #rewards h1 {
    font-size: 20px;
  }
  #rewards .lower {
    bottom: 5px;
  }
  label {
    font-size: 85%;
  }
}

@media only screen and (min-width:480px) and (max-width:679px) {
  .node-type-page article {
    padding-bottom: 50px;
  }
}

/* larger mobile landscape, tablet portrait */
@media only screen and (max-width:679px) {
  #login_main, #register_main {
    width: 85%;
    margin: auto;
    display: block;
    clear: both;
  }
  #register_main {
    margin-top: 20px;
  }
  #personal-info, #saladworks-preferences {
    height: auto;
    width: 100%;
    display: inline-block;
  }
  #fanclubregister {
    padding-top: 20px;
  }
  #personal-info {
  }
  #saladworks-preferences {
  }
  .fanclub-input {
    margin: auto;
    width: auto;
    display: block;
    text-align: right;
  }
  .fanclub-input .assistive-graphic {
    display: inline-block;
    z-index: -5;
  }
  .fanclub-input .assistive-graphic label {
    position: absolute;
    top: 5px;
    right: 40px;
    z-index: 99;
  }
  .fanclub-input .assistive-graphic input {
    position: absolute;
    top: 30px;
    right: 40px;
    z-index: 99;
    width: 165px;
  }
  #points {
    width: 100%;
    display: inline-block;
    padding: 20px 0 0 30px;
  }
  #points h2 {
    display: inline-block;
    clear: both;
    margin: 0 10px 10px 0;
    padding: 0;
    font-size: 20px;
  }
  .plisting {
    display: inline-block;
    clear: both;
    font-weight:bold;
    font-size: 16px;
    color: #e45700;
    text-align: left;
    width: 100%;
    font-size: 20px;
  }
  #points .splash-image { display: none; visibility: hidden; }
  #fanclubLinks {
    width: 100%;
    display: inline-block;
    position: relative;
    bottom: 0;
    right: 0;
    margin-bottom: 20px
  }
  #fanclubLinks .blurb {
    padding: 0 30px;
  }
  #fanclubLinks h2 {
    font-size: 16px;
  }
}
@media only screen and (min-width:680px) {
  .node-type-page article {
    padding-bottom: 100px;
  }
  #login_main, #register_main {
    max-width: 352px;
    width: 50%;
    min-width: 320px;
    display:inline-block;
  }
  #personal-info, #saladworks-preferences {
    height: auto;
    min-width: 320px;
    width: 50%;
    display: inline-block;
  }
  #personal-info {
    float: left;
  }
  #saladworks-preferences {
    float: right;
    text-align: left;
  }
  .field-wrapper.preferred-location-input select, .field-wrapper.subscription-input select {
    margin-top: 8px;
  }
  .field-wrapper.preferred-location-input label, .field-wrapper.subscription-input label {
    width: 35%;
    text-align: right;
    line-height: 100%;
  }
  .fanclub-input {
    min-width: 320px;
    width: 50%;
    float: left;
    height: auto;
    display: inline-block;
  }
  .fanclub-input .assistive-graphic {
    z-index: -5;
    text-align: left;
  }
  .fanclub-input .assistive-graphic label {
    position: absolute;
    top: 5px;
    left: 20px;
    z-index: 99;
  }
  .fanclub-input .assistive-graphic input {
    position: absolute;
    top: 30px;
    left: 20px;
    z-index: 99;
    width: 165px;
  }
  .card-management-form-wrapper {
    display: block;
    float: right;
    width: 50%;
    min-width: 320px;
  }
  .card-management-form-wrapper .fanclub-input {
    width: 100%;
    float: left;
    height: auto;
    display: inline-block;
  }

}
@media only screen and (min-width:480px) and (max-width:767px) {
  #main_header .background {
    height: 376px;
  }
  #main_header .background .headertag {
    font-size: 3em;
    padding: 30px 30px 10px 30px;
  }
  #main_header .headermsg {
    font-size: 1.1em;
    padding: 40px 0 0 40px;
    position: absolute;
    top: 3em;
    width: 50%;
    max-height: 260px;
  }
  #main_header .headermsg a.shiftedAnchor {
    position: relative;
    top: 40px;
  }
  .subhead {
    font-size: 2.4em;
    padding-bottom: 20px;
  }
  #rewards h1 {
    font-size: 30px;
  }
  #rewards .lower {
    bottom: 10px;
  }
}


/* tablet landscape, desktop */
@media only screen and (min-width:768px) {
  #main_header .background {
    height: 397px;
  }
  #main_header .background .headertag {
    font-size: 4em;
    padding: 30px 60px 15px 60px;
  }
  #main_header .headermsg {
    font-size: 1.3em;
    padding: 50px 0 0 60px;
    position: absolute;
    top: 4em;
    width: 55%;
    max-height: 290px;
  }
  .subhead {
    font-size: 2.4em;
    padding-bottom: 20px;
  }
  #rewards h1 {
    font-size: 48px;
  }
  #rewards .lower {
    bottom: 20px;
  }
  #login_main{
    float: left;
  }
  #register_main {
    float: right;
  }
}




