/************
 *Objects & Functions
 ********/


@import "objects/_o_1024up";

/*************
* Hide Stuff
**********/

.only-responsive:not(.home-instagram) {
	display: none;
}

.only-desktop:not(.home-instagram) {
	display: inline-block !important;
}

.phantom-block {
	display: inline-block;
}

/*************
* Large Containers
**********/


body.sidebar-first aside.sidebar-first {
	padding-top: 40px;
}

/*********
* Header
*******/

header.header {
	overflow: visible;
	height: 0px;

	.inner-header {
		max-width: 960px;
		margin-right: auto !important;
		margin-left: auto !important;
		height: auto;
		padding-right: 0px;
		position: relative;

		.siteinfo {
			margin-left: 0px;
		}
		.header-region {
			.header-very-top {
				top: -30px;
				right: 0px;

				& > ul {
					li {
						a {
							&:hover, &:link, &:visited, &:active {
							}
						}

						ul {
							li {

							}
						}
					}
				}
			} /*End .header-very-top*/
			.mobile-header {
				ul {
					li {
					}
				}

				.fb-orange {
					@extend %fb-o;
				}
				.twit-orange {
					@extend %twit-o;
				}
				.pin-orange {
					@extend %pin-o;
				}
				.hamburger-wrap {
					&.active {
					}
					.hamburger-line {
						&:first-child {
						}
					}
				}/* End .hamburger-wrap*/
			}/* End .mobile-header*/
			.header-main-menu {
				&.active {
				}

				.level-1-ul {
					.level-1-li {
						margin: 10px 24px;
						a {
							&.heavy {
							}

							&.italic {
							}
						}
					}
				}
			} /*End .header-main-menu*/
			.easy-breadcrumb {
				position: absolute;
				left: 0px;
				bottom: 10px;
				font-size: 0.9 * $em;
				font-family: $museo;

				.easy-breadcrumb_segment-separator {
					padding: 0px 3px;
				}

				a {
					text-decoration: underline;
					color: $orange;
				}
			}
		} /*End .header-region*/
	} /*End .inner-header*/
} /*End Header*/

/*********
* Middle
*******/

.node-type-sw-item {
	article {
		font-size: 0;
	}
	aside.sidebar-first {
		width: 20% !important;
		padding-left: 0px !important;

		li {
		}

		a, a:visited, a:link {
		}
	}
	#main-content {
		width: 80% !important;
		font-size: 0;
		padding-bottom: 40px;
	}
	.salad-wrap {
		vertical-align: top;
		padding-top: 40px;
		font-size: $em;
		display: inline-block;
		width: 65%;
	}
	.nutrition-wrap {
		vertical-align: top;
		padding-top: 40px;
		font-size: $em;
		display: inline-block;
		width: 35%;
		text-align: right;

		.nutrition_board {
			text-align: left;
			display: inline-block;
		}

		p {
			text-align: right;
		}
	}
	.disclaimer {
		width: 90%;
		padding-left: 0;
  }
}

.node-type-sw-item, .node-type-page {
	.page-title {
		padding-left: 0px;
	}
}

/* Begin type SW Item*/
.menu-category-page {
	.menu-block {
		& > div {
			padding: 20px 0px;
			margin: 0px 1%;
			width: 48%;
		}
		.field-content {
			& > a:first-child {
				max-width: 160px;
				display: block;
				margin: 0px;
				float: left;

				img {
				}
			}
			.wrap {
				@include box-sizing(border);
				width: auto;
				overflow: hidden;
				display: block;
				margin: 0px;
				padding-top: 0px;
				padding-left: 30px;

				a {
				}
				p {
					display: block;
				}
			}
		}
	}
  .wrap {
    padding-bottom: 20px;

    a {
      padding-bottom: 20px;
    }
  }
}


.page {
	padding-top: 90px;
	max-width: 960px;
}
.not-front {
	.page {
		padding-top: 120px;
	}
}
/******* Home ******/
.side-salad {
	display: inline-block;
	position: absolute;
	z-index: 100;
	top: 425px;
	width: 31%;

	&.left {
		left: 0px;
	}
	&.right {
		right: 0px;
	}
}

.homepage-slider {
	@extend %three-four;
}

/** home page slideshow **/
.homepage-slider {
  max-height: 330px;
  overflow-y: hidden;
}

.homepage-order {
	@extend %one-four;
	padding: 0px 0px 0px 20px;
	background-size: 85px;

	h2 {
		padding: 10px 113px 20px 0px;
		line-height: 32px;
		font-size: 32px;
		background-size: 85px;
		height: 90px;
	}

	.button-wrap {
		width: 100%;

		.order-button {
			display: block !important;
			width: 100% !important;

			&:first-child {
			}
		}
		.orange {
		}
	}
	.description {
		font-size: 12px;
		padding: 20px 0px;
	}
	.zipcode-label {
		font-size: 1.3 * $em;
		width: 100%;

		#ot_zip {
			font-size: 1.1 * $em;
			width: 60px;
			margin-left: 10px;
		}
		#ot_submit {
			font-size: 1.3 * $em;
			margin-left: 10px;
		}
	} /*End Zipcode label*/
} /*End Homepage Order*/
.phantom-block {
	@extend %two-seven;
}

.home-page-callout {
	@extend %two-seven;

	.field-content {
	}
	.title-wrap {
		h2 {
		}
		h3 {
		}

	}
	.callout-body {
	}
	.callout-learn-more {
	}
} /*End Callout*/

.js {
	.home-page-callout {
		&.ready {
		}
	}
}

/* Insta Widget */
.home-instagram {
	@extend %three-seven;
	vertical-align: top;
	max-width: none;
	padding: 33px 20px 0px 20px;

	.bx-prev {
		background-image: url('../img/arrow-left-small.png') !important;
		height: 14px !important;
		width: 12px !important;
		left: -20px;
		background-position: left top !important;
		background-repeat: no-repeat !important;
	}

	.bx-next {
		background-image: url('../img/arrow-right-small.png') !important;
		height: 14px !important;
		width: 12px !important;
		right: -20px;
		background-position: left top !important;
		background-repeat: no-repeat !important;
	}
	.view-header {
		padding: 0px 5px;
		background-clip: content-box;

		.views-field-profile-picture {
			span {
			}
			.profile-pict-link {
				img {
				}
			} /*End .profile-pict-link*/
			.instagram-logo {
			}
		} /*End .views-field-profile-picture*/
	} /*End .view-header*/
	.skin-default {
		.bxslider-views-slideshow-main-frame-row {
			.field-content {
				img {
				}
			}
		}
	} /*End .skin-defualt*/
} /*End .home-instagram*/

/*********
* Footer
*******/

#global-footer {
	padding-top: 60px;
	.inner-footer {
		max-width: 1024px;

		.footer-about {
			padding-right: 30px;
		  	h2 {
		  	}
		  	p {
		  	}
		}

		.footer-menu {
			vertical-align: top;
			border-left: 1px solid $white;
			padding: 10px 0px 10px 30px !important;
			margin-top: 10px;
			ul {

				li {

					a {
						font-size: 1.1 * $em;
					}
				}
			}
		}

		.footer-social {
			padding-top: 20px;
			vertical-align: top;
			padding-left: 10px;
			margin-top: 10px;
			ul {
			}
			p{
			}
			li {
				padding: 4px 10px;
				a {
				}

				a:nth-child(2){
				}
			}
			.fb-white {
			}
			.twit-white {
			}
			.pin-white {
			}
		}

		.footer-franchise-ops {
			margin-top: -10px;
			vertical-align: top;

			img {
				width: 80%;
				margin-bottom: -30px;
			}

		}

		.footer-copyright {
		}
	}
}
