/************
 *Objects & Functions
 ********/


@import "objects/_o_1280up";

/*************
* Hide Stuff
**********/

.only-small-screens {
	display: none;
}

.only-big-screens {
	display: inline-block !important;
}


/*************
* Outer Containers
**********/

/*********
* Header
*******/

header.header {
	.inner-header {
		max-width: 1080px;
		.siteinfo {
		}
		.header-region {
			.header-very-top {
				& > ul {
					li {
						a {
							&:hover, &:link, &:visited, &:active {
							}
						}

						ul {
							li {

							}
						}
					}
				}
			} /*End .header-very-top*/
			.mobile-header {
				ul {
					li {
					}
				}

				.fb-orange {
					@extend %fb-o;
				}
				.twit-orange {
					@extend %twit-o;
				}
				.pin-orange {
					@extend %pin-o;
				}
				.hamburger-wrap {
					&.active {
					}
					.hamburger-line {
						&:first-child {
						}
					}
				}/* End .hamburger-wrap*/
			}/* End .mobile-header*/
			.header-main-menu {
				&.active {
				}

				.level-1-ul {
					.level-1-li {
						a {
							&.heavy {
							}

							&.italic {
							}
						}
					}
				}
			} /*End .header-main-menu*/
		} /*End .header-region*/
	} /*End .inner-header*/
} /*End Header*/

/*********
* Middle
*******/

.page {
	max-width: 1080px;
}

/******* Home ******/
.phantom-block {
	@extend %one-four;
}

.homepage-order {
	h2 {
	}
	.button-wrap {
		.order-button {
			&:first-child {
			}
		}
		.orange {
		}
	}
	.description {
	}
	.zipcode-label {
		#ot_zip {
		}
		#ot_submit {
		}
	} /*End Zipcode label*/
} /*End Homepage Order*/
.home-page-callout {
	@extend %one-four;

	.field-content {
		margin: 0px;
	}
	.title-wrap {
		h2 {
		}
		h3 {
		}

	}
	.callout-body {
	}
	.callout-learn-more {
	}
} /*End Callout*/

.js {
	.home-page-callout {
		&.ready {
		}
	}
}

/* Insta Widget */
.home-instagram {
	@extend %one-two;

	.view-header {
		.views-field-profile-picture {
			span {
			}
			.profile-pict-link {
				img {
				}
			} /*End .profile-pict-link*/
			.instagram-logo {
			}
		} /*End .views-field-profile-picture*/
	} /*End .view-header*/
	.skin-default {
		.bxslider-views-slideshow-main-frame-row {
			.field-content {
				img {
				}
			}
		}
	} /*End .skin-defualt*/
} /*End .home-instagram*/

/** home page slideshow **/
.homepage-slider {
  max-height: 372px;
  overflow-y: hidden;
}

/*********
* Footer
*******/

#global-footer {
	.inner-footer {
		max-width: 1080px;

		.footer-about {
		  	h2 {
		  	}
		  	p {
		  	}
		}

		.footer-menu {
			ul {

				li {

					a {
					}
				}
			}
		}

		.footer-social {
			ul {
			}
			p{
			}
			li {
				a {
				}

				a:nth-child(2){
				}
			}
			.fb-white {
			}
			.twit-white {
			}
			.pin-white {
			}
		}

		.footer-franchise-ops {

			img {
			}

		}

		.footer-copyright {
		}
	}
}
