/************
 *Objects & Functions
 ********/


@import "objects/_o_1600up";

/*************
* Outer Containers
**********/

/*********
* Header
*******/

header.header {
	.inner-header {
		.siteinfo {
		}
		.header-region {
			.header-very-top {
				& > ul {
					li {
						a {
							&:hover, &:link, &:visited, &:active {
							}
						}

						ul {
							li {

							}
						}
					}
				}
			} /*End .header-very-top*/
			.mobile-header {
				ul {
					li {
					}
				}

				.fb-orange {
					@extend %fb-o;
				}
				.twit-orange {
					@extend %twit-o;
				}
				.pin-orange {
					@extend %pin-o;
				}
				.hamburger-wrap {
					&.active {
					}
					.hamburger-line {
						&:first-child {
						}
					}
				}/* End .hamburger-wrap*/		
			}/* End .mobile-header*/
			.header-main-menu {
				&.active {
				}

				.level-1-ul {
					.level-1-li {
						a {
							&.heavy {
							}

							&.italic {
							}
						}
					}
				}
			} /*End .header-main-menu*/
		} /*End .header-region*/
	} /*End .inner-header*/
} /*End Header*/

/*********
* Middle
*******/

/******* Home ******/
.homepage-order {
	h2 {
	}
	.button-wrap {
		.order-button {
			&:first-child {
			}
		}
		.orange {
		}
	}
	.description {
	}
	.zipcode-label {
		#ot_zip {
		}
		#ot_submit {
		}
	} /*End Zipcode label*/
} /*End Homepage Order*/
.home-page-callout {
	@extend %three-ten;
	.field-content {
	}
	.title-wrap {
		h2 {
		}
		h3 {
		}

	}
	.callout-body {
	}
	.callout-learn-more {
	}
} /*End Callout*/

.js {
	.home-page-callout {
		&.ready {
		}
	}
}

.phantom-block {
	@extend %one-ten;
}

/* Insta Widget */
.home-instagram {
	@extend %three-five;
	.view-header {
		.views-field-profile-picture {
			span {
			}
			.profile-pict-link {
				img {
				}
			} /*End .profile-pict-link*/
			.instagram-logo {
			}
		} /*End .views-field-profile-picture*/
	} /*End .view-header*/
	.skin-default {
		.bxslider-views-slideshow-main-frame-row {
			.field-content {
				img {
				}
			}
		}
	} /*End .skin-defualt*/
} /*End .home-instagram*/

/*********
* Footer
*******/
