/*************
* Outer Containers
**********/

/*************
* Hide Things
**********/

.portrait-plus {
	display: none !important;
}

/*********
* Header
*******/
header.header {

	.inner-header {

		.siteinfo {
		}
		.header-region {
			.header-main-menu.active {
				padding-top: 45px;
			}
			.header-very-top {
				width: 190px;

				& > ul {

					li {
						a {
							padding: 0px 5px;
							display: inline-block;

							&:hover, &:link, &:visited, &:active {
							}
						}

						ul {
							li {

							}
						}
					}
				}
			}
		}
	}
}
/*********
* Middle
*******/

/*********
* Footer
*******/



#global-footer {
	.inner-footer {

		.footer-about {
		  	h2 {
		  	}
		  	p {
		  	}
		}

		.footer-menu {
			width: 50%;

			ul {

				li {

					a {

					}
				}
			}
		}

		.footer-social {

			ul {
			}
			p{
			}
			li {
			}
			.fb-white {
			}
			.twit-white {
			}
			.pin-white {
			}
		}

		.footer-franchise-ops {
			width: 100%;
		}

		.footer-copyright {
		}
	}
}