/************
 *Objects & Functions
 ********/


@import "objects/_o_480up";

/*************
* Hide Things
**********/

.portrait-only {
	display: none !important;
}

/*********
* Header
*******/

/*********
* Middle
*******/

/******* Home ******/
.homepage-order {
	h2 {
		padding: 20px 0 0 15px;
		height: 110px;
		font-size: 45px;
		line-height: 72px;

		background-image: url('../img/lettuce.png');
		background-repeat: no-repeat;
		background-position: right center;
	}
	.button-wrap {
		width: 96%;
		display: block;
		margin: 0px auto;
		text-align: center;

		.order-button {
			display: inline-block;
			width: 48%;
			&:first-child {
				margin-right: 2%;
			}
		}
		.orange {
		}
	}
	.description {
	}
	.zipcode-label {
		#ot_zip {
		}
		#ot_submit {
		}
	} /*End Zipcode label*/
} /*End Homepage Order*/
.home-page-callout {
	.field-content {
	}
	.title-wrap {
		h2 {
		}
		h3 {
		}

	}
	.callout-body {
	}
	.callout-learn-more {
	}
} /*End Callout*/

.js {
	.home-page-callout {
		&.ready {
		}
	}
}

/* Insta Widget */
.home-instagram {
	max-width: 510px;
	.view-header {
		.views-field-profile-picture {
			span {
			}
			.profile-pict-link {
				img {
				}
			} /*End .profile-pict-link*/
			.instagram-logo {
			}
		} /*End .views-field-profile-picture*/
	} /*End .view-header*/
	.skin-default {
		.bxslider-views-slideshow-main-frame-row {
			.field-content {
				img {
				}
			}
		}
	} /*End .skin-defualt*/
} /*End .home-instagram*/

/** home page slideshow **/
.homepage-slider {
  max-height: 345px;
  overflow-y: hidden;
}

/* Begin type SW Item*/
.menu-category-page {
	.menu-block {
		font-size: 0;

		& > div {
			width: 45%;
			margin-right: 5%;
			display: inline-block;
			vertical-align: top;
		}
		.field-content {
			a:first-child {
				img {
				}
			}
			.wrap {
				a {
				}
				p {
				}
			}
		}
	}
  .wrap {
    width: 100%;
    max-width: 300px;
  }
	/*Sandwich stuff*/
	.sandwich-link {
		display: inline-block;
		max-width: 33%;
		min-width: 31%;
		width: auto;
		text-align: center;
		font-family: $museo;

		a {
			font-size: 1.5 * $em;
			padding: 5px 0;
			width: 100%;
			display: inline-block;
			border-radius: 3px;
			border: 1px solid $orange;
    }
  }
}



/*********
* Footer
*******/

#global-footer {
	.inner-footer {

		.footer-about {
		  	h2 {
		  	}
		  	p {
		  	}
		}

		nav.footer-menu {
			width: 100%;

			ul {

				li {

					a {

					}
				}
			}
		}

		.footer-social {
			@extend %one-six;
			position: absolute;
			top: 20px;
			left: 50%;
			font-size: $em;
			width: 170px;
			text-align: center;
			margin-left: -85px;
      display: block;
      visibility: visible;
			ul {
			}
			p{
			}
			li {
			}
			.fb-white {
			}
			.twit-white {
			}
			.pin-white {
			}
		}

		.footer-franchise-ops {
			@include box-sizing(border);
			width: 100%;
		}

		.footer-copyright {
		}
	}
}


