/*************
* Outer Containers
**********/

/*************
* Hide Things
**********/

.desktop-only {
	display: none !important;
}

.phantom-block {
	display: none;
}

/*********
* Header
*******/

header.header {
	.inner-header {
		.siteinfo {
		}
		.header-region {
			.header-very-top {
				& > ul {
					li {
						a {
							&:hover, &:link, &:visited, &:active {
							}
						}

						ul {
							li {

							}
						}
					}
				}
			} /*End .header-very-top*/
			.mobile-header {
				ul {
					li {
					}
				}

				.fb-orange {
					@extend %fb-o;
				}
				.twit-orange {
					@extend %twit-o;
				}
				.pin-orange {
					@extend %pin-o;
				}
				.hamburger-wrap {
					&.active {
					}
					.hamburger-line {
						&:first-child {
						}
					}
				}/* End .hamburger-wrap*/		
			}/* End .mobile-header*/
			.header-main-menu {
				&.active {
				}

				.level-1-ul {
					.level-1-li {
						a {
							&.heavy {
							}

							&.italic {
							}
						}
					}
				}
			} /*End .header-main-menu*/
		} /*End .header-region*/
	} /*End .inner-header*/
} /*End Header*/

/*********
* Middle
*******/

/*********
* Footer
*******/

#global-footer {
	.inner-footer {
		.footer-about {
		  	h2 {
		  	}
		  	p {
		  	}
		}

		.footer-menu {
			ul {

				li {

					a {

					}
				}
			}
		}

		.footer-social {

			ul {
			}
			p{
			}
			li {
			}
			.fb-white {
			}
			.twit-white {
			}
			.pin-white {
			}
		}

		.footer-franchise-ops {
		}
		.footer-copyright {
		}
	}
}