/************
 *Objects & Functions
 ********/


@import "objects/_o_768up";

/************
 *Hide Things
 ********/

.mobile-only {
	display: none !important;
}

/*************
* Outer Containers
**********/

/*********
* Header
*******/

header.header {
	padding-top: 60px;

	.inner-header {
		height: 100%;
		padding-bottom: 0px;
		padding-right: 30px;

		.siteinfo {
			width: 100px;
			margin-left: 30px;
			margin-top: -30px;
		}

		.header-region {
			width: auto;
			float: none;
			overflow: hidden;

			.header-very-top {
				width: 100%;
				padding-right: 0px;
				top: 30px;
				right: 30px;
				text-align: right;

				& > ul {
					li {
						font-size: 1.1 * $em;
						padding: 0px 10px;

						&:last-child {
							padding-right: 0px;
						}

						&:hover {
							ul {
								opacity: 1;
								max-height: 100px;
								padding-top: 15px;
								display: block;
							}
						}

						a {
							&:hover, &:link, &:visited, &:active {
							}
						}
						#saladworks-listens-child {
							color: $orange;
							font-weight: 700;
						}
						ul {
							max-height: 0;
							overflow: hidden;
							opacity: 0;
							display: block;
							position: absolute;
							top: 30px;
							width: 115px;
							margin-left: -12px;
							text-align: center;
							background-image: url('../img/down-arrow.png');
							background-repeat: no-repeat;
							background-position: center top;
							@include transition(.25s, opacity);

							li {
								padding-left: 0px;
							}
						}
					}
				}
			} /*End .header-very-top*/
			.mobile-header {
				ul {
					li {
					}
				}

				.fb-orange {
					@extend %fb-o;
				}
				.twit-orange {
					@extend %twit-o;
				}
				.pin-orange {
					@extend %pin-o;
				}
				.hamburger-wrap {
					&.active {
					}
					.hamburger-line {
						&:first-child {
						}
					}
				}/* End .hamburger-wrap*/
			}/* End .mobile-header*/
			.header-main-menu {
				padding-top: 30px;
				position: static;
				width: 100%;
				height: auto;
				background-color: transparent;
				background-image: none;
				padding-right: 0px;
				text-align: right;
				overflow: hidden;

				@include transition(0.0s, all);

				&.active {
				}

				.level-1-ul {
					.level-1-li {
						display: inline-block !important;
						margin: 10px 1%;

						a {
							color: black;
							font-size: 1.4 * $em;

							&.heavy {
							}

							&.italic {
							}
						}
					}
				}
			} /*End .header-main-menu*/
		} /*End .header-region*/
	} /*End .inner-header*/
} /*End Header*/

/*********
* Middle
*******/

.front {
	#main-content {
		min-height: 660px;
	}
}

/* Begin type SW Item*/
.menu-category-page {
	.menu-block {
		font-size: 0;

		& > div {
			width: 45%;
			margin-right: 5%;
			display: inline-block;
			vertical-align: top;
		}
		.field-content {
			a:first-child {
				img {
				}
			}
			.wrap {
				a {
				}
				p {
				}
			}
		}
	}

	/*Sandwich stuff*/
	.sandwich-link {
		display: inline-block;
		width: 33%;
		text-align: center;
		font-family: $museo;

		a {
			font-size: 1.75 * $em;
			padding: 5px 0;
			width: 100%;
			display: inline-block;
    }
  }
}


.page {
	font-size: 0;
}

.node-type-page {
	article {
		padding-bottom: 150px;
	}
} /*End node type: PAGE*/


.node-type-sw-item, .cyo-salad {

	aside.sidebar-first {
		width: 25% !important;
		padding-left: 15px !important;

		h2 {
			color: $orange;
			font-size: 2.2 * $em;
			font-family: $museo;
			font-weight: 900;
			font-style: italic;
			padding-bottom: 1.6 * $em;
		}

		li {
			padding: 5px 0px;
		}

		a, a:visited, a:link {
			font-family: $museo;
			color: black;
			text-decoration: none;
		}
	}
	#main-content {
		width: 74% !important;
	}
}
.node-type-sw-item {
	.sidebar-first {
	  width: 25% !important;

    nav.section-menu {
      h2 {
        display: inline-block;
        visibility: visible;
      }
      ul.main-menu {
        width: 100%;
        margin: auto;
        li {
          width: 100%;
          margin-right: 0;
          display: inline-block;
        }
      }
    }
	}
}


/******* Home ******/
.homepage-slider {
	padding-bottom: 40px;
}

.homepage-order {
	font-size: $em;
	@include box-sizing(border);
	width: 50%;
	padding: 0px 1%;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 30px;

	h2 {
		padding: 20px 113px 20px 15px;
		font-size: 45px;
		line-height: 4 * $em;
		width: 100%;
		display: inline-block;
	}
	.button-wrap {
		.order-button {
			font-size: 1.6 * $em;
			&:first-child {
			}
		}
		.orange {
		}
	}
	.description {
	}
	.zipcode-label {
		#ot_zip {
		}
		#ot_submit {
		}
	} /*End Zipcode label*/
} /*End Homepage Order*/
.home-page-callout {
	font-size: $em;
	@include box-sizing(border);
	width: 50%;
	padding: 0px 1%;
	display: inline-block;

	.field-content {
	}
	.title-wrap {
		h2 {
		}
		h3 {
		}

	}
	.callout-body {
	}
	.callout-learn-more {
	}
} /*End Callout*/

.js {
	.home-page-callout {
		&.ready {
		}
	}
}

/* Insta Widget */
.home-instagram {
	max-width: 510px;
	.view-header {
		.views-field-profile-picture {
			span {
			}
			.profile-pict-link {
				img {
				}
			} /*End .profile-pict-link*/
			.instagram-logo {
			}
		} /*End .views-field-profile-picture*/
	} /*End .view-header*/
	.skin-default {
		.bxslider-views-slideshow-main-frame-row {
			.field-content {
				img {
				}
			}
		}
	} /*End .skin-defualt*/
} /*End .home-instagram*/

/** home page slideshow **/
.homepage-slider {
  max-height: 465px;
  overflow-y: hidden;
}


/**** checkout ****/
.page-cart-checkout {
  fieldset#quotes-pane, fieldset#payment-pane, fieldset#comments-pane {
    width: 49%;
    margin-left: 10%;
  }
}

/*********
* Footer
*******/

#global-footer {
	padding-top: 40px;

	.inner-footer {

		.footer-about {
		  	h2 {
		  	}
		  	p {
		  	}
		}

		.footer-menu {
			width: 33.3333%;
      vertical-align: top;

			ul {

				li {

					a {

					}
				}
			}
		}

		.footer-social {
			width: 33.3333%;
			position: static;
			margin: 15px 0 0 0;
			padding-left: 5%;
      vertical-align: top;
      padding-top: 20px;

			ul {
			}
			p{
			}
			li {
				text-align: left;
				display: block;
				font-size: 1.1 * $em;

				a {
					color: $white;
				}

				a:nth-child(2){
					margin-left: 10px;
					padding-top: 8px;
					vertical-align: top;
					display: inline-block;
				}
			}
			.fb-white {
				margin: 0px 10px;
			}
			.twit-white {
			}
			.pin-white {
			}
		}

		.footer-franchise-ops {
			text-align: center;
			width: 33.3333%;
			padding-left: 0px;
			padding-right: 0px;

      p {
        display: inline-block;
        float: none;
        width: 100%;
        left: 0px;
        position: relative;
      }
			img {
				display: block;
				margin: 0px auto -20px auto;
			}
			h2 {
        margin-top: 0px;
        display: block;
        clear: both;
        a {
          left: 0px;
          position: relative;
        }
      }
 			h4 {
        text-align: center;
        a {
          left: 0px;
          position: relative;
        }
      }
		}

		.footer-copyright {
		}
	}
}
/* Insta Widget */
.home-instagram {
	.bx-prev {
		opacity: 1;
	}

	.bx-next {
		opacity: 1;
	}
} /*End .home-instagram*/
