/**Dev**/
.not-front {
	.page {
		.sidebar-first {
			font-size: $em;
		}
		#main-content {
			font-size: $em;
		}
	}
}

/************
 *Objects & Functions
 ********/


@import "objects/_o_base";

/*************
* Outer Containers
**********/

html {
	overflow-x: hidden;
}

body {
	position: relative;
	left: 0px;
	width: 100%;
	@include transition(.5s);

	&:before {
		display: none !important;
	}

	&.active-menu {
		left: -240px;
	}
}

* {
	-webkit-font-smoothing: antialiased;
}

.page {
	width: 100%;

	#main-content {
		float: none;
		padding: 0px;
		position: static;
	}
}

.not-front .page {
  #main-content, div[role="main"] {
    width: 90%;
    margin: auto;
    float: none;
    display: block;
  }
  .page-title {
    width: 90%;
    margin: auto;
    float: none;
    display: block;
    clear: both;
  }
  .page-title {

  }
}

a img, a:hover img, a:active img, a:visited img {
  border: none;
}

/*********
* Header
*******/

.orange-text {
	color: $orange !important;
}

.heavy {
	font-weight: 900;
}

header.header {
	position: relative;
	width: 100%;
	background: $bg-solid;
	margin-top: 0px;
	padding-top: 30px;

	.inner-header {
		@include box-sizing(border-box);
		width: 100%;
		height: 70px;
		background-color: $white;

		.siteinfo {
			width: 72px;
			display: inline-block;
			position: static;
			float: left;
			margin-left: 15px;
			margin-top: -15px;
		}
		.header-region {
			.header-very-top {
				display: inline-block;
				position: absolute;
				top: 5px;
				right: 0px;
				width: auto;

				& > ul {
					display: inline-block;

					li {
						font-size: $em;
						a {
							font-family: $museo;
							font-size: 1em;

							&:hover, &:link, &:visited, &:active {
								color: $white;
								text-decoration: none;
							}
						}

						ul {
							li {

							}
						}
					}
				}
			} /*End .header-very-top*/
			.mobile-header {
				padding-left: 100px;
				padding-top: 7px;
				ul {
					li {
						display: inline-block;
						padding: 0px 5px;
					}
				}

				.fb-orange {
					@extend %fb-o;
				}
				.twit-orange {
					@extend %twit-o;
				}
				.pin-orange {
					@extend %pin-o;
				}
				.hamburger-wrap {
					width: 35px;
					height: 30px;
					position: absolute;
					right: 5%;
					cursor: pointer;
					transform: translate3d(0,0,0);

					-webkit-transition: .5s ease-in-out;
					-moz-transition: .5s ease-in-out;
					-ms-transition: .5s ease-in-out;
					-o-transition: .5s ease-in-out;
					 transition: .5s ease-in-out;

					&.active {
					 	-webkit-transform-origin: 50%  48%;
						 transform: rotate(90deg);
						-webkit-transform: rotate(90deg);
					    -moz-transform: rotate(90deg);
					    -o-transform: rotate(90deg);
					    -ms-transform: rotate(90deg);
					}
					.hamburger-line {
						background-color: $light-orange;
						height: 20%;
						width: 100%;
						display: block;
						margin-top: 10%;

						&:first-child {
							margin-top: 0px;
						}
					}
				}/* End .hamburger-wrap*/
			}/* End .mobile-header*/
			.header-main-menu {
				position: fixed;
				right: -240px;
				top: 0px;
				bottom: 0px;
				width: 240px;
				background-image: url('../img/sw-px-bg.png');
				z-index: 1000;
				padding-right: 20px;
				text-align: right;
				overflow-y: scroll;

				-webkit-transition: .5s ease-in-out;
				-moz-transition: .5s ease-in-out;
				-ms-transition: .5s ease-in-out;
				-o-transition: .5s ease-in-out;
				 transition: .5s ease-in-out;
        border-left: 1px solid white;

				&.active {
					right: 0px;
				}

				.level-1-ul {
					.level-1-li {
						display: block !important;
						padding: 10px 0px;

						a {
							color: $white;
							font-family: $museo;
							font-weight: 500;
							font-size: 2.6 * $em;

							&.heavy {
								font-weight: 900;
							}

							&.italic {
								font-style: italic;
							}
						}
					}
				}
			} /*End .header-main-menu*/
		} /*End .header-region*/
	} /*End .inner-header*/
} /*End Header*/

/*********
* Sidebars
*******/

body.sidebar-first aside.sidebar-first {
	@include box-sizing(border);
	left: auto !important;
	float: none !important;
	display: inline-block;
	vertical-align: top;
	padding-left: 0px;
	padding-top: 20px;
	width: 20%;

	.main-menu {
		a {
			font-size: 1.3 * $em;
			font-family: $museo;
			font-weight: 700;

			&.active {
				color: $orange;
				font-weight: 900;
			}
		}
	}
}

/*********
* Middle
*******/

.not-front.no-sidebars #main {
  padding-left: 20px;
  padding-right: 20px;
}


/* Begin type SW Item*/
.menu-category-page {

	.hidden {
		display: none;
	}

	article.node {
		padding: 0px !important;
	}

	/*Sandwich stuff*/
	.sandwich-link {
		display: inline-block;
		width: 100%;
		clear: both;
		text-align: center;
		font-family: $museo;

		a {
			font-size: 1.5 * $em;
			color: $white;
			cursor: pointer;
			text-decoration: none;
			padding: 5px 0;
			border: 1px solid $orange;
			background-color: $orange;
			width: 99%;
			margin: auto;
			display: block;
		}

		a.active {
			color: $orange;
			cursor: default;
			display: inline-block;
			background-color: white;
		}
	}

	.menu-block {
		h2.title {
			font-family: $museo;
			font-size: $em *2.4;
			font-style: italic;
			font-weight: 900;
			margin-right: auto;
			margin-left: auto;
			margin-bottom: 2.4 * $em;
			width: 96%;
			text-align: center;
		}
		.field-content {
			@include box-sizing(border);
			width: 100%;
			padding: 0px 2%;

			a:first-child {
				display: block;
				max-width: 180px;
				width: 100%;
				margin: 0px auto;

				img {
					display: block;
					width: 100%;
				}
			}

			.wrap {
				padding-top: 20px;
				font-size: $em;
				font-family: $museo;
				width: 100%;
				max-width: 250px;
				display: block;
				margin: 0px auto;
				padding-bottom: 20px;

				a {
					font-size: 2.4em;
					color: $orange;
					font-style: italic;
					font-weight: 900;
					display: inline-block;
					font-family: $museo;
					padding-bottom: 10px;
				}
				p {
					font-size: 1.4em;
					font-weight: 500;
				}
			}
		}
	}
}
.soup-page {
	.nutrition-wrap {
		opacity: 0;
		display: none;
		visibility: hidden;
	}
	.cyo-section {
		display: none;
	}
	.fake-button, .content {
	  display: none;
	  visibility: hidden;
	}
	.sidebar-first {
	  width: 100% !important;

    nav.section-menu {
      h2 {
        display: none;
        visibility: hidden;
      }
      ul.main-menu {
        width: 80%;
        margin: auto;
        li {
          width: 48%;
          padding-right: 10px;
          display: inline-block;
          a:hover, a:active {
            color: $orange;
          }
        }
      }
    }
	}
}
.node-type-sw-item {
	.sidebar-first {
	  width: 100% !important;

    nav.section-menu {
      h2 {
        display: none;
        visibility: hidden;
      }
      ul.main-menu {
        width: 80%;
        margin: auto;
        li {
          width: 45%;
          margin-right: 4%;
          display: inline-block;
        }
      }
    }
	}
}
.node-type-page {
	.page-title {
		font-size: 38px;
		font-family: $museo;
		color: $orange;
		font-weight: 900;
		font-style: italic;
	}
	#main-content {
		padding-top: 40px;
	}
	article {
		sup {
			font-size: 70%;
			line-height: 70%;
			padding-left: 2px;
		}
		li, p {
			font-size: 1.4 * $em;
			font-family: $museo;
			font-weight: 500;
			line-height: 21px;
		}
		p {
			padding-bottom: 1.4 * $em;
			img {
				padding: 10px 0px 10px 10px;
			}
		}
		li {
			display: list-item;
			list-style-type: disc;
		}
		ul {
			padding-left: 20px;
		}
		h2, h3, h4, h5, h6 {
			font-family: $museo;
			font-weight: 900;
			font-style: italic;
			padding-top: 1.4 * $em;
			padding-bottom: 1.4 * $em;
		}

		h2, h4, h6 {
			color: $orange;
		}

		h3, h5 {
			color: black;
		}

		h2, h3 {
			font-size: 2.0 * $em;
		}

		h4, h5, h6 {
			font-size: 1.6 * $em;
		}

		h6 {
			text-transform: uppercase;
		}

		padding-bottom: 10px;
	}
} /*End node type: PAGE*/

/* Begin type SW Item*/
.node-type-sw-item {

	.page-title {
		font-size: 38px;
		font-family: $museo;
		color: $orange;
		font-weight: 900;
		font-style: italic;
		padding-left: 15px;
	}
	#main-content {
		padding-top: 0px;
	}
	.salad-wrap {
		padding: 20px 0px 40px 0;
		width: 90%;
		display: block;
		margin: 0px auto;
		clear: both;

		p {
			padding-top: 20px;
			font-size: 1.2 * $em;
			font-family: $museo;
			font-weight: 500;
			color: black;
			line-height: 1.3 * $em;
		}

    .fake-button {
      display: block;
      margin-bottom: 15px;
      margin-top: 10px;
      a {
        display: inline;
        width: auto;
        padding: 7px 15px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        text-align: right;
        border: 1px solid;
        background: url("../img/sw-px-bg.png") repeat;
        color: #fff;
        font-weight:bold;
        font-size: 14px;
        float: right;
      }
      a:hover {
        color: #fff;
      }
    }

	}

	.nutrition_board {
		width: 90%;
		display: block;
		padding: 5px 0px;
		margin: 0px auto 20px auto;
		border: 1px solid black;

		.inner-table {
			width: 100%;
			display: block;

			tr {
				display: block;
				padding: 3px 0px;
			}

			.black-bar {
				width: 100%;
				display: block;
			}

			.eight {
				height: 8px;
			}

			.five {
				height: 5px;
			}
		}

		.style5, .style8, .style9 {
			padding-left: 5px;
		}
	}
	.disclaimer {
		width: 90%;
		display: block;
		margin: 0px auto;
		font-size: 9px;
		padding-bottom: 20px;
		text-align: left !important;
		letter-spacing: 0.05em;
	}
}

.salad-add-ons, .sandwich-add-ons, .soup-add-ons {
  padding: 0 20px;
}

body.one-sidebar{
	div#main-content{
		display: inline-block !important;
	}
}

.side-salad {
	display: none;
}

.cyo-salad-page.not-front .page #main-content {
  margin-bottom: 20px;
}

/******* Home ******/
.homepage-order {
	h2 {
		box-sizing: border-box;
		width: 95%;
		margin-right: 5%;
		padding: 30px 0 30px 15px;
		font-size: 4 * $em;
		line-height: 3.2 * $em;
		font-family: $museo;
		font-weight: 900;
		font-style: italic;
		color: $orange;
		text-align: center;
	}

	.button-wrap {
		.order-button {
			display: block;
			width: 100%;
			font-size: 2 * $em;
			color: $white;
			font-family: $museo;
			text-decoration: none;
			line-height: 2em;
			text-align: center;

			&:first-child {
				margin-bottom: $em;
			}
		}
		.orange {
			background: $bg-solid;
		}
	}
	.description {
		font-size: 1.4 * $em;
		text-align: center;
		color: black;
		padding: 5px 0px;
		font-family: $museo;
	}

	.zipcode-label {
		display: block;
		width: 90%;
		margin: 0px auto;
		text-align: center;
		font-family: $museo;
		font-size: 1.6 * $em;

		#ot_zip {
			border: 1px solid black;
			height: 28px;
			width: 80px;
			margin-left: 10px;
			font-family: $museo;
			padding-left: 10px;
			font-size: 1.4 * $em;
		}
		#ot_submit {
			margin-left: 20px;
			padding: 6px 10px;
			background: $bg-solid;
			color: $white;
			font-family: $museo;
			font-size: 1.6 * $em;
		}
	} /*End Zipcode label*/

	.fresh-fanclub-callout {

		display: block;
		margin-top: 25px;

		h3 {
			text-align: center;
			a {
				text-align: center;
				text-decoration: none;
				font-family: $museo;
				font-size: 30px;
				font-weight: 900;
				color: $orange;
				font-style: italic;
			}
		}
		p {
			text-align: center;
			a {
				font-family: $museo;
				font-size: 18px;
				font-weight: 700;
				color: $orange;
			}
		}
	}
} /*End Homepage Order*/
.home-page-callout {
  z-index: 9999;
  display: block;

	@include transition(.3s, opacity);
	.field-content {
		position: relative;
		font-family: $museo;
		width: 275px;
		margin: 0px auto;

		a {
		  display: inline-block;
		}
	}

	.title-wrap {
		display: inline-block;
		position: absolute;
		left: 100px;
		top: 65px;
		font-size: $em;
		font-style: italic;

		h2 {
			font-size: 3.4em;
			line-height: 1em;
			font-weight: 900;
			text-indent: -12px;
		}
		h3 {
			font-size: 2.2em;
			line-height: .7em;
			font-weight: 900;
		}

	}
	.callout-body {
		display: inline-block;
		position: absolute;
		left: 95px;
		top: 135px;
		width: 150px;
		font-size: 1.6 * $em;
	}
	.callout-learn-more {
		display: inline-block;
		font-weight: 900;
		position: absolute;
		left: 95px;
		top: 190px;
		font-size: 1.6 * $em;
	}
} /*End Callout*/

.js {
	.home-page-callout {
		opacity: 0;

		&.ready {
			opacity: 1;
		}
	}
}

/* Insta Widget */
.home-instagram {
	width: 95%;
	display: block;
	padding: 0px 0px 20px 0px;
	@extend %margin_auto;

	.view-header {
		background: $bg-solid;
		.views-field-profile-picture {
			height: 40px;
			span {
				width: 100%;
				display: inline-block;
				vertical-align: top;
			}
			.profile-pict-link {
				display: inline-block;
				height: 40px;

				img {
					height: 100%;
					width: auto;
					padding-right: 5px;
					background-color: $white;
				}
			} /*End .profile-pict-link*/
			.instagram-logo {
				display: inline-block;
				vertical-align: top;
				width: 20%;
				margin-top: 13px;
				max-height: 20px;
			}
		} /*End .views-field-profile-picture*/
	} /*End .view-header*/
	.skin-default {
		padding-top: 15px;
		.bxslider-views-slideshow-main-frame-row {
			.field-content {
				@include box-sizing(border);
				padding: 5px;
				display: inline-block;

				img {
					@include box-sizing(border);
					padding: 3px;
					-webkit-box-shadow: 1px 1px 3px 0px rgba(107,60,33,1);
					-moz-box-shadow: 1px 1px 3px 0px rgba(107,60,33,1);
					box-shadow: 1px 1px 3px 0px rgba(107,60,33,1);
					overflow: visible;
				}
			}
		}
	} /*End .skin-defualt*/
} /*End .home-instagram*/


/** home page slideshow **/
.homepage-slider {
  max-height: 340px;
  overflow-y: hidden;
}


.ig-b- {
	display: inline-block;
	vertical-align: top;
	float: right;
	margin: 8px 10px 0px 0px;

	img {
		visibility: hidden;
	}

	&:hover {
		background-position: 0 -60px;
	}

	&:active {
		background-position: 0 -120px;
	}
}

.ig-b-v-24 {
	width: 137px;
	height: 24px;
	background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2 / 1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
	.ig-b-v-24 {
		background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png);
		background-size: 160px 178px;
	}
}


/*********
* Footer
*******/

#global-footer {
	@extend %one-one;
	background-image: url('../img/sw-grad-bg.png'), url('../img/sw-px-bg.png');
	background-repeat: repeat-x, repeat;
	background-position: left bottom, left top;
	padding-top: 20px;
	position: relative;

	.inner-footer {
		width: 95%;
		display: block;
		margin: 0px auto;
		font-size: 0;

		.footer-about {
			@extend %four-nine;
			font-size: $em;

		  	h2 {
		  		font-size: 3em;
		  		line-height: 1em;
		  		margin-bottom: $em;
		  		color: $white;
		  		@extend %bold-italic-header;
		  	}
		  	p {
		  		line-height: 1.8 * $em;
		  		font-size: 1.3 * $em;
		  		@extend %normal-text;
		  	}
		}

		nav.footer-menu {
			@extend %two-nine;
			width: 100%;
			font-size: $em;
			padding-top: 20px;

			ul {

				li {
					margin: 15px 0px;
					font-size: 1.4em;
					text-align: left;
					a {
						color: $white;
						font-weight: 700;
					}
				}
			}
		}

		.footer-social {
			@extend %one-six;
			position: absolute;
			top: 20px;
			left: 50%;
			font-size: $em;
			width: 170px;
			text-align: center;
			margin-left: -85px;
      display: none;
      visibility: hidden;
			ul {
			}
			p{

			}
			li {
				display: inline-block;
				font-size: 0;
				padding: 0px 15px;
			}
			.fb-white {
				@extend %fb-w;
			}
			.twit-white {
				@extend %twit-w;
			}
			.pin-white {
				@extend %pin-w;
			}
		}

		.footer-franchise-ops {
			@extend %one-six;
			text-align: left;
			font-size: $em;
			padding-bottom: 20px;
      p {
        display: inline-block;
        float: left;
        left: -40px;
        position: relative;
      }
			img {
				display: block;
				margin: 0px;
			}
			h2 {
        margin-top: 40px;
        display: inline-block;
        a {
          @extend %bold-italic-header;
          text-decoration: none;
          color: $white;
          font-size: 1.8 * $em;
          line-height: 1.2 * $em;
          left: -50px;
          position: relative;
        }
      }
			h4 a {
				@extend %normal-text;
				text-decoration: none;
				font-size: 1.2 * $em;
				padding-top: 10px;
				display: inline-block;
        left: -50px;
        position: relative;
			}
		}

		.footer-copyright {
			@extend %one-one;
			color: $white;
			font-size: $em;
			padding: 10px 0px;
		}
	}
}
/* Insta Widget */
.home-instagram {
	.bx-prev {
		background-image: url('../img/arrow-left-small.png') !important;
		height: 14px !important;
		width: 12px !important;
		left: -20px;
		background-position: left top !important;
		background-repeat: no-repeat !important;
		opacity: 0;
	}

	.bx-next {
		background-image: url('../img/arrow-right-small.png') !important;
		height: 14px !important;
		width: 12px !important;
		right: -20px;
		background-position: left top !important;
		background-repeat: no-repeat !important;
		opacity: 0;
	}
	.view-header {
		.views-field-profile-picture {
			span {
			}
			.profile-pict-link {
				img {
				}
			} /*End .profile-pict-link*/
			.instagram-logo {
			}
		} /*End .views-field-profile-picture*/
	} /*End .view-header*/
	.skin-default {
		.bxslider-views-slideshow-main-frame-row {
			.field-content {
				img {
				}
			}
		}
	} /*End .skin-defualt*/
} /*End .home-instagram*/



/**** general form fields and wrappers *****/
.uc-product-node .page-title { display: none; visibility: hidden; }
.page-user, .page-gift-cards, .node-type-gift-card, .uc-product-node, .page-cart {

  .block-wrapper {
    width:85%;
    margin:0 auto;
    font-size: 1.4em;
    font-weight: 500;
  }
  .field-wrapper, .form-required, #edit-actions, .fieldset-wrapper {
    display: inline-block;
    width: 100%;
    clear: both;
    margin: 0 0 10px 0;
    position: relative;
    text-align: left;
  }
  label {
    display: inline;
    min-width: 30%;
    line-height: 30px;
    float: left;
    font-weight: normal;
  }
  @media only screen and (max-width:320px) {
    label {
      font-size: 80%;
    }
  }
  @media only screen and (min-width:321px) and (max-width:479px) {
    label {
      font-size: 85%;
    }
  }

  label.error {
    width: 58%;
    clear: both;
    display: inline-block;
    color: #f00;
    margin: 0 0 0 41%;
    padding: 3px;
  }
  small, .field-description {
    clear: both;
    width: 60%;
    color: #999;
    font-size: 80%;
    float: right;
    padding-top: 3px;
    display: block;
  }
  input[type="text"], input[type="password"], textarea, select {
    width: 60%;
    height: 22px;
    padding: 3px;
    display: inline;
    float: right;
    border: 1px solid #000;
    background: #fff;
  }
  input:-webkit-autofill {
    background-color: rgb(255, 255, 255) !important;
  }
  input[type="button"], input[type="submit"], .fake-button a, #cart-form-pane #uc-cart-view-form #edit-actions a, #cart-form-pane #uc-cart-view-form #edit-actions input[type="submit"] {
    display: inline;
    width: auto;
    padding: 7px 15px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-align: right;
    border: 1px solid;
    background: url("../img/sw-px-bg.png") repeat;
    color: #fff;
    font-weight:bold;
    font-size: 14px;
  }
  input[type="button"], input[type="submit"], .fake-button a, #cart-form-pane #uc-cart-view-form #edit-actions input[type="submit"] {
    float: right;
  }
  #cart-form-pane #uc-cart-view-form #edit-actions a {
    float: left;
    margin-top: 0;
  }
  .fake-button a, .fake-button a:hover, input[type="button"]:hover, input[type="submit"]:hover, #cart-form-pane #uc-cart-view-form #edit-actions a:hover, #cart-form-pane #uc-cart-view-form #edit-actions input[type="submit"]:hover {
    color: #fff;
  }
  .form-actions {
    display: inline-block;
    float: right;
  }
  #uc-cart-view-form {
    #edit-update {
      display: none !important;
      visibility: hidden;
    }
  }
  #uc-cart-view-form table.tableheader-processed {
    .remove input[type="submit"] {
      padding: 7px;
      font-size: 10px;
      text-transform: uppercase;
    }
    .image {
      width: 100px;
      height: auto;
      a {
        display: inline-block;
        width: 100%;
        img {
          float: none;
          padding: 0;
          width: 100%;
          display: inline-block;
        }
      }
    }
    .desc a {
      text-decoration: none;
      color: $orange;
      &:visited, &:hover, &:active { text-decoration: none; }
    }
  }
}


/* catalog page */
.page-gift-cards {
  .node-dynamic-views-content {
    font-size: 1.4em;
    font-weight: 500;
    padding: 0 0 20px 0;
  }
  .page {
    width: 95%;
    margin: auto;
  }
  #main-content {
    max-width: 500px;
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
  }
  .gift-card-product-wrapper {
    display: inline-block;
    width: 49%;
    margin: 0;
    padding: 0;
  }
  h2 a, h2 a:visited, h2 a:active, h2 a:hover {
    font-family: $museo;
    font-weight: 900;
    font-style: italic;
    padding-top: 1.4 * $em;
    padding-bottom: 1.4 * $em;
    font-size: 2.0 * $em;
    color: $orange;
  }
  .view-header article h2 {
    display: none;
    visibility: hidden;
  }
}


/* product landing page */
.ubercart-product.node-gift-card {
  margin: 0 15px;
  h2 {
    text-align: center;
    font-family: $museo;
    font-weight: 900;
    font-style: italic;
    padding-top: 1.4 * $em;
    padding-bottom: 1.4 * $em;
    font-size: 2.0 * $em;
    color: $orange;
  }
  .giftcardImage {
    display: block;
    clear: both;
    min-width: 300px;
    width: 85%;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;

    h2 { display: inline-block; text-align: center; clear: both; visibility: visible; }
  }
  .productInfo {
    display: block;
    clear: both;
    width: 85%;
    margin: auto;

    h2 { display: none; visibility: hidden; }
    label { display: inline-block; width: auto; min-width: 0; font-size: 100%; line-height: 22px; }
  }
}
@media only screen and (min-width: 450px) {
  .ubercart-product.node-gift-card {
    margin: 0 30px;

    .giftcardImage {
      display: inline-block;
      clear: left;
      float: left;
      min-width: 120px;
      width: 25%;
      max-width: 150px;
      margin: 0;
      text-align: left;
      padding-bottom: 0px;
      padding-top: 15px;

      h2 { display: none; visibility: hidden; }
    }
    .productInfo {
      display: inline-block;
      clear: right;
      width: 70%;
      margin: 0 0 0 3%;

      h2 { display: inline-block; text-align: center; clear: both; visibility: visible; }
      .node-type-gift-card select, .node-type-gift-card small {
        float: none;
        display: inline-block;
        margin-left: 10px;
      }
    }
    .add-to-cart.block-wrapper form{
      max-width: 300px;
    }
  }
}


/* cart page */
.page-cart {
  .uc-cart-empty {
    font-size: 1.4em;
    font-weight: 500;
  }
 table {
    border: 1px solid #666;
    margin-bottom: 15px;
    font-size: 1.4em;
    font-weight: 500;

    th, td {
      border-bottom: 1px solid #666;
      padding: 7px 15px;
    }
    tr.summaryRow {
      border-bottom: none;
      border-top: 1px double #666;
      background-color: #fff;
    }
    tr.odd {
      background-color: #fff;
    }
    thead, tr.even {
      background-color: #eee;
    }
    thead {
			font-family: $museo;
			font-weight: 900;
			font-style: italic;
			padding-top: 1.4 * $em;
			padding-bottom: 1.4 * $em;
			font-size: 2.0 * $em;
      color: $orange;
    }
  }
  input[type="text"], input[type="password"], textarea, select {
    float: left;
  }
  textarea#edit-panes-comments-comments {
    height: 50px;
  }
}


/* checkout page */
.page-cart-checkout {
  font-size: 1.4em !important;
  font-weight: 500 !important;
  #uc-cart-checkout-form {
    padding: 0 15px;
  }
  .fieldset-description, label, input, select, option {
    font-size: 1.4em !important;
    font-weight: 500 !important;
    margin-bottom: 3px;
  }

  fieldset legend span {
      text-align: center;
      font-family: $museo;
      font-weight: 900;
      font-style: italic;
      padding-top: 1.4 * $em;
      padding-bottom: 1.4 * $em;
      font-size: 2.0 * $em;
      color: $orange;
  }
  label span.form-required {
    width: auto;
    clear: none;
    display: inline;
    margin: 0;
  }
  .uc-store-address-field.form-wrapper {
    div { width: 100%; display: inline-block; }
  }
  #edit-panes-delivery-address div, #edit-panes-billing-address div, #uc-store-address-billing-zone-wrapper {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  fieldset#customer-pane {
    .fieldset-wrapper {
      max-width: 480px;
      float: left;
      display: inline-block;

      .form-wrapper div {
        display: inline-block;
        width: 100%;
        margin: 0;
        padding: 0;
      }
    }
    fieldset#delivery-pane, fieldset#quotes-pane, fieldset#billing-pane {
      .fieldset-wrapper {
        max-width: 480px;
        width: 100%;
        float: left;
        display: inline-block;
      }
    }
    fieldset#quotes-pane #quote {
      display: inline-block;
      clear: both;
    }
  }
  fieldset#quotes-pane, fieldset#payment-pane, fieldset#comments-pane {
    margin-left: 0;
    width: 100%;
    clear: both;
    display: inline-block;
    float: left;
  }
  fieldset#quotes-pane {
      #quote {
      	width: 100%;
      	clear: both;
      	display: inline-block;
      	div { width: 100%; clear: both; display: inline-block; margin-bottom: 3px;}
      	input[type="radio"] { float: left; margin-right: 10px;}
      	label { float: none; line-height: 100%; }
    }
  }
  #payment-pane .fieldset-wrapper {
    #line-items-div {
      float: right;
      display: inline-block;
    }
    .form-disabled.form-required {
      display: inline-block;
      width: auto;
      #edit-panes-payment-payment-method {
        .form-radios input[type="radio"] { float: left; margin-right: 10px;}
        label { float: none; line-height: 100%; }
      }
    }
  }

  @media only screen and (min-width: 680px) {
    #uc-cart-checkout-form {
      padding: 0 30px;
    }
    fieldset#delivery-pane, fieldset#billing-pane {
        max-width: 480px;
        width: 49%;
        float: none;
        display: inline-block;
        vertical-align: top;
    }
    .fieldset-wrapper {
      width: 100%;
      display: inline-block;
    }
  }

}


/* checkout confirmation page */
.page-cart-checkout-review
{
  #review-instructions {
    font-size: 1.4em !important;
    font-weight: 500 !important;
  }
  .page-cart table {
    max-width: 600px;
    width: 100%;
  }
}

/*Checkout Punchlist*/

#payment-pane {
	legend {
		display: none;
	}
	.form-disabled {
		display: none;
	}
}

#quotes-pane input[type="submit"] {
	position: relative;
	top: 5px;
	right: 20px;
}
.cred-info {
	text-align: center;
	font-family: "museo-sans", Helvetica, Arial, sans-serif;
	font-weight: 900;
	font-style: italic;
	padding-top: 14px;
	padding-bottom: 14px;
	font-size: 20px;
	color: #e45700;
}

.page-cart #edit-update {
	display: none;
}





/***************
* Backend
*************/

/***Login***/

.page-user, .admin-menu:not(.front) {
	.page-wrap {
		padding-top: 40px;
	}
	h1 {
		font-family: $museo;
		color: white;
		font-style: italic;
		font-weight: 900;
		padding-bottom: 20px;
	}
	ul.tabs {
		margin-bottom: 20px;
		li {
			display: inline-block;
			padding: 10px !important;
			background-color: white;
			border-radius: 3px 15px;
			border: 1px solid $rust-orange;
			margin: 0px 5px;

			a {
				background-color: transparent;
				color: $orange;
				font-family: $museo;
			}

		&.active {
			background-color: $rust-orange;
			border: 1px solid $white;

			a {
				color: $white !important;
			}
		}
		}
	}
	form {
		label {
			display: inline-block;
			font-family: $museo;
			font-weight: 900;
			font-style: italic;
			width: 120px;
			font-size: 2 * $em;
		}
		input {
			font-family: $museo;
			padding: 5px;
			border-radius: 3px;
			border: 1px solid $rust-orange;
			width: 300px;
		}
		input[type="submit"] {
			background-color: $rust-orange;
			color: white;
			font-weight: 900;
			border-radius: 3px;
			width: 80px;
		}
		div {
			padding-bottom: 20px;
		}
		small {
			color: white;
			font-family: $museo;
			font-size: $em;
			padding-top: 5px;
			padding-left: 130px;
		}
	}
}

.admin-menu {
	nav.tabs {
		position: relative;
		bottom: 15px;
	}
}
.node-type-secondary-landing-page.admin-menu, .is-photo-tour.admin-menu {
	nav.tabs {
		bottom: 35px;
	}
}

/*td.image {
	opacity: 0;
	visibility: hidden;
}*/

.olive-disclaimer p {
	font-size: 9px;
	margin-bottom: 20px;
}