#holds-color-1, #holds-color-2, #holds-color-3 {
	display: none !important;
}

.only-desktop, .only-big-screen {
	display: none !important;
}

.right {
	display: none !important;
	visibility: hidden !important;
	opacity: 0 !important;
}

.phantom-block {
	display: none;
}