$em: 10px;
$light-orange: #ee7421;
$orange: #e45700;
$rust-orange: #cb4800;
$red: #da2e00;
$white: #fff;
$menu-num-orange: #d44d00;
$museo: "museo-sans", Helvetica, Arial, sans-serif;
$bg-grad: url('../img/sw-grad-bg.png'), url('../img/sw-px-bg.png');
$bg-solid: url('../img/sw-px-bg.png') repeat;