/*
 *  SaladWorks by Thomas Peduto
 *  Web Developer, Star Group
 *  tpeduto@stargroup1.com
 */


//Reset and variables
@import "_reset";
@import "_vars";
@import "_delete";

//Base styles for all devices
@import "_base";

//Styles for portrait phone
@media only screen and (max-width : 479px){
	@import "_479down";
}

//Styles for landscape phone
@media only screen and (min-width : 480px){
	@import "_480up";
}

//Styles for mobile only
@media only screen and (max-width : 767px){
	@import "_767down";
}

//Styles for tablet portrait
@media only screen and (min-width : 768px){
	@import "_768up";
}

//Styles for tablet landscape
@media only screen and (min-width : 1024px){
	@import "_1024up";
}

//Styles for computer screens
@media only screen and (min-width : 1280px){
	@import "_1280up";
}

//Styles for computer screens
@media only screen and (min-width : 1366px){
	@import "_1366up";
}

//Styles for computer screens
@media only screen and (min-width : 1440px){
	@import "_1440up";
}

//Styles for very large computer screens
@media only screen and (min-width : 1600px){
	@import "_1600up";
}

//Styles for very large computer screens
@media only screen and (min-width : 1920px){
	@import "_1920up";
}

//Styles for Portrait phone
@media only print {
	@import "_print";
}

.ie8 {
	@import "_ie8";
}
